Repository snowflakedb/snowpark-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir, @snowflakedb/snowpark-pandas-api

add change log
  CHANGELOG.md
Owners: none

add change log
  CHANGELOG.md
Owners: none

PR feedback on local testing files (#2615)
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_nop_connection.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udtf.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

PR feedback on local testing files (#2615)
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_nop_connection.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udtf.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

code rev suggestions
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  tests/integ/modin/frame/test_align.py
  tests/integ/modin/series/test_align.py
Owners: @snowflakedb/snowpark-pandas-api

code rev suggestions
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  tests/integ/modin/frame/test_align.py
  tests/integ/modin/series/test_align.py
Owners: @snowflakedb/snowpark-pandas-api

cleanup via counter
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
Owners: @snowflakedb/snowpark-pandas-api

cleanup via counter
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
Owners: @snowflakedb/snowpark-pandas-api

address comments
  CHANGELOG.md
Owners: none

address comments
  CHANGELOG.md
Owners: none

SNOW-1491199 IR: Fix conda requirements
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

SNOW-1491199 IR: Fix conda requirements
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

v0 working with join issue
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/session.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

v0 working with join issue
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/session.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

update
  src/snowflake/snowpark/_internal/proto/generated/ast_pb2.pyi
  src/snowflake/snowpark/catalog.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

update
  src/snowflake/snowpark/_internal/proto/generated/ast_pb2.pyi
  src/snowflake/snowpark/catalog.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

fix test
  tests/integ/test_stored_procedure_profiler.py
Owners: @snowflakedb/snowpark-python-api-reviewers

fix test
  tests/integ/test_stored_procedure_profiler.py
Owners: @snowflakedb/snowpark-python-api-reviewers

revert docstring
  src/snowflake/snowpark/relational_grouped_dataframe.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Revert docstring (#2619)
  src/snowflake/snowpark/relational_grouped_dataframe.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Revert docstring (#2619)
  src/snowflake/snowpark/relational_grouped_dataframe.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1787415 Fix dataframe ast to register udtf for replay execution using client created udtf in same client session
  src/snowflake/snowpark/_internal/ast_utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_nop_plan.py
  src/snowflake/snowpark/mock/_udtf.py
  src/snowflake/snowpark/udtf.py
  tests/ast/ast_test_utils.py
  tests/ast/data/udtf.test
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1787415 Fix dataframe ast to register udtf for replay execution using client created udtf in same client session
  src/snowflake/snowpark/_internal/ast_utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_nop_plan.py
  src/snowflake/snowpark/mock/_udtf.py
  src/snowflake/snowpark/udtf.py
  tests/ast/ast_test_utils.py
  tests/ast/data/udtf.test
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

refactor label_map
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  tests/integ/modin/frame/test_align.py
Owners: @snowflakedb/snowpark-pandas-api

refactor label_map
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  tests/integ/modin/frame/test_align.py
Owners: @snowflakedb/snowpark-pandas-api

fix test
  tests/integ/test_stored_procedure_profiler.py
Owners: @snowflakedb/snowpark-python-api-reviewers

fix test
  tests/integ/test_stored_procedure_profiler.py
Owners: @snowflakedb/snowpark-python-api-reviewers

SNOW-1491199 IR: Fix conda requirements (#2617)
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

SNOW-1491199 IR: Fix conda requirements (#2617)
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

SNOW-1491199 IR: Fix conda requirements (#2617)
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

cleanup
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
Owners: @snowflakedb/snowpark-pandas-api

cleanup
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
Owners: @snowflakedb/snowpark-pandas-api

Update
  tests/ast/ast_test_utils.py
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/udtf.test
  tests/ast/test_ast_driver.py
Owners: @snowflakedb/snowpark-ir

Update
  tests/ast/ast_test_utils.py
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/udtf.test
  tests/ast/test_ast_driver.py
Owners: @snowflakedb/snowpark-ir

Update
  tests/ast/test_ast_driver.py
Owners: @snowflakedb/snowpark-ir

Update
  tests/ast/test_ast_driver.py
Owners: @snowflakedb/snowpark-ir

fix changelog
  CHANGELOG.md
Owners: none

fix changelog
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

* @snowflakedb/snowpark-python-api-reviewers
/src/snowflake/snowpark/ @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
/src/snowflake/snowpark/modin/ @snowflakedb/snowpark-pandas-api
/src/snowflake/snowpark/_internal/ast @snowflakedb/snowpark-ir
/tests/ast/ @snowflakedb/snowpark-ir
/tests/unit/ast/  @snowflakedb/snowpark-ir
/tests/integ/modin/ @snowflakedb/snowpark-pandas-api
/tests/unit/modin/ @snowflakedb/snowpark-pandas-api
/docs/modin_api_coverage/ @snowflakedb/snowpark-pandas-api
/docs/source/modin/ @snowflakedb/snowpark-pandas-api
/tests/notebooks/ @snowflakedb/snowpark-pandas-api
/.github/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
/scripts/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
setup.py @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
tox.ini @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CONTRIBUTING.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
tests/README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CHANGELOG.md
