Repository snowflakedb/snowpark-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir, @snowflakedb/snowpark-pandas-api

.github/CODEOWNERS:

* @snowflakedb/snowpark-python-api-reviewers
/src/snowflake/snowpark/ @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
/src/snowflake/snowpark/modin/ @snowflakedb/snowpark-pandas-api
/src/snowflake/snowpark/_internal/ast @snowflakedb/snowpark-ir
/tests/ast/ @snowflakedb/snowpark-ir
/tests/unit/ast/  @snowflakedb/snowpark-ir
/tests/integ/modin/ @snowflakedb/snowpark-pandas-api
/tests/unit/modin/ @snowflakedb/snowpark-pandas-api
/docs/modin_api_coverage/ @snowflakedb/snowpark-pandas-api
/docs/source/modin/ @snowflakedb/snowpark-pandas-api
/tests/notebooks/ @snowflakedb/snowpark-pandas-api
/.github/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
/scripts/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
setup.py @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
tox.ini @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CONTRIBUTING.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
tests/README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CHANGELOG.md

SNOW-1803169: Fix test_str_len_list_coin_base to account for sql simplifier
  tests/integ/modin/series/test_str_accessor.py
Owners: @snowflakedb/snowpark-pandas-api

test with and without sql simplifier
  tests/integ/modin/series/test_str_accessor.py
Owners: @snowflakedb/snowpark-pandas-api

SNOW-1491199 IR: Fix conda requirements (#2617)
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

SNOW-1491199 IR: Fix conda requirements (#2617)
  recipe/meta.yaml
Owners: @snowflakedb/snowpark-python-api-reviewers

SNOW-1803169: Fix test_str_len_list_coin_base to account for sql simp lifier (#2621)
  tests/integ/modin/series/test_str_accessor.py
Owners: @snowflakedb/snowpark-pandas-api

SNOW-1803169: Fix test_str_len_list_coin_base to account for sql simp lifier (#2621)
  tests/integ/modin/series/test_str_accessor.py
Owners: @snowflakedb/snowpark-pandas-api

SNOW-1803169: Fix test_str_len_list_coin_base to account for sql simp lifier (#2621)
  tests/integ/modin/series/test_str_accessor.py
Owners: @snowflakedb/snowpark-pandas-api

SNOW-1491199 Improve developer experience related to protoc (#2611)
  setup.py
  tox.ini
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Improve developer experience related to protoc (#2611)
  setup.py
  tox.ini
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Improve developer experience related to protoc (#2611)
  setup.py
  tox.ini
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Add assert to fetch additional details about the subsequent failure
  src/snowflake/snowpark/mock/_analyzer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Add assert to fetch additional details about the subsequent failure
  src/snowflake/snowpark/mock/_analyzer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

address comments
  src/snowflake/snowpark/types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

address comments
  src/snowflake/snowpark/types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

fix test
  tests/unit/test_types.py
Owners: @snowflakedb/snowpark-python-api-reviewers

fix test
  tests/unit/test_types.py
Owners: @snowflakedb/snowpark-python-api-reviewers

One more assert (possibly too broad and incorrect)
  src/snowflake/snowpark/mock/_analyzer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

One more assert (possibly too broad and incorrect)
  src/snowflake/snowpark/mock/_analyzer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

placeholder
  src/snowflake/snowpark/types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

placeholder
  src/snowflake/snowpark/types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

fix test
  tests/ast/data/col_alias.test
Owners: @snowflakedb/snowpark-ir

Update NopAnalyzer.do_resolve signature to match MockAnalyzer
  src/snowflake/snowpark/mock/_nop_analyzer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Update NopAnalyzer.do_resolve signature to match MockAnalyzer
  src/snowflake/snowpark/mock/_nop_analyzer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Restore the stored procedure registry lookup in the mock
  src/snowflake/snowpark/mock/_stored_procedure.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Restore the stored procedure registry lookup in the mock
  src/snowflake/snowpark/mock/_stored_procedure.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

add parse datatype from json function
  src/snowflake/snowpark/types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

add parse datatype from json function
  src/snowflake/snowpark/types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1791051: Add support for iceberg to dynamic table create (#2614)
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/scala/test_datatype_suite.py
  tests/unit/test_analyzer_util_suite.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1791051: Add support for iceberg to dynamic table create (#2614)
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/scala/test_datatype_suite.py
  tests/unit/test_analyzer_util_suite.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1791051: Add support for iceberg to dynamic table create (#2614)
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/scala/test_datatype_suite.py
  tests/unit/test_analyzer_util_suite.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

fix protoc dependency to fix python publish
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix publish job
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

NO-SNOW: fix protoc dependency to fix python publish (#2626)
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

NO-SNOW: fix protoc dependency to fix python publish (#2626)
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

NO-SNOW: fix protoc dependency to fix python publish (#2626)
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

NO-SNOW: fix protoc dependency to fix python publish (#2626)
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

NO-SNOW: fix protoc dependency to fix python publish (#2626)
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1804052 Fix AST `col_alias.test` (#2624)
  tests/ast/data/col_alias.test
Owners: @snowflakedb/snowpark-ir

SNOW-1804052 Fix AST `col_alias.test` (#2624)
  tests/ast/data/col_alias.test
Owners: @snowflakedb/snowpark-ir

SNOW-1491199 Fix publish job
  .github/workflows/python-publish.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir
