Repository snowflakedb/snowpark-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir, @snowflakedb/snowpark-pandas-api

test
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/dataframe.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

test
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/dataframe.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Refine MANIFEST.in file for better packaging
  MANIFEST.in
Owners: @snowflakedb/snowpark-python-api-reviewers

add tests
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

fix error
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

fix error
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
Owners: @snowflakedb/snowpark-pandas-api

remove unncessary comment
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
Owners: @snowflakedb/snowpark-pandas-api

fix error
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
Owners: @snowflakedb/snowpark-pandas-api

fix error
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

fix error
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
Owners: @snowflakedb/snowpark-pandas-api

fix error
  CHANGELOG.md
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

SNOW-1491199 Fix type_checking in daily precommit (#2601)
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix type_checking in daily precommit (#2601)
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix type_checking in daily precommit (#2601)
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Fix daily pre-commit tests (#2604)
  tests/integ/test_multithreading.py
Owners: @snowflakedb/snowpark-python-api-reviewers

Fix daily pre-commit tests (#2604)
  tests/integ/test_multithreading.py
Owners: @snowflakedb/snowpark-python-api-reviewers

Fix daily pre-commit tests (#2604)
  tests/integ/test_multithreading.py
Owners: @snowflakedb/snowpark-python-api-reviewers

fix test
  src/snowflake/snowpark/types.py
  tests/unit/test_types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

fix test
  src/snowflake/snowpark/types.py
  tests/unit/test_types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Improve developer experience related to protoc
  setup.py
  tox.ini
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Improve developer experience related to protoc
  setup.py
  tox.ini
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

Update
  tests/ast/data/df_analytics_functions.test
Owners: @snowflakedb/snowpark-ir

Update
  tests/ast/data/df_analytics_functions.test
Owners: @snowflakedb/snowpark-ir

[SNOW-1769640] Improve PIVOT performance by flattening the PIVOT with joins (#2597)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

[SNOW-1769640] Improve PIVOT performance by flattening the PIVOT with joins (#2597)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

[SNOW-1769640] Improve PIVOT performance by flattening the PIVOT with joins (#2597)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Owners: @snowflakedb/snowpark-pandas-api

clean up and add comments
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
Owners: @snowflakedb/snowpark-pandas-api

clean up and add comments
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
Owners: @snowflakedb/snowpark-pandas-api

SNOW-1491199 Fix build docs in daily precommit
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix build docs in daily precommit
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix build docs in daily precommit (#2612)
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix build docs in daily precommit (#2612)
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1491199 Fix build docs in daily precommit (#2612)
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Owners: @snowflakedb/snowpark-pandas-api, @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

address comments
  src/snowflake/snowpark/types.py
  tests/unit/test_types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

address comments
  src/snowflake/snowpark/types.py
  tests/unit/test_types.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

debug
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

debug
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1787415 Fix dataframe analytic functions col formatter (#2607)
  src/snowflake/snowpark/dataframe_analytics_functions.py
  tests/ast/data/df_analytics_functions.test
  tests/integ/test_df_to_pandas.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

SNOW-1787415 Fix dataframe analytic functions col formatter (#2607)
  src/snowflake/snowpark/dataframe_analytics_functions.py
  tests/ast/data/df_analytics_functions.test
  tests/integ/test_df_to_pandas.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

added todo comment
  src/snowflake/snowpark/dataframe_writer.py
Owners: @snowflakedb/snowpark-python-api-reviewers, @snowflakedb/snowpark-ir

.github/CODEOWNERS:

* @snowflakedb/snowpark-python-api-reviewers
/src/snowflake/snowpark/ @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
/src/snowflake/snowpark/modin/ @snowflakedb/snowpark-pandas-api
/src/snowflake/snowpark/_internal/ast @snowflakedb/snowpark-ir
/tests/ast/ @snowflakedb/snowpark-ir
/tests/unit/ast/  @snowflakedb/snowpark-ir
/tests/integ/modin/ @snowflakedb/snowpark-pandas-api
/tests/unit/modin/ @snowflakedb/snowpark-pandas-api
/docs/modin_api_coverage/ @snowflakedb/snowpark-pandas-api
/docs/source/modin/ @snowflakedb/snowpark-pandas-api
/tests/notebooks/ @snowflakedb/snowpark-pandas-api
/.github/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
/scripts/ @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
setup.py @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
tox.ini @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers @snowflakedb/snowpark-ir
README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CONTRIBUTING.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
tests/README.md @snowflakedb/snowpark-pandas-api @snowflakedb/snowpark-python-api-reviewers
CHANGELOG.md
