Repository snowflakedb/snowpark-python, changes with the labels that .github/labeler.yml gives for each.
All labels: snowpark-pandas, local-testing

.github/labeler.yml:

snowpark-pandas:
  - changed-files:
    - any-glob-to-any-file:
      - src/snowflake/snowpark/modin/**
      - tests/integ/modin/**

local-testing:
  - changed-files:
    - any-glob-to-any-file:
      - src/snowflake/snowpark/mock/**
      - tests/mock/**

init
  src/snowflake/snowpark/_internal/analyzer/binary_expression.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/grouping_set.py
  src/snowflake/snowpark/_internal/analyzer/sort_expression.py
  src/snowflake/snowpark/_internal/analyzer/unary_expression.py
  src/snowflake/snowpark/_internal/analyzer/window_expression.py
  tests/unit/test_expression_dependent_columns.py
Labels: none

init
  src/snowflake/snowpark/_internal/analyzer/binary_expression.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/grouping_set.py
  src/snowflake/snowpark/_internal/analyzer/sort_expression.py
  src/snowflake/snowpark/_internal/analyzer/unary_expression.py
  src/snowflake/snowpark/_internal/analyzer/window_expression.py
  tests/unit/test_expression_dependent_columns.py
Labels: none

SNOW-1467815: Fix Jenkins runner regression related to test_lstrip_rstrip in test_strings
  tests/integ/modin/strings/test_strings.py
Labels: snowpark-pandas

tets
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  tests/integ/modin/frame/test_transpose.py
  tests/integ/test_cte.py
Labels: snowpark-pandas

tets
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  tests/integ/modin/frame/test_transpose.py
  tests/integ/test_cte.py
Labels: snowpark-pandas

add numeric as object test
  tests/integ/modin/frame/test_describe.py
Labels: snowpark-pandas

SNOW-1467815: Fix Jenkins runner regression related to test_lstrip_rstrip in test_strings (#1747)
  tests/integ/modin/strings/test_strings.py
Labels: snowpark-pandas

SNOW-1467815: Fix Jenkins runner regression related to test_lstrip_rstrip in test_strings (#1747)
  tests/integ/modin/strings/test_strings.py
Labels: snowpark-pandas

SNOW-1467815: Fix Jenkins runner regression related to test_lstrip_rstrip in test_strings (#1747)
  tests/integ/modin/strings/test_strings.py
Labels: snowpark-pandas

update comment
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: snowpark-pandas

SNOW-1019479: Fix describe with duplicate column names (#1742)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_describe.py
Labels: snowpark-pandas

SNOW-1019479: Fix describe with duplicate column names (#1742)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_describe.py
Labels: snowpark-pandas

SNOW-1019479: Fix describe with duplicate column names (#1742)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_describe.py
Labels: snowpark-pandas

add
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_dataframe.py
Labels: local-testing

Use pytest mark to run subset of integ modin tests in Snowfort (#1703)
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/frame/test_round.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/pivot/test_pivot_multiple.py
  tests/integ/modin/pivot/test_pivot_single.py
  tests/integ/modin/test_merge.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/unit/modin/test_internal_frame.py
  tox.ini
Labels: snowpark-pandas

Use pytest mark to run subset of integ modin tests in Snowfort (#1703)
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/frame/test_round.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/pivot/test_pivot_multiple.py
  tests/integ/modin/pivot/test_pivot_single.py
  tests/integ/modin/test_merge.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/unit/modin/test_internal_frame.py
  tox.ini
Labels: snowpark-pandas

Use pytest mark to run subset of integ modin tests in Snowfort (#1703)
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/frame/test_round.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/pivot/test_pivot_multiple.py
  tests/integ/modin/pivot/test_pivot_single.py
  tests/integ/modin/test_merge.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/unit/modin/test_internal_frame.py
  tox.ini
Labels: snowpark-pandas

changelog
  CHANGELOG.md
Labels: none

fix type hint
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
Labels: none

change property pattern from callable to getattr
  src/snowflake/snowpark/column.py
Labels: none

Minor prep for expected IR changes
  src/snowflake/snowpark/column.py
Labels: none

Address PR comments WIP
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Address PR comments WIP
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Column ops implementation first draft
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Column ops implementation first draft
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Binary and unary ops encapsulated
  src/snowflake/snowpark/column.py
Labels: none

Minor prep for expected IR changes
  src/snowflake/snowpark/column.py
Labels: none

Encapsulate common AST building patterns in Column._create_ast
  src/snowflake/snowpark/column.py
Labels: none

Binary and unary ops encapsulated
  src/snowflake/snowpark/column.py
Labels: none

change property pattern from callable to getattr
  src/snowflake/snowpark/column.py
Labels: none

Encapsulate common AST building patterns in Column._create_ast
  src/snowflake/snowpark/column.py
Labels: none

fix_lint changes
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/types.py
  tests/ast/conftest.py
  tests/ast/test_ast_driver.py
  tests/thin-client/steel-thread.py
Labels: local-testing

fix_lint changes
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/types.py
  tests/ast/conftest.py
  tests/ast/test_ast_driver.py
  tests/thin-client/steel-thread.py
Labels: local-testing

Match IR in monorepo PR
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

match IR changes in monorepo
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Minor fixes, script updates
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/_internal/proto/update-from-devvm.sh
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
  tests/ast/data/select.test
  tests/ast/run-unparser.sh
  tests/ast/update-unparser.sh
Labels: none

match IR changes in monorepo
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Minor _create_ast simplifications
  src/snowflake/snowpark/column.py
Labels: none

Match IR in monorepo PR
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/types.py
Labels: none

Switch to Expr IR, infer const AST
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  tests/thin-client/select_outputs.py
Labels: none
