Repository snowflakedb/snowpark-python, changes with the labels that .github/labeler.yml gives for each.
All labels: snowpark-pandas, local-testing

change
  README.md
Labels: none

SNOW-1460922: [Local Testing] Refactor udf/sproc calls (#1726)
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/mock/_util.py
  tests/mock/test_udf.py
  tests/mock/test_util.py
Labels: local-testing

SNOW-1460922: [Local Testing] Refactor udf/sproc calls (#1726)
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/mock/_util.py
  tests/mock/test_udf.py
  tests/mock/test_util.py
Labels: local-testing

SNOW-1460922: [Local Testing] Refactor udf/sproc calls (#1726)
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/mock/_util.py
  tests/mock/test_udf.py
  tests/mock/test_util.py
Labels: local-testing

SNOW-1439789: Update LIMITEDACCESS doc link to public link
  CHANGELOG.md
  README.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/udaf.py
Labels: snowpark-pandas

SNOW-1373556: Implement dropna using a new expression (#1748)
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_dataframe.py
Labels: local-testing

SNOW-1373556: Implement dropna using a new expression (#1748)
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_dataframe.py
Labels: local-testing

SNOW-1373556: Implement dropna using a new expression (#1748)
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_dataframe.py
Labels: local-testing

SNOW-1439789: Replace LIMITEDACCESS doc links with public links (#1749)
  CHANGELOG.md
  README.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/udaf.py
Labels: snowpark-pandas

SNOW-1439789: Replace LIMITEDACCESS doc links with public links (#1749)
  CHANGELOG.md
  README.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/udaf.py
Labels: snowpark-pandas

SNOW-1439789: Replace LIMITEDACCESS doc links with public links (#1749)
  CHANGELOG.md
  README.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/udaf.py
Labels: snowpark-pandas

Make pages for Index class and APIs
  docs/source/modin/index.rst
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index_supported.rst
Labels: none

Make pages for Index class and APIs
  docs/source/modin/index.rst
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index_supported.rst
Labels: none

full datatype testing
  tests/ast/data/col_cast.test
  tests/ast/data/col_cast_coll.test
  tests/ast/data/col_try_cast.test
Labels: none

full datatype testing
  tests/ast/data/col_cast.test
  tests/ast/data/col_cast_coll.test
  tests/ast/data/col_try_cast.test
Labels: none

Add not implemented test for Index
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

Add not implemented test for Index
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

PR feedback
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
Labels: local-testing

[feature branch] Phase 0 client (#1735)
  src/snowflake/snowpark/_internal/ast.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/ast/run-unparser.sh
  tests/ast/test_ast_driver.py
Labels: local-testing

[feature branch] Phase 0 client (#1735)
  src/snowflake/snowpark/_internal/ast.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/ast/run-unparser.sh
  tests/ast/test_ast_driver.py
Labels: local-testing

remove notimplemented error raised in setnames and getnames
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: snowpark-pandas

remove notimplemented error raised in setnames and getnames
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: snowpark-pandas

Add todos and nlevels method
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: snowpark-pandas

Add todos and nlevels method
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: snowpark-pandas

fix tests
  .gitignore
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

fix tests
  .gitignore
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

revert gitignore
  .gitignore
Labels: none

revert gitignore
  .gitignore
Labels: none

add decorator
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/frame/test_loc.py
Labels: snowpark-pandas

add decorator
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/frame/test_loc.py
Labels: snowpark-pandas

protect phase0 from dataframeast parameter
  src/snowflake/snowpark/_internal/server_connection.py
Labels: none

protect phase0 from dataframeast parameter
  src/snowflake/snowpark/_internal/server_connection.py
Labels: none

change registration name class
  src/snowflake/snowpark/_internal/open_telemetry.py
Labels: none

change registration name class
  src/snowflake/snowpark/_internal/open_telemetry.py
Labels: none

fix tests
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: snowpark-pandas

fix tests
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: snowpark-pandas

add test
  tests/unit/modin/test_docstrings.py
Labels: none

try updating confest
  src/snowflake/snowpark/modin/conftest.py
Labels: snowpark-pandas

ignore type on import
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: snowpark-pandas

add test
  tests/unit/modin/test_docstrings.py
Labels: none

.github/labeler.yml:

snowpark-pandas:
  - changed-files:
    - any-glob-to-any-file:
      - src/snowflake/snowpark/modin/**
      - tests/integ/modin/**

local-testing:
  - changed-files:
    - any-glob-to-any-file:
      - src/snowflake/snowpark/mock/**
      - tests/mock/**
