Repository snowflakedb/snowpark-python, pull requests merged in 2023-07, with the labels that each got.

#934 SNOW-817445 fix pre-commit tests
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_udtf_suite.py
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#938 Package auto-upload: Fix native dependency tests
  tests/integ/test_udf.py
Labels: bug, NO-CHANGELOG-UPDATES

#927 SNOW-848839: Allow Conda environment file as parameter to Session.add_requirements
  CHANGELOG.md
  recipe/meta.yaml
  setup.py
  src/snowflake/snowpark/_internal/packaging_utils.py
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/test_packaging.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
  tests/resources/test_environment.yml
  tests/unit/scala/test_utils_suite.py
  tests/unit/test_stored_procedure.py
  tests/unit/test_udf.py
  tests/unit/test_udtf.py
  tests/utils.py
Labels: feature

#941 SNOW-747608 Make tests compatible with UDAF behavior change
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES

#950 SNOW-848839: Fix unpinned packages
  tests/integ/test_packaging.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#952 Add pytest timeout package to FIPS environment
  ci/test_fips.sh
Labels: NO-CHANGELOG-UPDATES

#944 SNOW-856070 Add doc for params in session.sql
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#958 SNOW-853049 Add write_pandas test to a different schema
  tests/integ/test_pandas_to_df.py
Labels: NO-CHANGELOG-UPDATES

#930 SNOW-851550 Clean up pytest warnings
  src/snowflake/snowpark/session.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#961 Fix PythonStoredProcBuildPrecommitTest
  src/snowflake/snowpark/_internal/udf_utils.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#963 SNOW-871306: Fix test failures on Windows for tests in test_packaging.py
  src/snowflake/snowpark/_internal/packaging_utils.py
  tests/unit/test_packaging_utils.py
Labels: bug, NO-CHANGELOG-UPDATES

#967 SNOW-874787: Prevent future flakiness of packaging tests
  src/snowflake/snowpark/session.py
  tests/integ/test_packaging.py
  tests/integ/test_stored_procedure.py
Labels: NO-CHANGELOG-UPDATES

#969 Increase pytest timeout to 1200 seconds
  tox.ini
Labels: bug, NO-CHANGELOG-UPDATES

#970 Revert PR 930
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#966 Docs: update import with new module name
  local-testing-docs/README.md
  local-testing-docs/features/environment.py
  local-testing-docs/quickstart-complete.py
  local-testing-docs/test/test_transformers.py
Labels: NO-CHANGELOG-UPDATES

#959 SNOW-869906: Tag package auto-upload feature as experimental, UNIX-only and accessible only via a flag
  CHANGELOG.md
  docs/source/session.rst
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/session.py
  tests/integ/test_packaging.py
  tests/integ/test_stored_procedure.py
  tests/unit/test_packaging_utils.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#972 Fix ML precommit
  src/snowflake/snowpark/_internal/udf_utils.py
  tests/integ/scala/test_udtf_suite.py
  tests/integ/test_udtf.py
  tests/resources/test_udtf_dir/test_udtf_file.py
Labels: NO-CHANGELOG-UPDATES

#973 SNOW-833259: Skip async doc test
  src/snowflake/snowpark/async_job.py
Labels: bug, NO-CHANGELOG-UPDATES

#974 SNOW-875849: Add docstring for sql_simplifier_enabled
  src/snowflake/snowpark/session.py
Labels: documentation, NO-CHANGELOG-UPDATES

#977 Fix ML precommit
  src/snowflake/snowpark/_internal/udf_utils.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#928 SNOW-849031: Persist python environment on a stage
  docs/source/session.rst
  src/snowflake/snowpark/_internal/packaging_utils.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/test_packaging.py
  tests/integ/test_stored_procedure.py
  tests/unit/test_packaging_utils.py
Labels: feature, NO-CHANGELOG-UPDATES

#981 Skip test_dataframe_result_cache_changing_schema in stored proc
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#964 SNOW-860063 Update documentation
  docs/source/functions.rst
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
Labels: NO-CHANGELOG-UPDATES
