Repository snowflakedb/snowpark-python, pull requests merged in 2023-06, with the labels that each got.

#882 SNOW-619443: Use Column objects for choosing Metadata Columns
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe_reader.py
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#881 SNOW-834932: Added execute_as parameter to StoredProcedureRegistration.register_from_file() function
  CHANGELOG.md
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/stored_procedure.py
  tests/integ/test_stored_procedure.py
Labels: bug

#884 SNOW-791241 Use python version check for module import
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/analyzer/table_function.py
  src/snowflake/snowpark/_internal/code_generation.py
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/dataframe_writer.py
  src/snowflake/snowpark/files.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/row.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/table.py
  src/snowflake/snowpark/types.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  src/snowflake/snowpark/window.py
  tests/integ/scala/test_udtf_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_telemetry.py
  tests/integ/test_udtf.py
  tests/perf/perf_runner.py
  tests/unit/test_types.py
  tests/unit/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#889 SNOW-830758: Fix tests in stored proc
  tests/integ/scala/test_dataframe_copy_into.py
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#891 SNOW-838017 Bump libffi version to 3.4.4
  recipe/meta.yaml
Labels: NO-CHANGELOG-UPDATES

#883 SNOW-796236 Implement session.table for local testing
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/mock/mock_analyzer.py
  src/snowflake/snowpark/mock/mock_connection.py
  src/snowflake/snowpark/mock/mock_plan.py
  src/snowflake/snowpark/mock/mock_select_statement.py
  src/snowflake/snowpark/mock/util.py
  src/snowflake/snowpark/table.py
  tests/integ/scala/test_dataframe_join_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_session_suite.py
  tests/integ/scala/test_table_suite.py
Labels: NO-CHANGELOG-UPDATES

#892 Fix hash value for correct comparison
  src/snowflake/snowpark/types.py
  tests/unit/test_types.py
Labels: NO-CHANGELOG-UPDATES

#894 SNOW-836583 Update `register_from_file` documentation for vectorized UDFs
  src/snowflake/snowpark/udf.py
Labels: NO-CHANGELOG-UPDATES

#899 [Local testing] Support `Table.drop_table`
  src/snowflake/snowpark/mock/mock_connection.py
  src/snowflake/snowpark/table.py
  tests/integ/scala/test_table_suite.py
Labels: NO-CHANGELOG-UPDATES

#912 Add sort to fix test results
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  tests/integ/scala/test_dataframe_suite.py
Labels: NO-CHANGELOG-UPDATES

#913 SNOW-845769: Unskip test_mix_temporary_and_permanent_udf
  tests/integ/scala/test_permanent_udf_suite.py
Labels: NO-CHANGELOG-UPDATES

#907 SNOW-845927: Change implementation of rename() to use RENAME SQL clause
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/test_bind_variable.py
  tests/integ/test_dataframe.py
  tests/integ/test_telemetry.py
  tests/unit/test_dataframe.py
Labels: feature

#917 SNOW-849062 Use temp schema for Jenkins initiated tests
  tests/integ/conftest.py
Labels: NO-CHANGELOG-UPDATES

#920 Fix failing doc test for Session.write_pandas
  src/snowflake/snowpark/session.py
Labels: bug, NO-CHANGELOG-UPDATES

#919 SNOW-841487 [Local Testing] Raise good error messages for unsupported API
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/mock/analyzer.py
  src/snowflake/snowpark/mock/connection.py
  src/snowflake/snowpark/mock/select_statement.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/table.py
  tests/integ/scala/test_session_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_function.py
  tests/integ/test_query_history.py
  tests/integ/test_session.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_telemetry.py
  tests/integ/test_udtf.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#916 Aalam fix broken dataframe tests
  tests/integ/scala/test_dataframe_suite.py
Labels: NO-CHANGELOG-UPDATES

#914 Run tests in parallel
  .github/workflows/precommit.yml
  tests/integ/scala/test_query_tag_suite.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#925 Update CLA link
  .github/workflows/cla_bot.yml
  CONTRIBUTING.md
Labels: NO-CHANGELOG-UPDATES
