Repository snowflakedb/snowpark-python, pull requests merged in 2024-09, with the labels that each got.

#2207 [SNOW-1556590] Enable test_sql with new compilation stage
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2195 SNOW-1616989: Create lazy Index from another lazy Index without pulling data to client
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_timedelta_index_methods.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2196 SNOW-989398: Refactor `resample.fillna` to use ASOF Join
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2203 SNOW-824308 support bdate_range
  CHANGELOG.md
  docs/source/modin/general_functions.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/_internal/generator_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/tools/test_date_range.py
  tests/notebooks/modin/TimeSeriesTesting.ipynb
  tests/unit/modin/test_class.py
Labels: snowpark-pandas

#2206 SNOW-1641729: Support diff() for timestamp columns.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_diff.py
  tests/integ/modin/series/test_diff.py
  tests/integ/modin/test_timedelta_ops.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2210 [SNOW-1649176]: Fix `inplace` argument for Series objects derived from DataFrame columns.
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/indexing.py
  tests/integ/modin/series/test_fillna.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2175 SNOW-1642293 Add support for lazy index labels in reindex and fix reindex name bug
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_reindex.py
  tests/integ/modin/index/test_reindex.py
  tests/integ/modin/series/test_reindex.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2222 Fix merge gate combine coverage failure
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#2200 SNOW-1637102: Support binary operations between timedelta and number.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/binary/test_timedelta.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2218 SNOW-1649753 Fix a bug while setting None to timedelta column
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  tests/integ/modin/types/test_timedelta_indexing.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2220 SNOW-1624163: Add telemetry when large query breakdown is skipped
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2216 [SNOW-1630273] Refactor compute_bin_indices to reuse asof join
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2202 SNOW-1640548, SNOW-1640549, SNOW-1640554, SNOW-1640562: Add support for Series.dt.days/seconds/microseconds/nanoseconds
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2237 SNOW-1651274 Fix raising NotImplementedError for concat
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_concat.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2236 SNOW-1651271 Raised for Index bitwise operators.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_ops.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2238 SNOW-1651296: Skip temp table cleanup flaky test
  tests/integ/test_temp_table_cleanup.py
Labels: NO-CHANGELOG-UPDATES

#2242 Skip `test_iter_cursor_wait_for_result` for no pandas
  tests/integ/scala/test_async_job_suite.py
Labels: NO-CHANGELOG-UPDATES

#2205 SNOW-1063347: Remove series.py
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/api/extensions/__init__.py
  src/snowflake/snowpark/modin/pandas/api/extensions/extensions.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/pandas/indexing.py
  src/snowflake/snowpark/modin/pandas/resample.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/groupby_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/utils/frontend_constants.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/series/test_getattr.py
  tests/integ/modin/series/test_take.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_to_numpy.py
  tests/unit/modin/test_series_cat.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2239 SNOW-1652274, SNOW-1638408: Add support for Timedelta with GroupBy `first`, `last`, `head`, `tail`, `aggregate`
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/groupby_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_first_last.py
  tests/integ/modin/groupby/test_groupby_head_tail.py
  tests/integ/modin/groupby/test_groupby_idxmax_idxmin.py
  tests/integ/modin/groupby/test_groupby_nunique.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/integ/modin/groupby/test_min_max.py
  tests/integ/modin/io/test_to_csv.py
  tests/integ/modin/types/test_timedelta.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2204 SNOW-1635365: Update snowpark pandas imports in method documentation
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/io.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_json.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2224 SNOW-1616989: Enable creation for DatetimeIndex with query_compiler numeric or str type
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2245 Fix groupby.agg bug with Timedelta
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2247 Fix Jenkins CI query count `test_empty_df_float_raises`
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2234 SNOW-1628925 Fix timedelta precision loss in to_pandas
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/types/test_timedelta.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2230 SNOW-1650853 Display a better error message when index.names is set to a non-list-like object
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_name.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2243 SNOW-1637948: Add support for TimedeltaIndex methods floor, ceil and round
  CHANGELOG.md
  docs/source/modin/supported/timedelta_index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/index/test_timedelta_index_methods.py
Labels: snowpark-pandas

#2233 SNOW-1632701: Add uuid to SnowflakePlan
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/server_connection.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2227 SNOW-1559365 Support `Timedelta` indexing and partial string indexing
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/indexing.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/series/test_loc.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2255 SNOW-1658008: Clean up Snowpark pandas documentation references
  docs/source/modin/io.rst
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/shared_docs.py
  src/snowflake/snowpark/modin/plugin/docstrings/window.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  src/snowflake/snowpark/modin/utils.py
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2258 SNOW-1646711 Raise warning whenever MultiIndex is pulled in locally
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2253 SNOW-1654414: Add support Series.dt.total_seconds and TimedeltaIndex.total_seconds
  CHANGELOG.md
  docs/source/modin/supported/series_dt_supported.rst
  docs/source/modin/supported/timedelta_index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/index/test_timedelta_index_methods.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2262 SNOW-1659317: update artifact version
  .github/workflows/daily_jupyter_nb_test.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2256 Improve warning message for read_snowflake to include materialization reason
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/io/test_read_snowflake.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2266 REFACTOR: Reuse `pd.date_range` for resample computation
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2263 SNOW-1659478: Cherrypick telemetry fixes
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/extensions/base_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2259 SNOW-1658145 Fix the supported documentation pages for Index
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_dropna.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_unimplemented.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2241 SNOW-1548942 Implement support for dataframe apply axis=0
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
Labels: snowpark-pandas

#2185 SNOW-1418543 make local testing thread safe
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stage_registry.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_telemetry.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/session.py
  tests/mock/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2257 SNOW-1641472 Refactor binary ops utility to improve readability
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2260 SNOW-1657456 Improved to persist the original timezone offset for TIMESTAMP_TZ type
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/tools/test_to_datetime.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2267 SNOW-1654416: Add support for TimedeltaIndex.mean
  CHANGELOG.md
  docs/source/modin/supported/timedelta_index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/index/test_timedelta_index_methods.py
Labels: snowpark-pandas

#2261 SNOW-1646704, SNOW-1646706: Add support for Series.dt.tz_convert/tz_localize
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2275 SNOW-1418543: Fix Flaky test
  tests/mock/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2276 SNOW-1660880: Properly raise NotImplementedError when ambiguous/nonexistent are non-string in ceil/floor/round
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/series/test_dt_accessor.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2265 SNOW-1659512: Fix literal complexity calculation
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  tests/integ/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2270 SNOW-1654730: Refactor aggregation_utils to reduce duplication and clarify interfaces.
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/unit/modin/test_aggregation_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2214 SNOW-1641644: Drop temp table directly at garbage collection instead of using multi-threading
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/_internal/temp_table_auto_cleaner.py
  src/snowflake/snowpark/session.py
  tests/integ/test_telemetry.py
  tests/integ/test_temp_table_cleanup.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2248 SNOW-1653121: Support some Timedelta aggregations on axis=0.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/conftest.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_describe.py
  tests/integ/modin/frame/test_idxmax_idxmin.py
  tests/integ/modin/frame/test_nunique.py
  tests/integ/modin/frame/test_skew.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_first_last.py
  tests/integ/modin/groupby/test_quantile.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_all_any.py
  tests/integ/modin/index/test_argmax_argmin.py
  tests/integ/modin/series/test_aggregate.py
  tests/integ/modin/series/test_argmax_argmin.py
  tests/integ/modin/series/test_describe.py
  tests/integ/modin/series/test_first_last_valid_index.py
  tests/integ/modin/series/test_idxmax_idxmin.py
  tests/integ/modin/series/test_nunique.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2281 SNOW-1660952, SNOW-1660954: Add support for DatetimeIndex.tz_localize/tz_convert
  CHANGELOG.md
  docs/source/modin/supported/datetime_index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: snowpark-pandas

#2273 SNOW-1636678 add server side param for complexity bounds
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/session.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2284 SNOW-1662105, SNOW-1662657: Support `by`, `left_by`, `right_by` for `pd.merge_asof`
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_merge_asof.py
Labels: snowpark-pandas

#2293 SNOW-1320674: Add tests to verify loc raises KeyError for invalid labels
  tests/integ/modin/frame/test_loc.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2223 SNOW-1063346: Remove modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/api/extensions/__init__.py
  src/snowflake/snowpark/modin/pandas/api/extensions/extensions.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/indexing.py
  src/snowflake/snowpark/modin/pandas/io.py
  src/snowflake/snowpark/modin/pandas/snow_partition_iterator.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  src/snowflake/snowpark/modin/plugin/utils/frontend_constants.py
  src/snowflake/snowpark/modin/utils.py
  tests/integ/modin/frame/test_info.py
  tests/integ/modin/test_classes.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/modin/test_envvars.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2272 [SNOW-1632895] Add derive_dependent_columns_with_duplication capability
  src/snowflake/snowpark/_internal/analyzer/binary_expression.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/grouping_set.py
  src/snowflake/snowpark/_internal/analyzer/sort_expression.py
  src/snowflake/snowpark/_internal/analyzer/unary_expression.py
  src/snowflake/snowpark/_internal/analyzer/window_expression.py
  tests/unit/test_expression_dependent_columns.py
Labels: NO-CHANGELOG-UPDATES

#2274 SNOW-1661142 Fix index name behavior
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_name.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2298 SNOW-1664064: Suppress SettingWithCopyWarning for Timedelta columns.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/types/test_timedelta.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2279 SNOW-1418523: Remove session variable that can be local
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#2304 SNOW-1662275: Add support for parameters `left_index` and `right_index` for `pd.merge_asof`
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_merge_asof.py
Labels: snowpark-pandas

#2307 [SNOW-1320248]: Fix `inplace=True` on Series objects derived from Series.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/series/test_fillna.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2246 SNOW-1338064 Make tests not rely on implicit ordering (part 2)
  tests/integ/scala/test_function_suite.py
Labels: NO-CHANGELOG-UPDATES

#2311 SNOW-1418523: Minor refactor for `resolve_imports_and_packages`
  src/snowflake/snowpark/_internal/udf_utils.py
Labels: NO-CHANGELOG-UPDATES

#2249 SNOW-1557539 count describe queries for test
  CHANGELOG.md
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/query_history.py
  src/snowflake/snowpark/session.py
  tests/integ/modin/sql_counter.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/test_query_history.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2318 SNOW-1671194 CI: configure rerun to avoid flaky tests
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2292 SNOW-1559025 Implement `DatetimeIndex.mean` and `DatetimeIndex.std`
  CHANGELOG.md
  docs/source/modin/supported/datetime_index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: snowpark-pandas

#2319 SNOW-1640215: Test filtering by timedelta values.
  tests/integ/modin/frame/test_filter.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2310 SNOW-1669082: Add support for `Resampler.asfreq`
  CHANGELOG.md
  docs/source/modin/supported/resampling_supported.rst
  src/snowflake/snowpark/modin/pandas/resample.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  tests/integ/modin/resample/test_resample_asfreq.py
Labels: snowpark-pandas

#2291 SNOW-1649780: Bug fix Series.sort_values fails when name overlaps with index name
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/series/test_sort_values.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2290 SNOW-1657460 Improved results for TIMESTAMP_TZ type to show correct timezone offset.
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/indexing.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/unit/modin/conftest.py
  tests/unit/modin/test_series_dt.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2317 SNOW-1652608: Fix column labels when transposing frame with Timedelta index levels.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_transpose.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2295 [SNOW-1625268] Add AST merge gate for ast phase0.
  .github/workflows/precommit.yml
  setup.py
  src/snowflake/snowpark/_internal/ast.py
  src/snowflake/snowpark/_internal/ast_utils.py
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/_internal/proto/scalapb_pb2.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  tests/ast/data/col_literal.test
  tests/ast/test_ast_driver.py
  tests/integ/conftest.py
  tox.ini
Labels: snowpark-server

#2301 SNOW-1650875: Remove modin/pandas/io.py
  docs/source/modin/io.rst
  src/snowflake/snowpark/modin/core/execution/dispatching/factories/baseio.py
  src/snowflake/snowpark/modin/core/execution/dispatching/factories/dispatcher.py
  src/snowflake/snowpark/modin/core/execution/dispatching/factories/factories.py
  src/snowflake/snowpark/modin/core/execution/dispatching/factories/pandasframe.py
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/io.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2306 SNOW-1320309: Remove unnecessary warning from sort_values
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2327 SNOW-1672619: Remove test code working around pandas bugs fixed in pandas 2.2.
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_property.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2328 SNOW-1657459 Improved dtype results for TIMESTAMP_LTZ type to show correct timezone
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_dtype_mapping.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2285 [SNOW-1645085] Always use SCOPED temp table for snowpark pandas generated api
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/io/test_read_snowflake.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2329 SNOW-1672694: Move window + snow_partition_iterator to plugin folder
  docs/source/modin/window.rst
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/snow_partition_iterator.py
  src/snowflake/snowpark/modin/plugin/extensions/window_overrides.py
  tests/integ/modin/frame/test_itertuples.py
  tests/integ/modin/pandas_api_coverage.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2333 SNOW-1673337: Move indexing.py into src/…/modin/plugin/extensions/
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/indexing_overrides.py
  tests/unit/modin/test_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2334 SNOW-1665775: Move resample.py into src/…/modin/plugin/extensions/
  docs/source/modin/resampling.rst
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/resample_overrides.py
  tests/integ/modin/pandas_api_coverage.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2254 SNOW-1023211: Support resample with rule offset `W`, `ME`, `YE` with `closed = left`
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/resample/test_resample.py
  tests/integ/modin/resample/test_resample_asfreq.py
  tests/integ/modin/resample/test_resample_negative.py
Labels: snowpark-pandas

#2338 SNOW-1675266: Remove dead code: convert_positional_key
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  tests/integ/modin/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2240 SNOW-1651234: Fix create_dataframe throwing an exception for structured dtypes
  src/snowflake/snowpark/session.py
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#2335 TEST: Add xfail for `test_df_groupby_idxmax_idxmin_on_axis_0`
  tests/integ/modin/groupby/test_groupby_idxmax_idxmin.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2331 SNOW-1640167: Test Timedelta input and output in apply-like methods.
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_transform.py
  tests/integ/modin/series/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2332 SNOW-1673230: Remove modin/pandas/utils.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/io_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/general_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/indexing_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/utils.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/frame/test_axis.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/series/test_getitem.py
  tests/integ/modin/series/test_iloc.py
  tests/integ/modin/series/test_isin.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_setitem.py
  tests/integ/modin/test_utils.py
  tests/integ/modin/utils.py
  tests/unit/modin/test_frontend_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2326 [SNOW-1632896] Detect valid condition for flatten nested select projection complexity
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/select_projection_complexity_utils.py
  tests/integ/test_nested_select_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2330 SNOW-1489629: Add rolling corr implementation for pairwise=False
  CHANGELOG.md
  docs/source/modin/supported/window_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/window_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/window.py
  tests/integ/modin/window/test_rolling.py
Labels: snowpark-pandas

#2350 SNOW-1559086: Add support for time-based string `window` for `Rolling`
  CHANGELOG.md
  docs/source/modin/supported/window_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/window_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/window/test_rolling.py
Labels: snowpark-pandas

#2282 SNOW-1418523 make analyzer server connection thread safe
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/session.py
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#2342 SNOW-1659276 sp precommit fixes
  tests/integ/test_column_names.py
  tests/integ/test_cte.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2341 SNOW-1660802 Implement dataframe groupby fillna (group by axis=0)
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_fillna.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#2352 SNOW-1660947 Improved warning messages for operations lead to materia…
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/utils/warning_message.py
  tests/integ/modin/test_to_numpy.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2355 Fix query history test failure when sql simplifier disabled
  tests/integ/test_query_history.py
Labels: NO-CHANGELOG-UPDATES

#2347 [SNOW-1641640] Fix query generation for df alias after query transformation and add tests for df alias and subqueries
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2137 SNOW-1458135 Implement DataFrame and Series initialization with lazy Index objects
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/frame/test_assign.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_insert.py
  tests/integ/modin/frame/test_join.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_mask.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/frame/test_name.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/integ/modin/groupby/test_groupby_series.py
  tests/integ/modin/index/test_df_series_creation_with_index.py
  tests/integ/modin/index/test_name.py
  tests/integ/modin/resample/test_resample_fillna.py
  tests/integ/modin/series/test_empty.py
  tests/integ/modin/series/test_iloc.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_mask.py
  tests/integ/modin/series/test_reindex.py
  tests/integ/modin/series/test_rename.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_transpose.py
  tests/integ/modin/series/test_where.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_merge.py
  tests/integ/modin/types/test_timedelta_indexing.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2353 SNOW-1664175 reenable a xfailed test
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2358 SNOW-1692775: Remove convert_dtype warning in Series.apply
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/series/test_apply.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2354 SNOW-1669024: Add support for pd.read_sas
  CHANGELOG.md
  docs/source/modin/io.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_sas.py
  tests/resources/test_sas.sas7bdat
  tests/resources/test_sas.xpt
  tests/unit/modin/test_unsupported.py
  tests/unit/scala/test_utils_suite.py
  tests/utils.py
Labels: snowpark-pandas

#2345 SNOW-1672691: Remove snowflake/snowpark/modin/pandas folder
  docs/source/modin/general_functions.rst
  docs/source/modin/indexing.rst
  setup.py
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/api/__init__.py
  src/snowflake/snowpark/modin/pandas/api/extensions/__init__.py
  src/snowflake/snowpark/modin/pandas/api/extensions/extensions.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/session.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/general_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/indexing_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/resample_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/window_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/groupby/test_groupby_nunique.py
  tests/integ/modin/groupby/test_grouping.py
  tests/integ/modin/pandas_api_coverage.py
  tests/integ/modin/test_utils.py
  tests/unit/modin/modin/test_envvars.py
  tests/unit/modin/test_class.py
  tests/unit/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2349 SNOW-1642103: Add plan plotter
  setup.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2361 Fix df alias test failure for new query generation when sql simplifier disabled
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/compiler/test_query_generator.py
Labels: NO-CHANGELOG-UPDATES

#2340 [SNOW-1632898] Adjust SelectStatement projection complexity calculation
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_deepcopy.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_nested_select_plan_analysis.py
  tests/integ/test_query_plan_analysis.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2368 SNOW-1645523: Fix flakiness of temp table cleaner test by waiting for query complete
  tests/integ/test_temp_table_cleanup.py
Labels: NO-CHANGELOG-UPDATES

#2375 SNOW-1646883: remove disable sql simplifier hack
  src/snowflake/snowpark/modin/plugin/_internal/generator_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
