Repository snowflakedb/snowpark-python, pull requests merged in 2024-12, with the labels that each got.

#2694 SNOW-1830249: Improve docs for pd.read_excel
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/docstrings/io.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2698 SNOW-1831923 Add AST encoding for `functions.size`
  src/snowflake/snowpark/functions.py
  tests/ast/data/functions.test
Labels: NO-CHANGELOG-UPDATES

#2696 SNOW-1842455: fix pandas import in local testing
  src/snowflake/snowpark/mock/_nop_connection.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2697 SNOW-1842532 Post-merge artifact removal
  src/snowflake/snowpark/_internal/proto/update-from-devvm.sh
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#2705 SNOW-1843830 Increase reruns-delay for Insufficient resource during i…
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2708 [SNOW-1843885] Fix error caused by snowpark_round
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: bug, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2683 SNOW-1805836: Implement the dataframe interchange protocol.
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_interchange_protocol.py
  tests/integ/modin/test_scikit.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2706 SNOW-1843690: fix daily precommit test failiure
  tests/integ/scala/test_dataframe_copy_into.py
Labels: NO-CHANGELOG-UPDATES

#2701 [SNOW-1694712] Remove _emit_ast and _ast from docs.
  docs/source/conf.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2710 SNOW-1844094: Skip optimization if error is raised during optimization stage
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2713 [SNOW-1844465] Avoid creating a CTE out of simple select start on top of a select entity
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2726 SNOW-1848977, SNOW-1848979: Add support for Series.str.ljust/rjust
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#2718 Make concat_ws_ignore_nulls private
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#2730 SNOW-1848793: Enable large query breakdown by min version
  src/snowflake/snowpark/session.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2731 SNOW-1748281: Add support for Series.str.center
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#2733 SNOW-1830501 Column APIs implemented in decoder: `in`, `between`, `try_cast`, `literal`, `__getitem__`
  tests/ast/data/col_in_.test
  tests/ast/decoder.py
Labels: snowpark-server, snowpark-ast

#2736 SNOW-1830505 Add column null/nan functions logic
  tests/ast/decoder.py
Labels: snowpark-ast

#2739 SNOW-1842839: Add support for Series.str.pad
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#2743 SNOW-1853194: Avoid disabling sql simplifier in integ/test_cte.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2720 SNOW-1844090: deprecate propagate referenced ctes
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2748 New scripting environment for integration with the monorepo
  scripts/copy-ast.sh
  scripts/copy-remote-ast.sh
  src/snowflake/snowpark/_internal/proto/update-from-devvm.sh
  src/snowflake/snowpark/_internal/proto/update-from-local.sh
  tests/ast/README.md
  tests/ast/ast_test_utils.py
  tests/ast/conftest.py
  tests/ast/test_ast_driver.py
  tests/ast/update-unparser.sh
  tests/conftest.py
Labels: NO-CHANGELOG-UPDATES

#2711 SNOW-1672579 Encode `DataFrame.to_snowpark_pandas`
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/ast/data/Dataframe.to_snowpark_pandas.test
  tests/ast/test_ast_driver.py
Labels: NO-CHANGELOG-UPDATES, local testing, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas, snowpark-ast

#2757 [SNOW-1752915]: Fix flaky `read_snowflake` test
  tests/integ/modin/io/test_read_snowflake_query_call.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2758 [SNOW-1852933]: Make stored proc support for `read_snowflake` more explicit
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2742 SNOW-1852900: Support Cortex function Sentiment in apply
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  tests/integ/modin/test_apply_snowpark_python_functions.py
  tests/integ/test_function.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2755 SNOW-1801330: Map numpy functions in apply to builtin snowflake functions
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/series/test_apply_and_map.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2754 SNOW-1852934: Add support for DataFrame.map method
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_applymap.py
Labels: snowpark-pandas

#2759 SNOW-1855330, SNOW-1856158: Add support for DataFrame.from_dict, DataFrame.from_records
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_from_dict.py
  tests/integ/modin/frame/test_from_records.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2725 SNOW-1805842: Add plotly integ tests and Interoperability doc
  docs/source/modin/index.rst
  docs/source/modin/interoperability.rst
  setup.py
  tests/integ/modin/interoperability/plotly/test_plotly.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2756 SNOW-1852779 Fix AST encoding for Column `in_`, `asc`, and `desc`
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/column.py
  tests/ast/data/col_asc.test
  tests/ast/data/col_desc.test
  tests/ast/data/col_in_.test
  tests/ast/data/windows.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-ast

#2680 [SNOW-1826257]: Refactor docs to provide one place for supported aggregation functions
  docs/source/modin/supported/agg_supp.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/groupby_supported.rst
  docs/source/modin/supported/series_supported.rst
  tests/integ/modin/groupby/test_groupby_basic_agg.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2764 SNOW-1859140: Skip Cortex apply tests for Jenkins
  tests/integ/modin/test_apply_snowpark_python_functions.py
  tests/integ/test_function.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2767 SNOW-1859612: Enable skipped doctests for Series.str.center in the docs of Series.str.ljust/rjust
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2670 SNOW-1819531: propagate referenced ctes to all root nodes
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/scala/test_datatype_suite.py
  tests/unit/compiler/test_large_query_breakdown.py
  tests/unit/compiler/test_replace_child_and_update_node.py
Labels: NO-CHANGELOG-UPDATES

#2766 SNOW-1859608: Add missing docs for DataFrame.map
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2779 SNOW-1801330: Map numpy functions in df.apply to builtin functions
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2770 SNOW-1814176: Implement SeriesGroupBy.unique.
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_unique.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#2781 SNOW-1819521: Add support for Series.dt.strftime (10 directives)
  CHANGELOG.md
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/series/test_dt_accessor_unsupported.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2775 SNOW-1722641: Add support for Series.between
  CHANGELOG.md
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/series/test_between.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2800 SNOW-1866100 Update DataFrame.unpivot AST encoding to include `include_nulls`
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe.py
  tests/ast/data/DataFrame.unpivot.test
Labels: NO-CHANGELOG-UPDATES, snowpark-ast

#2795 SNOW-1865997: Use docstrings folder for DatetimeIndex methods and properties
  src/snowflake/snowpark/modin/plugin/docstrings/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2796 SNOW-1805851: Add scikit-learn interoperability tests.
  CHANGELOG.md
  docs/source/modin/interoperability.rst
  setup.py
  tests/integ/modin/interoperability/scikit-learn/test_scikit_learn.py
  tests/integ/modin/test_scikit.py
Labels: snowpark-pandas

#2784 SNOW-981562: Expose is_temp_table_for_cleanup to Session.table
  src/snowflake/snowpark/session.py
  tests/ast/data/session_table_temp_table_cleanup.test
Labels: NO-CHANGELOG-UPDATES
