Repository snowflakedb/snowpark-python, pull requests merged in 2024-05, with the labels that each got.

#1469 SNOW-1320543 Update modin class paths
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES

#1466 Remove Combine Coverage from PR merge gate
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1454 SNOW-1347394: Remove BaseQueryCompiler + error in QC default to pandas
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/__init__.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/binary.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/cat.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/dataframe.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/datetime.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/groupby.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/resample.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/rolling.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/series.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/str.py
  src/snowflake/snowpark/modin/core/execution/dispatching/factories/baseio.py
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/__init__.py
  src/snowflake/snowpark/modin/plugin/compiler/query_compiler.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_value_counts.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_unimplemented.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/integ/modin/tools/test_to_numeric.py
  tests/unit/modin/test_series_dt.py
  tests/unit/modin/test_series_strings.py
Labels: NO-CHANGELOG-UPDATES

#1472 SNOW-1341619: Always mention the specific missing feature in ErrorMessage.not_implemented.
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/io.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/binary/test_binary_not_implemented.py
  tests/unit/modin/test_unsupported.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1462 SNOW-1347401 Fallback cleanup: string accessors
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/frame/test_filter.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/strings/test_case_justify.py
  tests/unit/modin/test_groupby_unsupported.py
  tests/unit/modin/test_series_strings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1485 SNOW-1305528 : Fix the workaround
  src/snowflake/snowpark/lineage.py
  tests/unit/test_lineage.py
Labels: NO-CHANGELOG-UPDATES

#1447 SNOW-1347387 Raise not implemented error for Series.dt.* methods
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_dt_accessor_unsupported.py
  tests/unit/modin/test_series_dt.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1487 SNOW-1359379:Add VectorType to snowpark python API doc
  docs/source/snowpark/functions.rst
  docs/source/snowpark/types.rst
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#1471 SNOW-1257115: Fix docs for Snowpark pandas DataFrame/Series.isnull/isna
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1470 SNOW-1357700: Remove workaround for native pandas groupby.shift(axis=1)
  tests/integ/modin/frame/test_shift.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1491 SNOW-1359379: update doc generate readme
  docs/README.md
Labels: NO-CHANGELOG-UPDATES

#1500 SNOW-1349069: Update cache_result comments in apply methods
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1503 SNOW-1347401 Fix test that raises wrong error
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1486 SNOW-1359299 Add QA parameters
  scripts/parameters_qa.py.gpg
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1501 SNOW-1347394: Close parentheses in SnowflakeQueryCompiler.default_to_pandas message
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1497 SNOW-1357695: Fix int64 not serializable errors on apply(axis=1)
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  tests/integ/modin/frame/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1507 Fix Daily test - Update daily job to have correct environment
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1505 SNOW-1054699: Fix single-row Series and DataFrame binary ops
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/binary/test_binary_op.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1394 SNOW-1309017 Adding type checking with precommit mypy
  .pre-commit-config.yaml
  MANIFEST.in
  mypy.ini
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/__init__.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
Labels: NO-CHANGELOG-UPDATES

#1502 SNOW-1356768 fallback cleanup update docs
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/general_supported.rst
  docs/source/modin/supported/groupby_supported.rst
  docs/source/modin/supported/series_dt_supported.rst
  docs/source/modin/supported/series_str_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/series.py
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES

#1510 Fix query count for `test_binary_op_between_dataframe_and_series_axis0` and add back to merge gate
  tests/integ/modin/binary/test_binary_op.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1455 SNOW-1348838: local test fix read csv behavior and enable tests
  CHANGELOG.md
  src/snowflake/snowpark/mock/_snowflake_to_pandas_converter.py
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/resources/testCSVquotesSpecial.csv
  tests/unit/scala/test_utils_suite.py
  tests/utils.py
Labels: local testing

#1495 SNOW-1296757: local test move tests
  tests/integ/test_column_names.py
  tests/mock/test_column_names.py
  tests/mock_unit/test_session.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1457 SNOW-1318080: local testing move use object logic into session.py for better sql query isolation
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/integ/scala/test_session_suite.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1498 SNOW-1296757: local testing fix math.nan related issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
  tests/integ/test_df_aggregate.py
  tests/mock/test_agg.py
Labels: local testing

#1504 SNOW-1349033: Clarify need for Jira issue in PR request template.
  .github/pull_request_template.md
  .pre-commit-config.yaml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1515 SNOW-1284684 Add udaf to session.rst and function.rst
  docs/source/snowpark/functions.rst
  docs/source/snowpark/session.rst
Labels: NO-CHANGELOG-UPDATES

#1514 SNOW-1345607 Release 1.15.0a1
  recipe/meta.yaml
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/version.py
Labels: DO-NOT-MERGE, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1494 SNOW-1296757: fix local testing stage operation issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/mock_unit/files/test_file_1
  tests/mock_unit/files/test_file_2
  tests/mock_unit/test_stage_registry.py
Labels: local testing

#1513 SNOW-1357844: fix flaky test caused by oob telemetry datetime comparsion
  tests/mock_unit/test_oob_telemetry.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1496 SNOW-1296757: fix pandas numeric dtype issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/test_df_to_pandas.py
  tests/mock/test_to_pandas.py
Labels: local testing

#1508 SNOW-1176072: Add partial SeriesGroupBy.apply support
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/groupby/test_groupby_apply.py
Labels: NO-CHANGELOG-UPDATES

#1524 Move Snowpark pandas modin import changelog to 1.15
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1526 SNOW-1345607 Fix docs README.md pip install command
  docs/README.md
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1493 SNOW-1296757: local testing fix udf sp issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  tests/mock_unit/conftest.py
  tests/mock_unit/files/udf_file.py
  tests/mock_unit/test_udf.py
Labels: local testing

#1529 [SNOW-1357748]: Update read_snowflake to use string matching
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1527 [SNOW-1368640] Improve qcut performance, correct return type to Series
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  tests/integ/modin/test_qcut.py
  tests/integ/modin/utils.py
Labels: bug, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1420 SNOW-1235483: local testing add more datatype support to mock to_timestamp
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_pandas_util.py
  src/snowflake/snowpark/mock/_util.py
  tests/integ/scala/test_function_suite.py
  tests/utils.py
Labels: local testing

#1520 SNOW-1063738 Rewrite `tests/integ/test_column_names.py::test_binary_expression` to apply to Local Testing
  tests/integ/test_column_names.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1535 [CI] Remove skip, run qcut test with access to SNOWFLAKE_SAMPLE_DATA.
  tests/integ/modin/test_qcut.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1541 Add quotes to pip install message with target
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1539 SNOW-1370365: Avoid UNION ALL for 1-column quantile operations
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_describe.py
  tests/integ/modin/frame/test_quantile.py
  tests/integ/modin/series/test_describe.py
  tests/integ/modin/series/test_quantile.py
  tests/integ/modin/test_qcut.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1533 SNOW-1348621 Fixed DataFrame creation from dict of Series objects
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  tests/integ/modin/frame/test_loc.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1511 SNOW-1360949: enable tests to run in local test mode and skip the ones that can not run
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_complex_dataframe_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_dataframe_writer_suite.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_df_aggregate.py
  tests/integ/test_df_analytics.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_function.py
  tests/integ/test_packaging.py
  tests/integ/test_pandas_to_df.py
  tests/integ/test_scoped_temp_objects.py
  tests/integ/test_session.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1546 SNOW-1357611 Fix all quarantined pandas tests for 8.18
  tests/integ/modin/frame/test_add_prefix.py
  tests/integ/modin/frame/test_add_suffix.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/series/test_add_prefix.py
  tests/integ/modin/series/test_add_suffix.py
  tests/integ/modin/series/test_apply.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/tools/test_to_numeric.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1483 [Local Testing] SNOW-1063738 Run all tests against Local Testing by default Part 1
  tests/integ/scala/test_async_job_suite.py
  tests/integ/scala/test_query_tag_suite.py
  tests/integ/scala/test_result_attributes_suite.py
  tests/integ/scala/test_result_schema_suite.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/scala/test_sql_suite.py
  tests/integ/scala/test_table_function_suite.py
  tests/integ/scala/test_udtf_suite.py
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/integ/scala/test_view_suite.py
  tests/integ/test_bind_variable.py
  tests/integ/test_column.py
  tests/integ/test_column_names.py
  tests/integ/test_cte.py
  tests/integ/test_dataframe.py
  tests/integ/test_query_history.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_table_function.py
  tests/integ/test_telemetry.py
  tests/integ/test_udaf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1547 SNOW-1348919 Add tests to confirm the pandas sub bug has been fixed already
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_from_pandas_to_pandas.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1532 [SNOW-1368640] Remove qcut fallback when `labels is not False`
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  tests/integ/modin/test_qcut.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1540 SNOW-1235486: local testing add more type support for to_char
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_util.py
  tests/integ/test_function.py
Labels: local testing

#1544 Fix structured types related test failures.
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#1542 SNOW-1296779: Remove sproc fallback code from Snowpark pandas
  .pre-commit-config.yaml
  setup.py
  src/snowflake/snowpark/modin/plugin/default2pandas/__init__.py
  src/snowflake/snowpark/modin/plugin/default2pandas/stored_procedure_utils.py
  tests/integ/modin/groupby/test_quantile.py
  tests/integ/modin/sql_counter.py
  tests/integ/modin/strings/test_cat.py
  tests/integ/modin/strings/test_extract.py
  tests/integ/modin/strings/test_strings.py
  tests/integ/modin/test_unimplemented.py
  tests/unit/modin/default2pandas/test_stored_procedure_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1512 SNOW-1063738 [Local Testing] Triage test failures in more integration test files
  src/snowflake/snowpark/session.py
  tests/integ/conftest.py
  tests/integ/scala/test_dataframe_copy_into.py
  tests/integ/scala/test_dataframe_join_suite.py
  tests/integ/test_session.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1551 SNOW-1347052 Update pandas API PuPr warning messages
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1553 SNOW-1374343: Use 48 pytest processes.
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1534 SNOW-904270: [Local Testing] Add support for DataFrame.pivot
  CHANGELOG.md
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
Labels: local testing

#1548 SNOW-1375037: Remove joins from qcut implementation
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_qcut.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1555 SNOW-1361200 Fix ambiguous row label error
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_transform.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1556 SNOW-1374306: Add docstring for resample
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1561 SNOW-1063738 Change tox -e local to run against all integ, unit and mock tests
  tests/integ/scala/test_dataframe_writer_suite.py
  tests/integ/scala/test_session_suite.py
  tests/integ/test_df_analytics.py
  tests/integ/test_lineage.py
  tests/integ/test_session.py
  tests/integ/test_stored_procedure.py
  tests/mock/README.md
  tests/mock/conftest.py
  tests/mock/files/test_file_1
  tests/mock/files/test_file_2
  tests/mock/files/udf_file.py
  tests/mock/test_create_df_from_pandas.py
  tests/mock/test_filter.py
  tests/mock/test_functions.py
  tests/mock/test_oob_telemetry.py
  tests/mock/test_session.py
  tests/mock/test_sort.py
  tests/mock/test_stage_registry.py
  tests/mock/test_udf.py
  tests/mock/test_union.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, local testing

#1545 SNOW-1371757: Fix repr when max_cols or max_rows is None
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  tests/integ/modin/frame/test_repr.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1560 SNOW-1326280 Update the doc links in `to_snowpark_pandas`
  src/snowflake/snowpark/dataframe.py
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1568 fix merge gate
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES

#1549 SNOW-1373790: Clean up pandas docstrings + supported methods
  docs/source/modin/dataframe.rst
  docs/source/modin/groupby.rst
  docs/source/modin/resampling.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/groupby_supported.rst
  docs/source/modin/supported/series_supported.rst
  docs/source/modin/window.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES

#1569 SNOW-1411856: fix getvalue usage in tests
  tests/integ/scala/test_async_job_suite.py
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_dataframe_copy_into.py
  tests/integ/scala/test_dataframe_join_suite.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_dataframe_writer_suite.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_large_dataframe_suite.py
  tests/integ/scala/test_literal_suite.py
  tests/integ/scala/test_permanent_udf_suite.py
  tests/integ/scala/test_query_tag_suite.py
  tests/integ/scala/test_result_attributes_suite.py
  tests/integ/scala/test_result_schema_suite.py
  tests/integ/scala/test_session_suite.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/scala/test_sql_suite.py
  tests/integ/scala/test_table_function_suite.py
  tests/integ/scala/test_table_suite.py
  tests/integ/scala/test_udf_suite.py
  tests/integ/scala/test_udtf_suite.py
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/integ/scala/test_view_suite.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_bind_variable.py
  tests/integ/test_column.py
  tests/integ/test_column_names.py
  tests/integ/test_cte.py
  tests/integ/test_dataframe.py
  tests/integ/test_df_aggregate.py
  tests/integ/test_df_analytics.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_function.py
  tests/integ/test_lineage.py
  tests/integ/test_packaging.py
  tests/integ/test_pandas_to_df.py
  tests/integ/test_query_history.py
  tests/integ/test_scoped_temp_objects.py
  tests/integ/test_session.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_table_function.py
  tests/integ/test_telemetry.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#1557 SNOW-1348427: add win and linux tests job into local testing CI and fix bugs
  .github/workflows/precommit.yml
  CHANGELOG.md
  src/snowflake/snowpark/mock/_pandas_util.py
  src/snowflake/snowpark/mock/_stage_registry.py
  src/snowflake/snowpark/mock/_udf_utils.py
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_file_operation_suite.py
  tests/mock/test_stage_registry.py
Labels: local testing

#1554 Add demo jupyter notebooks and update test workflow
  .github/workflows/daily_jupyter_nb_test.yml
  tests/notebooks/modin/SnowflakeChainTesting.ipynb
  tests/notebooks/modin/SnowparkPandasAPIDemo.ipynb
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1571 SNOW-1413958: Skip optimizing dynamic pivot query plan using CTE
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  tests/integ/test_cte.py
  tests/unit/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#1559 SNOW-1375263 Update Snowpark pandas changelog
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1550 SNOW-1320296 - pd.concat SQL Compilation ambigious __row_position__ issue
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/concat_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_describe.py
  tests/integ/modin/test_concat.py
  tests/resources/test_concat_file1.csv
  tests/resources/test_concat_file2.csv
  tests/unit/scala/test_utils_suite.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1572 SNOW-1374293: Fix property method typing.
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/test_type_annotations.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1581 SNOW-1421125: Add to_snowpark_pandas to documentation.
  docs/source/snowpark/dataframe.rst
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES

#1566 SNOW-1374305: Add docstring to Dataframe.merge method
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1584 SNOW-1372258 - Print warning when calling __array__()
  src/snowflake/snowpark/modin/pandas/base.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1576 SNOW-1305522 Test docstrings for GroupBy, Resample, and Window functions
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/pandas/window.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  src/snowflake/snowpark/modin/plugin/docstrings/window.py
  tests/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1577 SNOW-1321662: Update merge behavior to pandas 2.x
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/series/test_bitwise_operators.py
Labels: NO-CHANGELOG-UPDATES

#1589 SNOW-1375119: Track error messages for `NotImplementedError` in Snowpark pandas telemetry
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1563 SNOW-1359484 Allow write Snowpark pandas DataFrame and Series in sess…
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/session.py
  tests/integ/modin/test_session_write_pandas.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1592 SNOW-1428607 quarantined tests for 8.20 due to sql query count mismatch
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/series/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1591 SNOW-1428349: local testing align with snowflake behavior on substr 0-based start_expr
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/test_column.py
Labels: local testing

#1585 SNOW-1370341: write_pandas should raise NotImplementedError in local testing
  CHANGELOG.md
  src/snowflake/snowpark/session.py
  tests/integ/test_pandas_to_df.py
Labels: local testing

#1432 [SNOW-902943]: Add support for pd.NamedAgg in `groupby.agg`
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/integ/modin/groupby/test_groupby_series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1582 SNOW-1368486: local testing mock snowflake connector connection and fix tests
  CHANGELOG.md
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/integ/scala/test_session_suite.py
  tests/integ/test_session.py
Labels: local testing

#1586 SNOW-1421375: local testing fix get_current_object always return upper-cased identifiers
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/test_session.py
  tests/mock/test_session.py
Labels: local testing

#1579 SNOW-1370363: Add support for Series.str.slice
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: NO-CHANGELOG-UPDATES

#1597 SNOW-1324418: Add an example for WhenMatchedClause docstring
  src/snowflake/snowpark/table.py
Labels: NO-CHANGELOG-UPDATES

#1600 TEST: Fix query count for `test_slice`
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1595 SNOW-1429873 Fix pandas groupby apply int not serializable issue
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/resources/diamonds.csv
  tests/unit/scala/test_utils_suite.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1583 SNOW-1421247: Remove skipped doctests that previously defaulted to pandas
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1596 SNOW-1356862: omit mock module test coverage temporarily
  tox.ini
Labels: NO-CHANGELOG-UPDATES, local testing

#1588 SNOW-1041878: Throw KeyError on missing columns in getitem
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  tests/integ/modin/frame/test_drop_duplicates.py
  tests/integ/modin/frame/test_duplicated.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/frame/test_loc.py
Labels: NO-CHANGELOG-UPDATES

#1602 SNOW-1429855 Explicit raise NotImplementedError for groupby.apply with include_groups = False
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_apply.py
Labels: NO-CHANGELOG-UPDATES

#1606 Update CODEOWNERS to replace snowpandas with snowpark-pandas-api team
  .github/CODEOWNERS
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1608 SNOW-1421735: Clean up groupby docstrings
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1604 SNOW-1370305: [Local Testing] fix test_compute_lead test failure
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_df_analytics.py
Labels: local testing

#1607 SNOW-1430675 Enable doctests for Series utils
  src/snowflake/snowpark/modin/pandas/series_utils.py
  tests/conftest.py
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1609 SNOW-1432344: Clean up apply + transform doctests
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1614 SNOW-1433131: Enable regex in DataFrame/Series.replace to include '|' (and other regex special characters)
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_replace.py
  tests/integ/modin/series/test_replace.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1622 xfail SNOW-1434962 groupby.apply order is not deterministic
  tests/integ/modin/groupby/test_groupby_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1624 SNOW-1423583: Structured types not yet supported in SP test env
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1601 SNOW-1358911: Update READMEs and `CONTRIBUTING.md` with Snowpark pandas
  .github/CODEOWNERS
  CONTRIBUTING.md
  README.md
  src/snowflake/snowpark/modin/plugin/README.md
  tests/README.md
Labels: DO-NOT-MERGE, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1627 SNOW-1435489 Add class links in groupby return annotations
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
Labels: NO-CHANGELOG-UPDATES

#1631 SNOW-1434844: Fix SP integ test and xfail lineage trace test
  tests/integ/test_lineage.py
  tests/integ/test_stored_procedure.py
Labels: NO-CHANGELOG-UPDATES

#1625 SNOW-1434962: Make groupby.apply sort result deterministic.
  tests/integ/modin/groupby/test_groupby_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1611 SNOW-1359009 Change classpaths in pandas general APIs to be `modin.pandas.<>`
  docs/source/_templates/autosummary/base.rst
  docs/source/conf.py
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1637 SNOW-1437846: Enforce to_timestamp_ntz in resample
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  tests/integ/modin/resample/test_resample_negative.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1634 SNOW-1434844: Skip caplog checks in SP
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_pandas_to_df.py
Labels: NO-CHANGELOG-UPDATES

#1639 SNOW-1063738 Add template and Github Action changes to enforce local testing parity
  .github/pull_request_template.md
  .github/workflows/enforce_localtest.yml
Labels: NO-CHANGELOG-UPDATES

#1636 SNOW-1411701: fix regression test failure
  tests/integ/scala/test_function_suite.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_function.py
Labels: NO-CHANGELOG-UPDATES

#1635 Release 1.17.0 (Initial public preview release of pandas API)
  CHANGELOG.md
  recipe/meta.yaml
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/version.py
Labels: DO-NOT-MERGE, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1646 SNOW-1440016 Make sure all modin doctests are covered in CI
  tests/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1599 SNOW-1374013: local testing fix dataframe time parse precision error
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_util.py
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_table_suite.py
  tests/utils.py
Labels: local testing

#1644 SNOW-1331955: Remove pandas CHANGELOG
  .github/workflows/changedoc_snowpark_pandas.yml
  .github/workflows/changelog_snowpark_pandas.yml
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1643 SNOW-1438057: Add code coverage to precommit
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1650 Fix Github Action to not fail if the pull request did not contain Local Testing changes
  .github/workflows/enforce_localtest.yml
Labels: NO-CHANGELOG-UPDATES, local testing

#1653 Ensure both teams do not get assigned as reviewers only due to CHANGELOG modifications
  .github/CODEOWNERS
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1623 SNOW-915448: [Local Testing] Fix precision for DecimalTypes
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_column_names.py
  tests/integ/test_df_aggregate.py
Labels: local testing

#1641 SNOW-1370044: [Local Testing] SPROC/UDF if_not_exists support
  CHANGELOG.md
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
Labels: local testing

#1640 SNOW-1370114: [Local Testing] Update tests related to pivot error experience
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1651 SNOW-1019448 Fix bad error message when referencing missing table in Local Testing
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
Labels: local testing

#1642 SNOW-1370056: [Local Testing] Add error messages for permanent/anonymous sproc
  CHANGELOG.md
  src/snowflake/snowpark/mock/_stored_procedure.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1605 SNOW-1370138: raise bug for not implemented option for file read operations
  CHANGELOG.md
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/test_dataframe.py
Labels: local testing

#1619 SNOW-1370204: local testing raise not implemented error for moving_agg and cumulative_agg_agg
  CHANGELOG.md
  src/snowflake/snowpark/dataframe_analytics_functions.py
  tests/integ/test_df_analytics.py
Labels: local testing

#1615 SNOW-1370447: local testing fix bug in udf returning result containing null value
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_udf.py
Labels: local testing

#1647 SNOW-1370173: [Local Testing] Fix test_createDataFrame_with_given_schema_timestamp
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_dataframe_suite.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1616 SNOW-1432455: Update shift signature to match pandas 2.x
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/frame/test_shift.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/integ/modin/series/test_shift.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1661 SNOW-1374081: [Local Testing] fix test_row_number
  tests/integ/scala/test_function_suite.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1645 SNOW-1370028: [Local Testing] Align udf/sproc error experience.
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/mock/_udf_utils.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
  tests/mock/test_udf.py
Labels: local testing

#1633 SNOW-1370306: local testing fix float cast precision loss and pandas timestamp related issues
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_pandas_util.py
  tests/integ/test_dataframe.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_pandas_to_df.py
  tests/mock/test_create_df_from_pandas.py
Labels: local testing

#1663 TEST: Fix combine coverage job
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1628 SNOW-1435524: local testing remove pyarrow as dependency
  CHANGELOG.md
  setup.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_options.py
  src/snowflake/snowpark/mock/_pandas_util.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
  src/snowflake/snowpark/mock/_stage_registry.py
  src/snowflake/snowpark/mock/_util.py
Labels: local testing

#1667 Add PR Labeler to label Snowpark pandas PRs.
  .github/labeler.yml
  .github/workflows/label_snowpark_pandas.yml
Labels: NO-CHANGELOG-UPDATES

#1603 SNOW-1370338: [Local Testing] Fix test failures in test_function.py
  CHANGELOG.md
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_function.py
Labels: local testing

#1664 SNOW-978584 Populate expr_to_alias map in DataFrame.drop by executing the plan
  CHANGELOG.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_join_suite.py
Labels: local testing

#1669 SNOW-1370185 Raise NotImplementedError for DataFrame.rename in Local Testing
  CHANGELOG.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_analyzer.py
  tests/integ/scala/test_dataframe_suite.py
Labels: local testing

#1660 SNOW-1370276 Fix minor bug in date_part implementation and add more target types support for Column.cast
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/test_df_analytics.py
Labels: local testing

#1677 Enable DataFrame Analytics Functions in Local Testing by getting rid of SQL expressions
  CHANGELOG.md
  src/snowflake/snowpark/dataframe_analytics_functions.py
  tests/integ/test_df_analytics.py
Labels: local testing

#1668 SNOW-1373882: local testing enforce nullability check when saving table
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/test_dataframe.py
Labels: local testing

#1679 SNOW-1370035: [Local Testing] Improve consistency of udf input/output
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_udf_utils.py
  tests/integ/scala/test_udf_suite.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1678 SNOW-1369973 Fix DataFrameWriter.save_as_table behavior when appending/truncating with mismatching columns
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/test_dataframe.py
Labels: local testing

#1681 fix codecov rate limit issue and enable coverage for local testing
  .github/workflows/precommit.yml
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#1666 SNOW-1445381: Override docstrings for Series.str/Series.dt
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1580 SNOW-1264688: Remove overrides of infer_object/nunique
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1686 DOC: fix maxdepth to 2
  docs/source/index.rst
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1694 SNOW-1453518 Fix documentation in v1.17.0
  docs/source/_templates/autosummary/base.rst
  docs/source/index.rst
  docs/source/modin/index.rst
Labels: documentation, NO-CHANGELOG-UPDATES

#1688 SNOW-1453027 Remove modin oss code from code coverage
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1698 SNOW-1453518 Fix v1.18.0 docs
  docs/source/_templates/autosummary/base.rst
  docs/source/modin/index.rst
Labels: documentation, NO-CHANGELOG-UPDATES

#1670 SNOW-1445536: Remove StringMethods and DatetimeProperties
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/pandas/series_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/pandas_api_coverage.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1652 [SNOW-902943]: Add support for pd.NamedAgg in DataFrame and Series.agg
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/groupby/conftest.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/integ/modin/groupby/test_groupby_series.py
  tests/integ/modin/series/test_aggregate.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1700 [Snowpark Server] Helper script to fetch protobuf from devvm
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/_internal/proto/update-from-devvm.sh
Labels: snowpark-server

#1690 SNOW-1435047: Fix paramstyle in sproc bug
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
Labels: NO-CHANGELOG-UPDATES
