Repository snowflakedb/snowpark-python, pull requests merged in 2024-10, with the labels that each got.

#2367 SNOW-1694806: Add support for rolling and expanding count with timedelta.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/window/test_expanding.py
  tests/integ/modin/window/test_rolling.py
  tests/integ/modin/window/utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2376 NO-SNOW: fix daily precommit
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2380 Avoid unnecessary warning message when plotting is not enabled
  src/snowflake/snowpark/_internal/compiler/utils.py
Labels: NO-CHANGELOG-UPDATES

#2377 SNOW-1694815: Propagate timedelta types through resampler methods.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/resample/test_resample.py
  tests/integ/modin/resample/test_resample_asfreq.py
  tests/integ/modin/resample/test_resample_fillna.py
  tests/integ/modin/resample/test_resample_negative.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2369 SNOW-1693090: Remove modin/core folder
  setup.py
  src/snowflake/snowpark/modin/core/__init__.py
  src/snowflake/snowpark/modin/core/dataframe/__init__.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/__init__.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/__init__.py
  src/snowflake/snowpark/modin/core/dataframe/algebra/default2pandas/default.py
  src/snowflake/snowpark/modin/core/execution/__init__.py
  src/snowflake/snowpark/modin/core/execution/dispatching/__init__.py
  src/snowflake/snowpark/modin/core/execution/dispatching/factories/__init__.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/io/factories.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2384 Fix test_cte_optimization_enabled_on_session
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2389 SNOW-1625385, SNOW-1625384: Test and/or fix timedelta in integ/modin/{pivot,tools}
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/pivot/test_pivot_table_negative.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/integ/modin/tools/test_to_numeric.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2390 SNOW-1660843 Added support for tz in both pd.date_range and pd.bdate_range
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/general_overrides.py
  tests/integ/modin/tools/test_date_range.py
Labels: snowpark-pandas

#2392 add unit test for query history repr
  tests/unit/test_query_history.py
Labels: NO-CHANGELOG-UPDATES

#2391 SNOW-1707602, SNOW-1707624: Implement `Resampler.nunique` and `Resampler.quantile`
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  docs/source/modin/supported/resampling_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  src/snowflake/snowpark/modin/plugin/extensions/resample_overrides.py
  tests/integ/modin/resample/test_resample.py
Labels: snowpark-pandas

#2381 SNOW-1704402 Fix sql counter test failure on describe_count when sql simplifier disabled
  tests/integ/modin/test_sql_counter.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2387 [SNOW-1706295] Remove unused overwrite for SnowflakePlan node resolve in query generator
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  tests/integ/compiler/test_query_generator.py
Labels: NO-CHANGELOG-UPDATES

#2363 [SNOW-1678113] Improve pivot_table performance
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/unit/modin/test_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2346 SNOW-1566370: remove duplicate with query complexity
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_large_query_breakdown.py
  tests/unit/conftest.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2395 SNOW-1445732: Implement `Series.items()`
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/snow_partition_iterator.py
  src/snowflake/snowpark/modin/plugin/utils/frontend_constants.py
  tests/integ/modin/series/test_items.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2397 SNOW-1710280: mark flaky test xfail
  tests/integ/scala/test_dataframe_suite.py
Labels: NO-CHANGELOG-UPDATES

#2316 SNOW-1642189: collect telemetry about concurrency usage
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/session.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2396 SNOW-1659098 - Added support for errors='ignore' in pd.to_datetime
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/tools/test_to_datetime.py
Labels: snowpark-pandas

#2385 SNOW-1703599: Fix duplicate show query in save_as_table when new compilation stage is applied
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/dataframe_writer.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/test_cte.py
  tests/integ/test_deepcopy.py
Labels: NO-CHANGELOG-UPDATES

#2398 SNOW-1677892, SNOW-1677897: Add support for DataFrame.tz_localize and Series.tz_localize
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/frame/test_tz_localize.py
  tests/integ/modin/series/test_tz_localize.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2399 SNOW-1677888, SNOW-1677890: Add support for DataFrame.tz_convert and Series.tz_convert
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/frame/test_tz_convert.py
  tests/integ/modin/series/test_tz_convert.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2394 [SNOW-1566363] Add telemetry for new compilation stage
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/repeated_subquery_elimination.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2407 Fix test_query_generator for query generation test on each snowflake plan node
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  tests/integ/compiler/test_query_generator.py
Labels: NO-CHANGELOG-UPDATES

#2213 [SNOW-1649172]: Fix `loc` set when setting DataFrame row with Series value
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/isin_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/extensions/indexing_overrides.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/series/test_loc.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2409 SNOW-1727163: Do not drop table in temp table cleaner if the session is already closed
  src/snowflake/snowpark/_internal/temp_table_auto_cleaner.py
  tests/integ/test_temp_table_cleanup.py
Labels: NO-CHANGELOG-UPDATES

#2404 NO-SNOW: fix sp-precommit test for large_query_breakdown and cte
  tests/integ/test_cte.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/utils/sql_counter.py
Labels: NO-CHANGELOG-UPDATES

#2408 [SNOW-1726720]: Fix how expected pandas DataFrames are computed for `read_snowflake` tests
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2406 SNOW-1723157 Add test in precommit
  tests/integ/modin/io/test_read_snowflake_query_cte.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2411 SNOW-1727512: session.table(...)._plan.source_plan should be SelectStatement instead of SnowflakeTable
  src/snowflake/snowpark/table.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/unit/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2415 SNOW-1690717 Applying Snowpark Python function (sin)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_apply_snowpark_python_functions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2413 SNOW-1727534: Implement `Resampler.indices`
  CHANGELOG.md
  docs/source/modin/supported/resampling_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  src/snowflake/snowpark/modin/plugin/extensions/resample_overrides.py
  tests/integ/modin/resample/test_resample.py
  tests/integ/modin/resample/test_resample_property.py
Labels: snowpark-pandas

#2417 SNOW-1728471: Fix changelog entry placement for DataFrameGroupBy.fillna and SeriesGroupBy.fillna
  CHANGELOG.md
Labels: NO-PANDAS-CHANGEDOC-UPDATES

#2403 [SNOW-1708573] Add sql counter check for test_large_query_breakdown
  tests/integ/test_cte.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2422 SNOW-1692063 - Preparatory updates to support more numpy ufunc mappings
  CHANGELOG.md
  docs/source/modin/numpy.rst
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_numpy.py
Labels: snowpark-pandas

#2428 SNOW-1730923: Add interchange protocol __dataframe__ to telemetry.
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  tests/integ/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2433 SNOW-1692063 - More functions for numpy compatibility
  CHANGELOG.md
  docs/source/modin/numpy.rst
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_numpy.py
Labels: snowpark-pandas

#2425 SNOW-1642105: Add variable binding test
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2430 SNOW-1652350: Update save_as_table docstring
  src/snowflake/snowpark/dataframe_writer.py
Labels: NO-CHANGELOG-UPDATES

#2382 SNOW-1638298 add memo to deepcopy
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  tests/integ/test_deepcopy.py
  tests/integ/test_large_query_breakdown.py
  tests/unit/test_deepcopy.py
Labels: NO-CHANGELOG-UPDATES

#2440 SNOW-1734196: fix flaky test
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES

#2432 SNOW-1732002: Add disable cte tests
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  tests/conftest.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2436 SNOW-1731541 Improved generated SQL query for head and iloc when the …
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/series/test_head_tail.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2435 SNOW-1727473: Test and fix timedelta handling in tests/integ/modin/frame: part 2/n.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/frame/test_pct_change.py
  tests/integ/modin/frame/test_quantile.py
  tests/integ/modin/frame/test_rank.py
  tests/integ/modin/frame/test_reindex.py
  tests/integ/modin/frame/test_rename.py
  tests/integ/modin/frame/test_replace.py
  tests/integ/modin/frame/test_repr.py
  tests/integ/modin/frame/test_round.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/frame/test_select_dtypes.py
  tests/integ/modin/frame/test_set_index.py
  tests/integ/modin/series/test_round.py
  tests/integ/modin/series/test_sample.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2444 Fix flaky test in query history
  tests/integ/test_query_history.py
Labels: NO-CHANGELOG-UPDATES

#2429 SNOW-1707419: Improve error message for unknown timezone in tz_convert and tz_localize
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_tz_convert.py
  tests/integ/modin/frame/test_tz_localize.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/series/test_tz_convert.py
  tests/integ/modin/series/test_tz_localize.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2126 SNOW-1570734: Reduce describe query when there is no schema change
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/session.py
  tests/integ/test_reduce_describe_query.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/test_dataframe.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2457 Remove doctest in `auto_clean_up_temp_table_enabled`
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#2458 Revert "SNOW-1732002: Add disable cte tests"
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  tests/conftest.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2463 SNOW-1740300: Fix changelog for 1.24.0
  CHANGELOG.md
Labels: NO-PANDAS-CHANGEDOC-UPDATES

#2437 [SNOW-1731783] Refactor node query comparison for Repeated subquery elimination
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/repeated_subquery_elimination.py
  tests/integ/test_deepcopy.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2424 SNOW-1675191: Fix reindex with non overlapping index types
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_reindex.py
  tests/integ/modin/index/test_df_series_creation_with_index.py
  tests/integ/modin/index/test_reindex.py
  tests/integ/modin/series/test_reindex.py
Labels: snowpark-pandas

#2446 [SNOW-1731549] Disable sql simplification when sort is performed after limit
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/series/test_head_tail.py
  tests/integ/test_simplifier_suite.py
Labels: snowpark-pandas

#2393 SNOW-1662692: Add copy_grants option when registering SP/UDXF
  CHANGELOG.md
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/unit/test_udf_utils.py
Labels: local testing

#2462 SNOW-1728988: Cache attributes on SelectStatement to reduce describe query
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#2401 SNOW-1720835 param protect thread-safe client side changes
  CHANGELOG.md
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/temp_table_auto_cleaner.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/integ/test_multithreading.py
  tests/mock/test_multithreading.py
  tests/unit/conftest.py
  tests/unit/test_dataframe.py
  tests/unit/test_session.py
Labels: local testing

#2449 SNOW-1727330, SNOW-1727332, SNOW-1727334, SNOW-1727335: Add support for DataFrameGroupBy/SeriesGroupBy.bfill/ffill
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_bfill_ffill.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#2471 Drop iceberg table after test
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#2456 SNOW-1730297: update docstring for to_pandas and write_pandas behavior
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#2466 SNOW-1747461: Support `on` parameter with `Resampler`
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/resample/test_resample_on.py
Labels: snowpark-pandas

#2467 [SNOW-1739096] Disallow detecting none select statement as repeated subquery
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2461 SNOW-1654437: change recipe to accept env variable to control whether noarch build
  recipe/meta.yaml
Labels: DO-NOT-MERGE, NO-CHANGELOG-UPDATES

#2455 SNOW-1732432 Improved SQL query for iloc with scalar key
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/indexing_overrides.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/frame/test_dropna.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/frame/test_iat.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_iterrows.py
  tests/integ/modin/frame/test_nunique.py
  tests/integ/modin/index/test_indexing.py
  tests/integ/modin/series/test_head_tail.py
  tests/integ/modin/series/test_iat.py
  tests/integ/modin/series/test_iloc.py
  tests/integ/modin/series/test_mask.py
  tests/integ/modin/series/test_where.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/integ/modin/types/test_timedelta_indexing.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2478 SNOW-1752569: bug fix empty default dictionary in plan
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  tests/integ/test_dataframe.py
Labels: local testing

#2475 [SNOW-1478924]: Ensure `__getitem__` on DataFrameGroupBy returns SeriesGroupBy when appropriate even if `as_index=False`
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_getitem.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2480 Exclude drop table sql from temp table cleaner in sql_counter.py
  tests/integ/utils/sql_counter.py
Labels: NO-CHANGELOG-UPDATES

#2336 SNOW-1674875: merge gate for multithreaded wrapper tests
  .github/workflows/precommit.yml
  tests/conftest.py
  tests/integ/conftest.py
  tests/integ/modin/conftest.py
  tests/integ/modin/test_chained_operations.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_cut.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_internal_frame.py
  tests/integ/modin/test_merge.py
  tests/integ/modin/test_merge_asof.py
  tests/integ/modin/test_modin_stored_procedures.py
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_complex_dataframe_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_dataframe_join_suite.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_file_operation_suite.py
  tests/integ/scala/test_session_suite.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/test_dataframe.py
  tests/mock/conftest.py
  tests/mock/test_multithreading.py
  tests/utils.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, local testing, snowpark-pandas

#2477 NO-SNOW Thread-safety check quote/backtick fix
  .github/workflows/threadsafe-check.yml
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2450 SNOW-1730546: Bug fix for to_csv on stage with empty strings
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/io/test_to_csv.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2476 SNOW-1738518: Test and fix timedelta in tests/integ/modin/frame: part 3/3.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_setitem.py
  tests/integ/modin/frame/test_shape.py
  tests/integ/modin/frame/test_shift.py
  tests/integ/modin/frame/test_size.py
  tests/integ/modin/frame/test_sort_index.py
  tests/integ/modin/frame/test_sort_values.py
  tests/integ/modin/frame/test_squeeze.py
  tests/integ/modin/frame/test_stack.py
  tests/integ/modin/frame/test_take.py
  tests/integ/modin/frame/test_unary_op.py
  tests/integ/modin/frame/test_unstack.py
  tests/integ/modin/frame/test_value_counts.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/types/test_timedelta_indexing.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2441 SNOW-1692063 - numpy log support ( using snowpark functions )
  CHANGELOG.md
  docs/source/modin/numpy.rst
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_apply_snowpark_python_functions.py
  tests/integ/modin/test_numpy.py
Labels: snowpark-pandas

#2484 SNOW-1754879: Improve documentation for Series.map to reflect the unsupported features
  CHANGELOG.md
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
Labels: snowpark-pandas

#2485 SNOW-1690713 Add support for applying snowflake_cortex_summarize
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  tests/integ/modin/test_apply_snowpark_python_functions.py
  tests/integ/test_function.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2486 [SNOW-1541096] Remove old cte query generation implementation
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/repeated_subquery_elimination.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_cte.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/test_cte.py
  tests/unit/test_deepcopy.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2386 SNOW-1445416, SNOW-1445419: Implement DataFrame/Series.attrs
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/general_overrides.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_attrs.py
  tests/integ/modin/frame/test_compare.py
  tests/integ/modin/frame/test_idxmax_idxmin.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_bfill_ffill.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_groupby_nunique.py
  tests/integ/modin/groupby/test_groupby_series.py
  tests/integ/modin/groupby/test_groupby_transform.py
  tests/integ/modin/groupby/test_min_max.py
  tests/integ/modin/io/test_to_pandas.py
  tests/integ/modin/pivot/test_pivot.py
  tests/integ/modin/resample/test_resample.py
  tests/integ/modin/resample/test_resample_on.py
  tests/integ/modin/series/test_aggregate.py
  tests/integ/modin/series/test_isin.py
  tests/integ/modin/series/test_nlargest_nsmallest.py
  tests/integ/modin/series/test_quantile.py
  tests/integ/modin/series/test_unstack.py
  tests/integ/modin/utils.py
Labels: snowpark-pandas

#2492 SNOW-1758877 Fix flaky test test_snowflake_cortex_summarize
  tests/integ/modin/test_apply_snowpark_python_functions.py
  tests/integ/test_function.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2493 SNOW-1491199 Add code owner snowpark-ir
  .github/CODEOWNERS
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2488 SNOW-1518382, SNOW-1344931: Implement np.may_share_memory
  CHANGELOG.md
  docs/source/modin/numpy.rst
  setup.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_numpy.py
  tests/integ/modin/test_scikit.py
Labels: snowpark-pandas

#2451 SNOW-1645316: Modularize skip lqb conditions and add no db check
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2495 Fix invalid test cases in test_reduce_describe_query
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#2419 SNOW-1617634: Update large query breakdown to not break and duplicate CTEs
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_telemetry.py
  tests/unit/compiler/test_large_query_breakdown.py
  tests/unit/compiler/test_replace_child_and_update_node.py
Labels: NO-CHANGELOG-UPDATES

#2496 SNOW-1760125: Disable test_read_snowflake_query_cte_with_python_anonymous_sproc test from precommit
  tests/integ/modin/io/test_read_snowflake_query_cte.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2494 [SNOW-1758768] Add repeated node complexity distribution telemetry
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  src/snowflake/snowpark/_internal/compiler/repeated_subquery_elimination.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_telemetry.py
  tests/unit/test_cte.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2491 SNOW-1733956: fix sql count of modin tests with cte enabled
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  tests/conftest.py
  tests/integ/modin/crosstab/test_crosstab.py
  tests/integ/modin/frame/test_assign.py
  tests/integ/modin/frame/test_cache_result.py
  tests/integ/modin/frame/test_describe.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_name.py
  tests/integ/modin/frame/test_setitem.py
  tests/integ/modin/groupby/test_groupby_transform.py
  tests/integ/modin/pivot/test_pivot_table_dropna.py
  tests/integ/modin/pivot/test_pivot_table_fill_value.py
  tests/integ/modin/pivot/test_pivot_table_margins.py
  tests/integ/modin/series/test_cache_result.py
  tests/integ/modin/series/test_describe.py
  tests/integ/modin/series/test_fillna.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_mask.py
  tests/integ/modin/series/test_setitem.py
  tests/integ/modin/series/test_where.py
  tests/integ/modin/types/test_timedelta_indexing.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2469 SNOW-1231581: Enable local testing mode when running doctests.
  src/conftest.py
  tests/conftest.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2508 Revert "SNOW-1760125: Disable test_read_snowflake_query_cte_with_python_anonymous_sproc test from precommit"
  tests/integ/modin/io/test_read_snowflake_query_cte.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2503 SNOW-1722639: Add support for DataFrame.style
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_style.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2472 SNOW-1615885: Don't use `snowflake_plan.attributes` in SQL simplifier and infer quoted identifiers
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_reduce_describe_query.py
  tests/unit/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2509 Fix flaky test_create_temp_table_no_commit
  tests/integ/scala/test_session_suite.py
Labels: NO-CHANGELOG-UPDATES

#2516 Aalam fix daily preocmmit
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_multithreading.py
  tests/unit/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2473 SNOW-1727257 test iceberg with large query breakdown
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#2504 SNOW-1707707: Add support for Index.to_numpy
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/index/test_astype.py
  tests/integ/modin/test_to_numpy.py
Labels: snowpark-pandas

#2517 Skip child replace for new query compilation stage if the child has been updated already
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2510 SNOW-1491199 add ast-encoding test in precommit
  .github/workflows/precommit.yml
  tests/ast/README.md
  tests/ast/conftest.py
  tests/ast/test_ast_setup.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2521 SNOW-1730742: Use SnowflakeValues.output as cached attributes
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#1965 Update modin dependency to 0.30.1
  .github/workflows/daily_modin_precommit.yml
  CHANGELOG.md
  CONTRIBUTING.md
  setup.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/frame/test_cache_result.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_transform.py
  tests/integ/modin/index/test_df_series_creation_with_index.py
  tests/integ/modin/series/test_apply.py
  tests/integ/modin/test_modin_stored_procedures.py
  tests/integ/modin/test_session.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/modin/utils.py
  tests/integ/test_df_to_snowpark_pandas.py
  tox.ini
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2483 SNOW-1692064: Implement DataFrame/Series align for axis = 0
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_typing.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/frame/test_align.py
  tests/integ/modin/series/test_align.py
  tests/integ/modin/test_ordered_dataframe.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2529 SNOW-1634498: Refactor df.corr implementation to call agg on OrderedD ataFrame
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2474 [SNOW-1748174]: Add support for `size` in `groupby.agg`
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/groupby_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_size.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/integ/modin/series/test_aggregate.py
  tests/unit/modin/test_aggregation_utils.py
Labels: snowpark-pandas

#2531 SNOW-1770289: Add test for CTE on `session.sql("with ...")`
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2536 SNOW-1773962: Fix changelog for 1.25.0
  CHANGELOG.md
Labels: NO-PANDAS-CHANGEDOC-UPDATES

#2526 SNOW-1748403: Use Aggregate.aggregate_expressions to infer quoted identifiers
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#2523 Add system_reference to docs
  docs/source/snowpark/functions.rst
Labels: NO-CHANGELOG-UPDATES

#2540 SNOW-1748104,SNOW-1748107, SNOW-1748108: Add support for pd.read_pickle/read_html/read_xml
  CHANGELOG.md
  docs/source/modin/io.rst
  docs/source/modin/supported/general_supported.rst
  setup.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_html.py
  tests/integ/modin/io/test_read_pickle.py
  tests/integ/modin/io/test_read_xml.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2542 SNOW-1777142: Implement groupby.agg(len)
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_size.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/integ/modin/series/test_aggregate.py
  tests/unit/modin/test_aggregation_utils.py
Labels: snowpark-pandas

#2534 SNOW-1652384: Add series/test_to_list and fix test_to_numpy
  tests/integ/modin/series/test_to_list.py
  tests/integ/modin/test_to_numpy.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2549 SNOW-1491199 Introduce ast.proto to the Snowpark client
  .pre-commit-config.yaml
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/_internal/proto/generated/ast_pb2.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES
