Repository snowflakedb/snowpark-python, pull requests merged in 2024-07, with the labels that each got.

#1842 Fix Snowpark pandas daily tests
  .github/workflows/daily_modin_precommit.yml
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1853 Ignore modin import paths in mypy
  mypy.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1857 SNOW-1344938: Add support for DataFrame.corr
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/frame/test_aggregate.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1793 SNOW-1437699: Add support for explicit casts to Structured Types
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_stored_procedure.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1873 SNOW-1492846: Get rid of converting non-select SQL to select SQL in `SelectSQL` when finding duplicate subtrees
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#1866 SNOW-1372268 - np.where<cond>, scalar, scalar produces wrong output
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/test_numpy.py
Labels: bug, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1870 SNOW-1018027 - Limited support for df.plot and series.plot through to_pandas
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  setup.py
  src/snowflake/snowpark/modin/pandas/api/extensions/extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/test_plot.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1880 Update pandas API coverage numbers from tests
  docs/modin_api_coverage/API-Documentation-Generation.ipynb
  docs/modin_api_coverage/DocumentedPandasAPI.csv
  docs/modin_api_coverage/Supported_API.csv
  docs/modin_api_coverage/Supported_API.md
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1874 SNOW-1517067 Correct the Index documentation
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/index.py
Labels: documentation, NO-CHANGELOG-UPDATES, snowpark-pandas

#1832 SNOW-1447365: Add support for to_csv
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/_internal/io_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/io/test_to_csv.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1867 Fix flakiness in opentelemetry test
  tests/integ/test_open_telemetry.py
  tests/unit/test_open_telemetry.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1886 Add Jenkins account to structured type support list
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1885 SNOW-1474971: Re-enable telemetry for collecting plan heights and number of duplicate nodes
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1898 Disable test_udtf_external_access_integration
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#1858 [SNOW-1482588] Eliminate cast expression for numeric value
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/datatype_mapper.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/session.py
  tests/integ/test_column_names.py
  tests/integ/test_cte.py
  tests/integ/test_session.py
  tests/integ/test_simplifier_suite.py
  tests/unit/test_datatype_mapper.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1892 SNOW-1527038 Fix value_counts bug where the index is not sorted properly
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_value_counts.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1891 [SNOW-1527902]: Add support for `limit` parameter in `fillna`.
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_fillna.py
  tests/integ/modin/series/test_fillna.py
Labels: snowpark-pandas

#1875 SNOW-1458132 Implement Index.unique and Index.nunique
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_set_index.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_unique.py
  tests/integ/modin/series/test_unique.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#1896 SNOW-1447365: Fix to_csv tests running on windows
  tests/integ/modin/io/test_to_csv.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1872 SNOW-1507519: Add support for column_order='name' in append mode write.save_as_table
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_writer_suite.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1878 SNOW-1518381: enabling oob telemetry for local testing
  src/snowflake/snowpark/mock/_telemetry.py
  tests/mock/test_oob_telemetry.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1864 SNOW-1505281: Add support for DataFrame/Series.equals
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_equals.py
  tests/integ/modin/series/test_equals.py
Labels: snowpark-pandas

#1905 SNOW-1529332: Remove private_preview decorator for create_or_replace_dynamic_table
  src/snowflake/snowpark/dataframe.py
Labels: NO-CHANGELOG-UPDATES

#1863 SNOW-1458125 Implement Index.astype
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/index/test_astype.py
  tests/integ/modin/index/test_index_methods.py
Labels: snowpark-pandas

#1909 SNOW-1527038 Fix Jenkins failure, explain `Series.value_counts` behavior
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/series/test_value_counts.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1893 [SNOW-1524894]: Add support for `reindex`
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_reindex.py
  tests/integ/modin/series/test_reindex.py
Labels: snowpark-pandas

#1884 DOC FIX: Move unreleased changelog entries to the correct section
  CHANGELOG.md
Labels: documentation

#1813 SNOW-1491306 Phase 0 AST for DataFrame first, sample, and random_split
  src/snowflake/snowpark/_internal/ast.py
  src/snowflake/snowpark/_internal/ast_utils.py
  src/snowflake/snowpark/_internal/proto/ast_pb2.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/session.py
  tests/ast/data/df_first.test
  tests/ast/data/df_random_split.test
  tests/ast/data/df_sample.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#1917 SNOW-1540745: Fix snowpark ntile doctest failing
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#1901 SNOW-1458130 Implement `Index.sort_values`
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_sort_values.py
Labels: snowpark-pandas

#1903 SNOW-1445737, SNOW-1445842: Add support for DataFrame/Series.backfill/bfill
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_bfill_ffill.py
  tests/integ/modin/series/test_bfill_ffill.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1913 Fix open telemetry test flakiness in non-localtesting env
  tests/conftest.py
  tests/integ/test_open_telemetry.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1925 Fix telemetry test when sql simplifier is disabled
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1927 [CI-fix] Fix rename test
  tests/integ/modin/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1933 SNOW-1542753: Remove Snowpark pandas PuPr import warning
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1869 SNOW-860411: Support dataframe and series compare() with default parameters.
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_compare.py
  tests/integ/modin/series/test_compare.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1932 SNOW-1531493: Rename `UnresolvedRelation` to `SnowflakeTable`
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/table.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1928 [SNOW-1533733] Add execution_queries property for SnowflakePlan to get the final query will be sent over to server for execution
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/perf/perf_runner.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1916 SNOW-1458130 Minor documentation fix for `Series.sort_values`
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
Labels: documentation, NO-CHANGELOG-UPDATES, snowpark-pandas

#1912 SNOW-1516310: [Local Testing] Add support for datediff
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_function_suite.py
Labels: local testing

#1890 SNOW-982770: [Local Testing] Add support for rank related features.
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
  tests/integ/scala/test_function_suite.py
  tests/utils.py
Labels: local testing

#1871 SNOW-1163211: Refactor StringType to allow variable max size
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/schema_utils.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
  src/snowflake/snowpark/types.py
  tests/integ/test_datatypes.py
  tests/integ/test_pandas_to_df.py
  tests/unit/scala/test_datatype_suite.py
  tests/unit/test_types.py
  tests/utils.py
Labels: local testing

#1921 SNOW-1539600: Refactor structured type tests to explicitly set params
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_stored_procedure.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1939 Fix CHANGELOG Index entries
  CHANGELOG.md
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1938 [SNOW-1545149] Ensure source plan is attached for Table and View create SnowflakePlan
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/mock/_analyzer.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1911 SNOW-1533740: use SnowflakeCreateTable for cache result
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#1946 SNOW-1541091: Add plan compiler component
  setup.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/__init__.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
Labels: NO-CHANGELOG-UPDATES

#1915 SNOW-1526422, SNOW-1524697: Remove axis labels and callable names from unsupported aggregation messages.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/pivot/test_pivot_table_negative.py
  tests/integ/modin/series/test_aggregate.py
  tests/integ/modin/test_unimplemented.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1962 Remove unused function build_from_multiple_queries
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
Labels: NO-CHANGELOG-UPDATES

#1934 SNOW-1458131: Add support for Index.is_unique and Index.has_duplicates
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_concat.py
Labels: snowpark-pandas

#1929 SNOW-1540713: Maintain temp table reference count map at session level
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/table.py
  tests/integ/test_temp_table_cleanup.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1937 [SNOW-1541087] Allow deep copy of SnowflakePlan and Selectable
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_deepcopy.py
Labels: NO-CHANGELOG-UPDATES

#1944 SNOW-1545096, SNOW-1546452: Add support for Series.dt.microsecond/nanosecond
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#1960 [SNOW-1551115] Fix test failure for test_execution_queries_and_queries when sql_simplifier is disabled
  tests/integ/scala/test_snowflake_plan_suite.py
Labels: NO-CHANGELOG-UPDATES

#1956 SNOW-1549173: Fix AssertionError in Series/DataFrame drop_duplicates
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_drop_duplicates.py
  tests/integ/modin/series/test_drop_duplicates.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1969 Fix test failure for test_deepcopy.py/test_selectentity
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  tests/integ/test_deepcopy.py
Labels: NO-CHANGELOG-UPDATES

#1940 SNOW-1545615: Change snowflake.snowpark.modin.pandas to modin.pandas in DF/Series doc generation
  docs/source/_templates/autosummary/modin_accessor.rst
  docs/source/conf.py
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  src/snowflake/snowpark/modin/pandas/io.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#1920 SNOW-1458148: Implement Index.equals
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_equals.py
  tests/integ/modin/index/test_equals.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_transpose.py
  tests/integ/modin/series/test_equals.py
Labels: snowpark-pandas

#1924 SNOW-1479433 Fix incidental breakages caused by bugfixes in APPROX_PERCENTILE sql implementation
  tests/integ/scala/test_dataframe_suite.py
Labels: NO-CHANGELOG-UPDATES

#1971 SNOW-154917: Fix test test_drop_duplicates_post_sort_values
  tests/integ/modin/series/test_drop_duplicates.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1964 SNOW-1552465: Push `result.name = None` from frontend to QC
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1972 SNOW-1478684: Remove index.equals workaround from compare
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_compare.py
  tests/integ/modin/index/test_equals.py
  tests/integ/modin/series/test_compare.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1953 [SNOW-1545219]Query Generator for plan compilation
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/scala/test_snowflake_plan_suite.py
Labels: NO-CHANGELOG-UPDATES

#1966 SNOW-864083: Remove unnecessary count query from is_series_like
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_isin.py
  tests/integ/modin/series/test_isin.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1979 Skip test_dataframe::test_dataframe_to_local_iterator_with_to_pandas_isolation when there is no pandas
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#1982 SNOW-154917: Fix test test_drop_duplicates_post_sort_values
  tests/integ/modin/frame/test_drop_duplicates.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1974 [SNOW-1552736] Add unit test for deepcopy for selectable and integ test for complicated plan
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  tests/integ/test_deepcopy.py
  tests/unit/test_deepcopy.py
Labels: NO-CHANGELOG-UPDATES

#1984 Disable test_cte.test_sql when sql simplifier is disabled
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#1980 SNOW-1555397 Fix index.to_frame()'s wrong result column name
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_methods.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1902 SNOW-1458133 Implement `Index.value_counts`
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_value_counts.py
Labels: snowpark-pandas

#1985 SNOW-1555437 Fix Index docstrings
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/index.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1981 Fix test_literal_suite
  tests/integ/scala/test_literal_suite.py
Labels: NO-CHANGELOG-UPDATES

#1954 SNOW-1331032 Add function python_value_str_to_object
  src/snowflake/snowpark/_internal/type_utils.py
  tests/unit/test_types.py
Labels: NO-CHANGELOG-UPDATES

#1975 SNOW-1552804, SNOW-1552806: Add support for Series.dt.day_name/month_name
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#1949 SNOW-1511601: fix bug that merge insert does not populate values into the columns
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_update_delete_merge_suite.py
Labels: local testing

#1959 SNOW-1526571: fix implementation of lead and lag handling ignore null option
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_function_suite.py
Labels: local testing

#1989 SNOW-1461224 Implement indexing for Index
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/indexing.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_set_index.py
  tests/integ/modin/index/test_indexing.py
  tests/integ/modin/series/test_iloc.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1848 [SNOW-1445834, SNOW-1445726]: Implemented `DataFrame.unstack` and `Series.unstack`
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_stack.py
  tests/integ/modin/frame/test_unstack.py
  tests/integ/modin/series/test_unstack.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2007 DOC-3247 Fix documentation in main branch: increase toctree maxdepth to 3
  docs/source/index.rst
  docs/source/snowpark/index.rst
Labels: documentation, NO-CHANGELOG-UPDATES

#2008 Update the analyzer to use a consistent way to get the resolved children
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
Labels: NO-CHANGELOG-UPDATES

#2000 SNOW-1440313: Add telemetry for Index APIs
  src/snowflake/snowpark/modin/plugin/extensions/index.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
