Repository snowflakedb/snowpark-python, pull requests merged in 2024-08, with the labels that each got.

#1509 SNOW-1331032: Support default argument values in UDXF and SP
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/datatype_mapper.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
  tests/resources/test_udtf_dir/test_udtf_file.py
  tests/unit/test_udf_utils.py
Labels: local testing

#1995 SNOW-1562363: Support for `DataFrame/Series.asfreq`
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  tests/integ/modin/resample/test_resample.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2016 SNOW-1565875, SNOW-1565880: Add support for Series.dt.is_month_start/is_month_end
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/test_unimplemented.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2003 SNOW-1514879 Support Index in eval_snowpark_pandas_result
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_sort_values.py
  tests/integ/modin/utils.py
  tests/unit/modin/test_internal_frame.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1957 SNOW-1331032 add retrieve func defaults from source
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/datatype_mapper.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
  tests/resources/test_udtf_dir/test_udtf_file.py
  tests/unit/test_types.py
  tests/unit/test_udf_utils.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2002 SNOW-1458141 Implement Index.all and Index.any
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_all_any.py
  tests/integ/modin/frame/test_duplicated.py
  tests/integ/modin/frame/test_equals.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_all_any.py
  tests/integ/modin/series/test_all_any.py
  tests/integ/modin/series/test_equals.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#2021 SNOW-1565888, SNOW-1565890: Add support for Series.dt.is_year_start/is_year_end
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/test_unimplemented.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2025 SNOW-1565881, SNOW-1565885: Add support for Series.dt.is_quarter_start/is_quarter_end
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2026 Fix test_lock_function
  tests/unit/test_generated_udf_lock.py
Labels: NO-CHANGELOG-UPDATES

#2005 SNOW-1565224: Add Session.append_query_tag and Session.update_query_tag to docs
  docs/source/snowpark/session.rst
Labels: NO-CHANGELOG-UPDATES

#2027 SNOW-1573367 Fix not raise NotImplementedError for seting cell with list
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/indexing.py
  tests/integ/modin/frame/test_at.py
  tests/integ/modin/frame/test_iat.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_loc.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2031 SNOW-1573193: Remove local index from pd.Index
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_axis.py
  tests/integ/modin/frame/test_getattr.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_set_index.py
  tests/integ/modin/index/test_astype.py
  tests/integ/modin/index/test_equals.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/utils.py
  tests/unit/modin/test_type_annotations.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2006 [SNOW-1541092] Add RepeatedSubqueryElimination for the new compilation stage
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/repeated_subquery_elimination.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  src/snowflake/snowpark/session.py
  tests/integ/test_cte.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/test_cte.py
  tests/unit/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2036 SNOW-1607899: Add support for Series.dt.is_leap_year
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2020 SNOW-1569896 Refactor index to take in DataFrame/Series
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_methods.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2038 [SNOW-1570952] Remove unnecessary workaround for query comparison
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2041 [SNOW-1616087] Use copy instead of deepcopy during query generation
  src/snowflake/snowpark/_internal/compiler/query_generator.py
Labels: NO-CHANGELOG-UPDATES

#2042 Fix no pandas test
  tests/mock/test_pandas_util.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2044 Update there server parameter PYTHON_SNOWPARK_ENABLE_COMPILATION_STAGE to PYTHON_SNOWPARK_COMPILATION_STAGE_ENABLED
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#2043 Fix opentelemetry test
  tests/integ/test_open_telemetry.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2013 SNOW-1568022: Add optional parameters to regexp and rlike
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_column_suite.py
  tests/integ/test_column_names.py
  tests/integ/test_datatypes.py
  tests/utils.py
Labels: local testing

#2012 SNOW-1558877: Add Snowpark pandas DatetimeIndex class
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_overrides.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_astype.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/index/test_equals.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/unit/modin/test_class.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2056 SNOW-1471198 move modin_sp_short_regress to modin_sp_precommit
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/pivot/test_pivot_table_single.py
  tests/integ/modin/test_merge.py
  tests/unit/modin/test_internal_frame.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2058 SNOW-1471198 Snowpark pandas sproc precommit: fix and add more tests
  tests/integ/modin/io/test_read_csv.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/test_dtype_mapping.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2045 SNOW-1618623 lazy index: refactor qc as input for index constructor
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/index/test_index_methods.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2039 SNOW-1615695: Push empty all/any processing down to query compiler
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2061 SNOW-1418507: Refactor _custom_package_usage_config
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#1876 SNOW-685438: sign artifact before publish using cosign
  .github/workflows/python-publish.yml
Labels: NO-CHANGELOG-UPDATES

#2065 Update test_eliminate_numeric_sql_value_cast_optimization_enabled_on_session to be invariant of the server parameter change
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2064 SNOW-1546396: Fix update_resolvable_node to reset attributes for SelectStatement & SetStatement
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2051 Skip optional args udtf test in sp
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#2060 SNOW-1445838: Support DataFrame.items.
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/frame/test_items.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2050 SNOW-1486910: Return DatetimeIndex from to_datetime and date_range
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_axis.py
  tests/integ/modin/frame/test_drop_duplicates.py
  tests/integ/modin/frame/test_duplicated.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_nlargest_nsmallest.py
  tests/integ/modin/frame/test_set_index.py
  tests/integ/modin/series/test_axis.py
  tests/integ/modin/series/test_getitem.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_setitem.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/tools/test_date_range.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/integ/modin/utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2062 SNOW-1615623, SNOW-1615626: Add support for Series.dt.floor/ceil
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/series/test_dt_accessor_unsupported.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2071 Fix pandas doc test failure after removing unncessary cast
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1935 [SNOW-1458121]: Add support for `Index.reindex`.
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_reindex.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#2079 SNOW-1617110: Remove preview feature annotation for GA features
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/udtf.py
Labels: NO-CHANGELOG-UPDATES

#2069 SNOW-1464131: Add client side stored proc tests
  tests/integ/modin/test_modin_stored_procedures.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2078 SNOW-1488914: Implement `Resampler.fillna` and `Resampler.bfill`
  CHANGELOG.md
  docs/source/modin/supported/resampling_supported.rst
  src/snowflake/snowpark/modin/pandas/resample.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  tests/integ/modin/resample/test_resample.py
  tests/integ/modin/resample/test_resample_asfreq.py
  tests/integ/modin/resample/test_resample_fillna.py
  tests/integ/modin/resample/test_resample_negative.py
  tests/integ/modin/test_telemetry.py
Labels: snowpark-pandas

#2084 SNOW-1471203 Re-enable apply tests in Snowpark pandas sproc precommit…
  tests/integ/modin/frame/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2080 SNOW-1623450: fix flaky test by mocking datetime now
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/mock/test_functions.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2075 SNOW-1559329: Create a client-side Timedelta type.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/snowpark_pandas_types.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/types/test_timedelta.py
  tests/unit/modin/test_snowpark_pandas_types.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2085 SNOW-1471203 remove unused test case in test_apply.py
  tests/integ/modin/frame/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2089 SNOW-1442354 Fix a bug in series.reset_index where the result name may be wrong
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/series.py
  tests/integ/modin/series/test_cache_result.py
  tests/integ/modin/series/test_reset_index.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2093 SNOW-1625377 Rename snowflake_quoted_identifier_to_snowflake_type to …
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2088 SNOW-1567720: Use statement parameter to track the drop table query issued by auto temp table cleaner
  src/snowflake/snowpark/_internal/temp_table_auto_cleaner.py
Labels: NO-CHANGELOG-UPDATES

#2047 SNOW-1568022: [Local Testing] Add support for within_group and array_agg
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_column_names.py
Labels: local testing

#2030 SNOW-1458142 Implement `Index.argmax` and `Index.argmin`
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_argmax_argmin.py
Labels: snowpark-pandas

#2082 SNOW-1616098: Fix FIPS test
  ci/docker/snowpark_test_fips/Dockerfile
  ci/docker/snowpark_test_fips/scripts/entrypoint.sh
  ci/test_fips.sh
  ci/test_fips_docker.sh
Labels: NO-CHANGELOG-UPDATES

#2099 SNOW-1628228: Fix bug in `groupby.first/last` with ordering columns in window expression
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_head_tail.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2091 SNOW-1372242 SNOW-1442354 Support index's Arithmetic and Comparison Operators
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_ops.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2098 SNOW-1615622: Add support for Series.dt.round
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/integ/modin/series/test_dt_accessor_unsupported.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2109 SNOW-1629010: Make note of timedelta precision bug.
  tests/integ/modin/types/test_timedelta.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2092 SNOW-1570717: Add documentation pages for DatetimeIndex
  CHANGELOG.md
  docs/source/modin/indexing.rst
  docs/source/modin/supported/datetime_index_supported.rst
  docs/source/modin/supported/index.rst
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: snowpark-pandas

#2103 SNOW-1628400: Keep nanoseconds in Timestamp scalars.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/binary/test_binary_op.py
  tests/unit/modin/test_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2101 SNOW-1628439: Update synk requirement to match with setup.py
  ci/snyk/requirements.txt
Labels: NO-CHANGELOG-UPDATES

#2087 SNOW-1510073: [Local Testing] Add type coercion to udf expressions
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_udf.py
Labels: local testing

#2111 SNOW-1624171 Fix flaky test
  tests/integ/modin/index/test_index_ops.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2112 SNOW-1578717 Fix build doc
  docs/source/modin/indexing.rst
Labels: NO-CHANGELOG-UPDATES

#2052 SNOW-1552403: local testing save table in truncate mode with df of fewer column leads to indexerror
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/scala/test_dataframe_writer_suite.py
Labels: local testing

#2106 SNOW-1458122 Index name apis
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_nlargest_nsmallest.py
  tests/integ/modin/index/test_name.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#2102 SNOW-1625377 Raise NotImplementedError for timedelta
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/concat_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/cumulative_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/generator_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/groupby_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/isin_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/frame/test_reset_index.py
  tests/integ/modin/series/test_cache_result.py
  tests/integ/modin/series/test_copy.py
  tests/integ/modin/series/test_shift.py
  tests/integ/modin/series/test_sort_index.py
  tests/integ/modin/types/test_timedelta.py
  tests/unit/modin/conftest.py
  tests/unit/modin/test_internal_frame.py
  tests/unit/modin/test_snowflake_query_compiler.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2121 SNOW-1632086: update gh action name to verify signature
  .github/workflows/python-publish.yml
Labels: NO-CHANGELOG-UPDATES

#2123 SNOW-1632264: skip test in stored proc
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2032 SNOW-1461198 Implement `Index.__repr__`
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_repr.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2059 SNOW-1119855: Push base unimplemented methods to query compiler when possible (1/?)
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/frame/test_filter.py
  tests/integ/modin/groupby/test_groupby_get_group.py
  tests/integ/modin/strings/test_case_justify.py
  tests/integ/modin/test_unimplemented.py
  tests/unit/modin/test_groupby_unsupported.py
  tests/unit/modin/test_series_strings.py
  tests/unit/modin/test_unsupported.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2116 SNOW-1625231: Add support for month_name and day_name in DatetimeIndex
  CHANGELOG.md
  docs/source/modin/supported/datetime_index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: snowpark-pandas

#2127 SNOW-1632818: fix lineage trace test failure in daily regression test
  tests/integ/test_lineage.py
Labels: NO-CHANGELOG-UPDATES

#2129 Fix Jenkins test_strings.py error
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2090 SNOW-1569005: Deduplicate queries and post actions with building queries from binary plan
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_cte.py
Labels: snowpark-pandas

#2128 SNOW-1632902, SNOW-1632904, SNOW-1632907: Add support for Series.dt.weekday/time and DatetimeIndex.time
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/datetime_index_supported.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2113 SNOW-1320449: Support subtracting two timestamps to get a timedelta.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/snowpark_pandas_types.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/binary/test_timedelta.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2131 SNOW-1632454, SNOW-1518846: Fix AssertionError in tree of binary operations
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  tests/integ/modin/test_chained_operations.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2130 SNOW-1633990: Refactor binary operations to normalize right-sided operations.
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2119 SNOW-1418500: Refactor _resolve_packages to have no side-effects
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/session.py
  tests/integ/test_packaging.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2140 SNOW-1458127 Implement Index.min and Index.max, added tests
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#2145 SNOW-1635810: fix precommit
  tests/integ/scala/test_dataframe_suite.py
Labels: NO-CHANGELOG-UPDATES

#2141 SNOW-1625468 SNOW-1634393 Support indexing with Timedelta data columns
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/snowpark_pandas_types.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/warning_message.py
  tests/integ/modin/types/test_timedelta_indexing.py
  tests/unit/modin/test_snowpark_pandas_types.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2095 SNOW-1618349: Add support for `pd.merge_asof`
  CHANGELOG.md
  docs/source/modin/general_functions.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_typing.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_merge_asof.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2143 SNOW-1632900, SNOW-1625232: Add support for Series.dt.normalize and DatetimeIndex.normalize
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/datetime_index_supported.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2144 SNOW-1633773 : unskip lineage test as account privilege is resolved
  tests/integ/test_lineage.py
Labels: NO-CHANGELOG-UPDATES

#2114 SNOW-1569916: fix local testing default timestamp timezone issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_function_suite.py
Labels: local testing

#2146 SNOW-1458123 Implement Index `is_numeric`, `is_integer`, `is_boolean`, `is_floating`, and `is_object`
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#2148 SNOW-1620412: Add support for `astype` conversion to Timedelta
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_astype.py
  tests/integ/modin/series/test_astype.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2142 SNOW-1620446: add timedelta integration tests and notebooks
  tests/integ/modin/test_timedelta_ops.py
  tests/notebooks/README.md
  tests/notebooks/modin/MIMICHealthcareDemo.ipynb
  tests/notebooks/modin/TimeSeriesTesting.ipynb
  tests/notebooks/modin/data/ADMISSIONS.csv
  tests/notebooks/modin/data/ICUSTAYS.csv
  tests/notebooks/modin/data/PATIENTS.csv
  tests/notebooks/test_requirements.txt
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2152 SNOW-1625378 Test write timedelta in I/O
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/io/test_to_csv.py
  tests/integ/modin/io/test_to_dict.py
  tests/integ/modin/io/test_to_pandas.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2156 FIX: Fix `merge_asof` test disabled sql simplifier
  tests/integ/modin/test_merge_asof.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2135 SNOW-1558919: Add support for DatetimeIndex ceil, floor and round methods
  CHANGELOG.md
  docs/source/modin/supported/datetime_index_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  src/snowflake/snowpark/modin/plugin/extensions/datetime_index.py
  tests/integ/modin/index/test_datetime_index_methods.py
Labels: snowpark-pandas

#2153 SNOW-1636767, SNOW-1635405: Support timestamp +/- timedelta.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/binary/test_timedelta.py
  tests/unit/modin/test_type_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2158 SNOW-1638059: fix daily precommit failure test
  tests/integ/scala/test_async_job_suite.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2163 SNOW-1638433 Add AssertionError message into Telemetry
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/snowpark_pandas_types.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2159 SNOW-1637932 Refactor quoted_identifier_to_snowflake_type
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/where_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/frame/test_dtypes.py
  tests/unit/modin/conftest.py
  tests/unit/modin/test_series_dt.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2151 SNOW-1636789, SNOW-1636790: Add support for Series.dt.days_in_month/daysinmonth
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
  tests/unit/modin/test_series_dt.py
Labels: snowpark-pandas

#2166 SNOW-1549041: Expose and create function ln
  CHANGELOG.md
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/test_function.py
Labels: local testing

#2169 SNOW-1637101: Support binary operations between two timedeltas.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/binary/test_timedelta.py
  tests/integ/modin/frame/test_compare.py
  tests/integ/modin/frame/test_equals.py
  tests/integ/modin/series/test_equals.py
  tests/integ/modin/test_timedelta_ops.py
  tests/notebooks/modin/MIMICHealthcareDemo.ipynb
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2173 Fix error message in python 3.8 to_snowpark_pandas daily test
  tests/integ/test_df_to_snowpark_pandas.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2172 Fix query_generator for new compilation stage after optimization applied
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#2160 SNOW-1559348: Add Snowpark pandas TimedeltaIndex class
  CHANGELOG.md
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index.rst
  docs/source/modin/supported/timedelta_index_supported.rst
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/index/conftest.py
  tests/integ/modin/index/test_timedelta_index_methods.py
  tests/unit/modin/test_class.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2177 FIX: Return NotImplementedError when converting string to timedelta
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_astype.py
  tests/integ/modin/series/test_astype.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2181 SNOW-1643374 remove azure from CI during investigation
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2174 SNOW-1418500: Add side effect to _resolve_packages
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/session.py
  tests/integ/test_packaging.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2178 SNOW-1628820 remove timedelta warning message
  src/snowflake/snowpark/modin/plugin/_internal/snowpark_pandas_types.py
  tests/integ/modin/types/test_timedelta.py
  tests/notebooks/modin/MIMICHealthcareDemo.ipynb
  tests/notebooks/modin/SnowflakeChainTesting.ipynb
  tests/notebooks/modin/SnowparkPandasAPIDemo.ipynb
  tests/notebooks/modin/TimeSeriesTesting.ipynb
  tests/notebooks/modin/VisualizingTaxiTripData.ipynb
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2171 SNOW-1625379 Test coverage for timedelta under modin/integ/frame part 1
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/binary_op_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/isin_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/snowpark_pandas_types.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/data.py
  tests/integ/modin/frame/test_assign.py
  tests/integ/modin/frame/test_bfill_ffill.py
  tests/integ/modin/frame/test_compare.py
  tests/integ/modin/frame/test_diff.py
  tests/integ/modin/frame/test_drop.py
  tests/integ/modin/frame/test_dropna.py
  tests/integ/modin/frame/test_duplicated.py
  tests/integ/modin/frame/test_empty.py
  tests/integ/modin/frame/test_equals.py
  tests/integ/modin/frame/test_fillna.py
  tests/integ/modin/frame/test_idxmax_idxmin.py
  tests/integ/modin/frame/test_insert.py
  tests/integ/modin/frame/test_isin.py
  tests/integ/modin/frame/test_items.py
  tests/integ/modin/frame/test_iterrows.py
  tests/integ/modin/frame/test_itertuples.py
  tests/integ/modin/frame/test_join.py
  tests/integ/modin/frame/test_len.py
  tests/integ/modin/frame/test_mask.py
  tests/integ/modin/frame/test_melt.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/frame/test_nlargest_nsmallest.py
  tests/integ/modin/series/test_shift.py
  tests/unit/modin/test_snowpark_pandas_types.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1998 SNOW-1546396 add large query breakdown optimization
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/session.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_large_query_breakdown.py
  tests/unit/compiler/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2182 SNOW-1643374: add back azure
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#2155 SNOW-1617349: Add aliases for format options to dataframe reader and writer
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/dataframe_writer.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_writer_suite.py
Labels: NO-CHANGELOG-UPDATES

#2179 SNOW-1638049: Add support for pd.to_timedelta
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
  tests/integ/modin/tools/test_to_timedelta.py
  tests/integ/modin/utils.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2188 SNOW-1637945: Deduplicate code in snowflake query compiler
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2189 SNOW-1546396: Fix bad merge
  src/snowflake/snowpark/_internal/compiler/utils.py
Labels: NO-CHANGELOG-UPDATES

#2191 SNOW-1625380: Add support for basic GroupBy aggregations with Timedelta
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/groupby_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_idxmax_idxmin.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/integ/modin/groupby/test_groupby_nunique.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/integ/modin/groupby/test_min_max.py
  tests/integ/modin/types/test_timedelta.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2184 SNOW-1620436 Improved to_datetime to handle all local input cases and improved time series notebook tests
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  src/snowflake/snowpark/modin/plugin/utils/warning_message.py
  tests/integ/modin/frame/test_astype.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/notebooks/modin/MIMICHealthcareDemo.ipynb
  tests/notebooks/modin/TimeSeriesTesting.ipynb
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2180 SNOW-1643304 Record the `set_index` length checking behavior change in the changelog
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2165 [SNOW-1636729] Improve join/align performance by avoid unnecessary coalesce
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/test_concat.py
  tests/unit/modin/test_join_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2183 SNOW-1638407 Added some simple tests for `TimedeltaIndex` indexing
  tests/integ/modin/types/test_timedelta_indexing.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2197 SNOW-1546396: use scoped temp tables for large query breakdown
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2167 SNOW-1119855: Remove modin/pandas/base.py (2/2)
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/pandas/indexing.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/utils/frontend_constants.py
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/modin/test_envvars.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2198 SNOW-1546396: Remove sortedcontainers dependency
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#1986 SNOW-1489371: Implement GroupBy.value_counts
  CHANGELOG.md
  docs/source/modin/groupby.rst
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/groupby/test_value_counts.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#2201 SNOW-1119855: Actually remove base.py (3/2)
  src/snowflake/snowpark/modin/pandas/base.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2186 [SNOW-1458134]: Add support for monotonic checks for Series and Index
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/index_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_monotonic.py
  tests/integ/modin/series/test_monotonic.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#1837 [SNOW-1502893]: Add support for `pd.crosstab`
  CHANGELOG.md
  docs/source/modin/general_functions.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/crosstab/conftest.py
  tests/integ/modin/crosstab/test_crosstab.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas
