Repository snowflakedb/snowpark-python, pull requests merged in 2024-04, with the labels that each got.

#1335 SNOW-1208807 [Local Testing] Support importing non Python file in UDF and access from snowflake_import_directory
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/session.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES

#1351 SNOW-1293113: fix test_create_dataframe_large_without_batch_insert
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#1357 Fix FIPS failure because of lack of opentelemetry in env
  ci/test_fips.sh
Labels: NO-CHANGELOG-UPDATES

#1358 SNOW-1226680: Make temp_schema scoped at function level
  tests/integ/conftest.py
Labels: NO-CHANGELOG-UPDATES

#1354 SNOW-1296430: fix telemetry endpoint
  src/snowflake/snowpark/mock/_telemetry.py
  tests/conftest.py
  tests/mock_unit/conftest.py
  tests/mock_unit/test_create_df_from_pandas.py
  tests/mock_unit/test_filter.py
  tests/mock_unit/test_functions.py
  tests/mock_unit/test_oob_telemetry.py
  tests/mock_unit/test_sort.py
  tests/mock_unit/test_union.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#1361 Fix Precommit and Update tests to 2024 License
  docs/source/doc_gen.py
  license_header.txt
  setup.py
  src/conftest.py
  tests/integ/__init__.py
  tests/integ/conftest.py
  tests/integ/scala/__init__.py
  tests/integ/scala/test_async_job_suite.py
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_complex_dataframe_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_dataframe_copy_into.py
  tests/integ/scala/test_dataframe_join_suite.py
  tests/integ/scala/test_dataframe_range_suite.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_set_operations_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_dataframe_writer_suite.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_file_operation_suite.py
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_large_dataframe_suite.py
  tests/integ/scala/test_literal_suite.py
  tests/integ/scala/test_permanent_udf_suite.py
  tests/integ/scala/test_query_tag_suite.py
  tests/integ/scala/test_result_attributes_suite.py
  tests/integ/scala/test_result_schema_suite.py
  tests/integ/scala/test_session_suite.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/scala/test_sql_suite.py
  tests/integ/scala/test_table_function_suite.py
  tests/integ/scala/test_table_suite.py
  tests/integ/scala/test_udf_suite.py
  tests/integ/scala/test_udtf_suite.py
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/integ/scala/test_view_suite.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_bind_variable.py
  tests/integ/test_column.py
  tests/integ/test_column_names.py
  tests/integ/test_context.py
  tests/integ/test_datatypes.py
  tests/integ/test_df_aggregate.py
  tests/integ/test_df_analytics.py
  tests/integ/test_df_sort.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_function.py
  tests/integ/test_packaging.py
  tests/integ/test_pandas_to_df.py
  tests/integ/test_scoped_temp_objects.py
  tests/integ/test_session.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_table_function.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#1362 Change license for more tests to 2024
  tests/__init__.py
  tests/conftest.py
  tests/integ/test_cte.py
  tests/integ/test_dataframe.py
  tests/integ/test_query_history.py
  tests/integ/test_telemetry.py
  tests/mock/files/udf_file.py
  tests/mock/test_agg.py
  tests/mock/test_column_names.py
  tests/mock/test_session.py
  tests/mock/test_stage_registry.py
  tests/mock/test_to_pandas.py
  tests/mock/test_udf.py
  tests/mock_unit/conftest.py
  tests/mock_unit/test_create_df_from_pandas.py
  tests/mock_unit/test_filter.py
  tests/mock_unit/test_functions.py
  tests/mock_unit/test_oob_telemetry.py
  tests/mock_unit/test_sort.py
  tests/mock_unit/test_union.py
  tests/perf/long_runner.py
  tests/perf/perf_runner.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/mock_module.py
  tests/unit/scala/__init__.py
  tests/unit/scala/test_datatype_suite.py
  tests/unit/scala/test_df_suite.py
  tests/unit/scala/test_error_message.py
  tests/unit/scala/test_expression_and_plan_node_suite.py
  tests/unit/scala/test_utils_suite.py
  tests/unit/test_analyzer_util_suite.py
  tests/unit/test_code_generation.py
  tests/unit/test_column.py
  tests/unit/test_cte.py
  tests/unit/test_dataframe.py
  tests/unit/test_datatype_mapper.py
  tests/unit/test_error_message.py
  tests/unit/test_expression_dependent_columns.py
  tests/unit/test_expressions.py
  tests/unit/test_file_operation.py
  tests/unit/test_files.py
  tests/unit/test_function.py
  tests/unit/test_generated_udf_lock.py
  tests/unit/test_open_telemetry.py
  tests/unit/test_packaging_utils.py
  tests/unit/test_pandas_to_df.py
  tests/unit/test_query_tag.py
  tests/unit/test_row.py
  tests/unit/test_server_connection.py
  tests/unit/test_session.py
  tests/unit/test_stored_procedure.py
  tests/unit/test_telemetry.py
  tests/unit/test_types.py
  tests/unit/test_udaf.py
  tests/unit/test_udf.py
  tests/unit/test_udf_utils.py
  tests/unit/test_udtf.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#1360 SNOW-1285811: Upgrade and force pre-commit on merge gate
  setup.py
  src/snowflake/snowpark/__init__.py
  src/snowflake/snowpark/_internal/open_telemetry.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_writer.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#1371 Fix write pandas test
  tests/integ/test_pandas_to_df.py
  tests/unit/test_internal_utils.py
Labels: NO-CHANGELOG-UPDATES

#1364 SNOW-1300479 add py prefix for all python tests
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#1374 SNOW-1300360: Lazily evaluate `sql_query` of SetStatement
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
Labels: NO-CHANGELOG-UPDATES

#1370 SNOW-1306434:Change tracer scope name to reflect class
  src/snowflake/snowpark/_internal/open_telemetry.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1372 SNOW-1304211: Pylance throws errors when using copy_options with copy_into_location method
  src/snowflake/snowpark/dataframe_writer.py
Labels: NO-CHANGELOG-UPDATES

#1350 SNOW-1254469: Add CTE optimization to tests/perf/perf_runner
  tests/perf/perf_runner.py
Labels: NO-CHANGELOG-UPDATES

#1378 SNOW-1296603: Add daily precommit test
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES

#1382 SNOW-1324573: local testing fix flaky oob telemetry test
  setup.py
  src/snowflake/snowpark/mock/_telemetry.py
  tests/mock_unit/test_oob_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1384 SNOW-1296607: Reduce merge gates to a minimum set
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#1390 SNOW-1331835 Ignore modin path for current test jobs
  ci/test_fips.sh
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1391 Change to use ubuntu-latest-64-cores for CTE merge gate
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#1385 SNOW-1314326 Add GitHub workflow/script to check PRs
  .github/workflows/checkprs.yml
  scripts/longprs.py
Labels: NO-CHANGELOG-UPDATES

#1365 [SNOW-1305596] Add field to function objects to track packages
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
Labels: NO-CHANGELOG-UPDATES, enhancement

#1392 Change the parallelism of merge gates and daily tests
  .github/workflows/daily_precommit.yml
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#1395 SNOW-1227759: Fix the type annotation of `save_as_table`
  src/snowflake/snowpark/dataframe_writer.py
Labels: NO-CHANGELOG-UPDATES

#1397 Allow Session-less Decorators for Extension Functions
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/context.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/test_stored_procedure.py
  tests/unit/test_stored_procedure.py
  tests/unit/test_udaf.py
  tests/unit/test_udf.py
  tests/unit/test_udf_utils.py
  tests/unit/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#1408 Test don't install python connector from pypi
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#1410 SNOW-1324410: Rewrite search algorithm for CTE with an iterative approach
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
Labels: NO-CHANGELOG-UPDATES

#1412 Fixed import from context bug
  src/snowflake/snowpark/_internal/udf_utils.py
  tests/unit/test_stored_procedure.py
  tests/unit/test_udaf.py
  tests/unit/test_udf.py
  tests/unit/test_udf_utils.py
  tests/unit/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#1414 SNOW-1342947 Fix bug in Local Testing's implementation of UDF and Sproc to use fully qualified name
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/mock/_util.py
  tests/mock/test_udf.py
Labels: NO-CHANGELOG-UPDATES

#1419 SNOW-1324779: Update warnings for Snowpark pandas
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/unit/modin/test_python_version.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1396 SNOW1333607: Preparation for async GA
  src/snowflake/snowpark/async_job.py
Labels: NO-CHANGELOG-UPDATES

#1422 SNOW-1345421: Include pandas requirements in modin extra requirements.
  .github/workflows/precommit.yml
  setup.py
  tests/integ/modin/test_modin_extra_without_pandas_extra.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1425 Ensure `pip install -e '.[modin-development]'` installs all necessary dependencies
  .github/CODEOWNERS
  .github/workflows/precommit.yml
  setup.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1426 SNOW-1324779: Update warning for pandas PrPr
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1421 SNOW-1297161: Add daily_modin_precommit.yml and update combine coverage for precommit.yml to include Modin tests
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/precommit.yml
  src/snowflake/snowpark/modin/config/envvars.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1423 SNOW-1235476 Improve Local Testing's implementation of to_decimal
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/test_function.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES

#1438 Add docs/* to CODEOWNERS for Snowpark pandas team
  .github/CODEOWNERS
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1430 SNOW-1346901 - Update the API Coverage as generated from a test run. Modify the coverage
  docs/modin_api_coverage/API-Documentation-Generation.ipynb
  docs/modin_api_coverage/DocumentedPandasAPI.csv
  docs/modin_api_coverage/Supported_API.csv
  docs/modin_api_coverage/Supported_API.md
  tests/integ/modin/pandas_api_coverage.py
Labels: documentation, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1424 SNOW-1297195 Add back pandas specific jenkins script and tox command
  scripts/jenkins_regress_snowpandas.sh
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1437 SNOW-1348403: Fix the SNOW issue template in pull request template.
  .github/pull_request_template.md
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1436 SNOW-1347796: Fix incorrect regex used in Series.str.contains
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1439 Add skip if pandas is not available to `test_stored_proc_register_with_module`
  tests/integ/test_stored_procedure.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1444 [SNOW-1338078]: Do not fail in deduplication if ordering columns not renamed
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_where.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES

#1446 SNOW-1349055 CI change: use ubuntu-latest for small tasks
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1445 SNOW-1348621 Fix bug and add support for DataFrame key in getitem
  src/snowflake/snowpark/modin/pandas/base.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/series/test_getitem.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1448 SNOW-1349082 CI: remove concurrency restriction on daily jobs
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1409 SNOW-1332287, SNOW-1332288: Fix flaky tests for skew & kurtosis functions
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_window_spec_suite.py
Labels: NO-CHANGELOG-UPDATES

#1442 [SNOW-1297195] Add tox to daily jenkins job, fix tox.ini.
  scripts/jenkins_regress_snowpandas.sh
  scripts/tox_install_cmd.sh
  src/snowflake/snowpark/modin/config/envvars.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1450 SNOW-1348621 Update pandas changelog
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1393 SNOW-1269037: [Local Testing] Add support for NaT and NaN values
  CHANGELOG.md
  src/snowflake/snowpark/_internal/type_utils.py
  tests/mock_unit/test_create_df_from_pandas.py
Labels: local testing

#1453 SNOW-1355199: Fix incorrect regex used in DataFrame/Series.replace
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_replace.py
  tests/integ/modin/series/test_replace.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1431 SNOW-1063716: [Local Testing] Add support for get
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_function_suite.py
Labels: local testing

#1435 SNOW-1316977: Remove fallbacks and raise not implemented error
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/timestamp_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/query_compiler.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/binary/test_binary_default2pandas.py
  tests/integ/modin/binary/test_binary_not_implemented.py
  tests/integ/modin/frame/test_all_any.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/frame/test_dropna.py
  tests/integ/modin/frame/test_fillna.py
  tests/integ/modin/frame/test_filter.py
  tests/integ/modin/frame/test_join.py
  tests/integ/modin/frame/test_mask.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/frame/test_nunique.py
  tests/integ/modin/frame/test_rename.py
  tests/integ/modin/frame/test_sort_values.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/series/test_all_any.py
  tests/integ/modin/series/test_apply.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/series/test_rename.py
  tests/integ/modin/series/test_sort_values.py
  tests/integ/modin/strings/test_case_justify.py
  tests/unit/modin/test_series_strings.py
Labels: NO-CHANGELOG-UPDATES

#1434 SNOW-1344848: Suppress dynamic pivot warnings
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/conftest.py
  tests/integ/modin/frame/test_transpose.py
  tests/integ/modin/strings/test_get_dummies_series.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_pandas_to_df.py
  tests/integ/test_udf.py
  tests/unit/scala/test_utils_suite.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1452 SNOW-1348886: Bugfix: AssertError in sort_values after indexing
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  tests/integ/modin/test_chained_operations.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1460 SNOW-1347393: Remove fallback and raise NotImplementedError for GroupBy APIs
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
Labels: NO-CHANGELOG-UPDATES

#1461 SNOW-1320543 Merge modin docs into snowpark-python repo
  .github/CODEOWNERS
  .gitignore
  docs/Makefile
  docs/README.md
  docs/source/conf.py
  docs/source/doc_gen.py
  docs/source/index.rst
  docs/source/modin/dataframe.rst
  docs/source/modin/general_functions.rst
  docs/source/modin/groupby.rst
  docs/source/modin/index.rst
  docs/source/modin/io.rst
  docs/source/modin/numpy.rst
  docs/source/modin/resampling.rst
  docs/source/modin/series.rst
  docs/source/modin/session.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/general_supported.rst
  docs/source/modin/supported/groupby_supported.rst
  docs/source/modin/supported/index.rst
  docs/source/modin/supported/resampling_supported.rst
  docs/source/modin/supported/series_dt_supported.rst
  docs/source/modin/supported/series_str_supported.rst
  docs/source/modin/supported/series_supported.rst
  docs/source/modin/supported/window_supported.rst
  docs/source/modin/window.rst
Labels: documentation, NO-CHANGELOG-UPDATES

#1456 SNOW-1057861 Bug - loc set with scalar column key and DataFrame item
  src/snowflake/snowpark/modin/plugin/PANDAS_CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  tests/integ/modin/frame/test_loc.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES
