Repository snowflakedb/snowpark-python, pull requests merged in 2024-11, with the labels that each got.

#2550 Set eliminate_numeric_sql_value_cast_enabled to True for test_reduce_describe_query.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#2522 SNOW-1758742: Add cte/large_query_breakdown test in multithreading suite
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#2547 NO-SNOW: Fix docs for lineage.trace
  src/snowflake/snowpark/lineage.py
Labels: NO-CHANGELOG-UPDATES

#2511 [Local testing] Reset table index on read
  CHANGELOG.md
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/scala/test_update_delete_merge_suite.py
Labels: local testing

#2539 NO-SNOW: Run tests with multithreading mode enabled by default
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  tests/conftest.py
  tests/utils.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#2535 SNOW-1764136: Infer quoted identifiers for Join
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#2545 SNOW-859943: Add basic support for functions.window
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_util.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_column_names.py
  tests/integ/test_df_aggregate.py
Labels: local testing

#2499 SNOW-1518378 - Provide a numpy compatibility mapping to np.full_like
  CHANGELOG.md
  docs/source/modin/numpy.rst
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_numpy.py
Labels: snowpark-pandas

#2556 SNOW-1491199 update protobuf version requirement
  setup.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2561 NO-SNOW: skip flaky test
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#2532 SNOW-1646980: Use docstrings folder for top-level modin.pandas IO and general functions
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/general.py
  src/snowflake/snowpark/modin/plugin/docstrings/io.py
  src/snowflake/snowpark/modin/plugin/extensions/general_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2533 SNOW-1623378: support mocking functions that are not supported in snowpark
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_functions.py
Labels: local testing

#2569 SNOW-1787507: Fix DataFrame.dropna() with subset empty, scalar, or native_pd.Index.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/frame/test_dropna.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2567 SNOW-1786772: Add temp table name to statement params of cache_result
  src/snowflake/snowpark/dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2572 NO-SNOW: Fix flaky no_commit test
  tests/integ/scala/test_session_suite.py
Labels: NO-CHANGELOG-UPDATES

#2568 [SNOW-1764119] Eliminate unnecessary join for np.where with scalar for x
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_numpy.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2558 SNOW-1762486:Query not registered in query history on error
  CHANGELOG.md
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/query_history.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/stored_procedure_profiler.py
  tests/integ/test_query_history.py
  tests/integ/test_stored_procedure_profiler.py
Labels: snowpark-pandas

#2489 SNOW-1632899: make select statement breakable
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2518 SNOW-1491199 Generate Protobuf Python code for IR
  .github/CODEOWNERS
  .github/scripts/install_protoc.sh
  .github/workflows/daily_jupyter_nb_test.yml
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  .gitignore
  .pre-commit-config.yaml
  ci/test_fips.sh
  recipe/meta.yaml
  scripts/jenkins_regress.sh
  setup.py
  src/snowflake/snowpark/_internal/proto/README.md
  src/snowflake/snowpark/_internal/proto/generated/__init__.py
  src/snowflake/snowpark/_internal/proto/generated/ast_pb2.py
  tests/conftest.py
  tests/unit/ast/test_ast_proto.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2584 SNOW-1491199 install protoc for pandas jenkins job
  scripts/jenkins_regress_snowpandas.sh
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2581 SNOW-1791556: Use docstrings folder for Index methods and properties
  src/snowflake/snowpark/modin/plugin/docstrings/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/index.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2562 SNOW-1652834: align with live connection on analyzer expression alias implementation
  CHANGELOG.md
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/integ/scala/test_dataframe_join_suite.py
Labels: local testing

#2571 SNOW-1355930: [Local Testing] Add support for any_value
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_function_suite.py
  tests/integ/test_column_names.py
Labels: local testing

#2552 SNOW-1491199 Server-Side Snowpark Phase 0: Core AST functionality and utilities
  .github/CODEOWNERS
  setup.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/ast/__init__.py
  src/snowflake/snowpark/_internal/ast/batch.py
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/utils.py
  tests/unit/ast/test_batch.py
  tests/unit/ast/test_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2544 SNOW-1622029: local test table update fix variant type support
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_update_delete_merge_suite.py
Labels: local testing

#2589 SNOW-1792741 make sure protobuf backcompatible
  .github/scripts/install_protoc.sh
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  ci/test_fips.sh
  scripts/jenkins_regress.sh
  scripts/jenkins_regress_snowpandas.sh
  setup.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2592 Fix flaky test_file_io
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#2576 SNOW-1787235 fix test multithreading with lqb and cte
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/session.py
  tests/integ/test_multithreading.py
  tests/unit/conftest.py
Labels: NO-CHANGELOG-UPDATES

#2587 [SNOW-1791241] Add a session parameter to disable scoped read only temp table
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/session.py
  tests/integ/modin/io/test_read_snowflake.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2596 SNOW-1794920: Test more Series.map cases and refactor Series apply/map tests.
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/series/test_apply.py
  tests/integ/modin/series/test_apply_and_map.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2593 SNOW-1791994 IR: Generate typed protobuf Python code
  .github/scripts/install_protoc.sh
  .github/workflows/precommit.yml
  .pre-commit-config.yaml
  scripts/jenkins_regress.sh
  scripts/jenkins_regress_snowpandas.sh
  setup.py
  src/snowflake/snowpark/_internal/ast/batch.py
  src/snowflake/snowpark/_internal/ast/utils.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2564 [SNOW-1518791] Change concat axis=1 from join_on_index to align_on_index behavior
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_typing.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_name.py
  tests/integ/modin/test_concat.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2594 SNOW-1438001: Add support for list values in Series.str.len
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#2601 SNOW-1491199 Fix type_checking in daily precommit
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2604 Fix daily pre-commit tests
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#2612 SNOW-1491199 Fix build docs in daily precommit
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2578 SNOW-1791084: Cache metadata on SelectStatement.from_._snowflake_plan
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#2617 SNOW-1491199 IR: Fix conda requirements
  recipe/meta.yaml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2621 SNOW-1803169: Fix test_str_len_list_coin_base to account for sql simplifier
  tests/integ/modin/series/test_str_accessor.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2611 SNOW-1491199 Improve developer experience related to protoc
  setup.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2626 NO-SNOW: fix protoc dependency to fix python publish
  .github/workflows/python-publish.yml
Labels: NO-CHANGELOG-UPDATES

#2618 Fix stored procedure profiler test of error sp
  tests/integ/test_stored_procedure_profiler.py
Labels: NO-CHANGELOG-UPDATES

#2629 SNOW-1491199 Fix publish job
  .github/workflows/python-publish.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2631 Fix coverage
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#2639 NO-SNOW: fix build doc location
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#2541 SNOW-1752856: Implement DataFrame/Series align for axis = 1 and None
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/align_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/frame/test_align.py
  tests/integ/modin/series/test_align.py
Labels: snowpark-pandas

#2638 SNOW-1755655: Add a note in cache_result about table name and temp table cleanup
  src/snowflake/snowpark/dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2622 SNOW-1637215: Add describe query telemetry
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/schema_utils.py
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2648 fix precommit test failure
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2644 SNOW-None: Fix structured type test when simplfier disabled
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#2651 SNOW-1815309: Remove dynamic pivot private preview warnings.
  CHANGELOG.md
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/integ/modin/frame/test_transpose.py
  tests/integ/modin/strings/test_get_dummies_series.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2643 NO-SNOW: Fix daily precommit test
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#2649 SNOW-801847: Support Mapping or Series arg in Series.map.
  CHANGELOG.md
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/series/test_apply_and_map.py
Labels: snowpark-pandas

#2653 SNOW-1794382: Update rst files
  docs/source/snowpark/session.rst
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#2654 SNOW-1818207: pin numpy to resolve package conflict in snowflake 8.44
  tests/integ/test_packaging.py
  tests/integ/test_stored_procedure.py
  tests/resources/test_requirements_unsupported.txt
Labels: NO-CHANGELOG-UPDATES

#2652 NO-SNOW: Skip pandas apply doctests
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2628 [SNOW-1798141] Improve align operation for align are performed on row position column by avoid unnecessary filter
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/frame/test_align.py
  tests/integ/modin/series/test_align.py
  tests/integ/test_cte.py
  tests/integ/utils/sql_counter.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2657 SNOW-1818205: Add support for pd.json_normalize
  CHANGELOG.md
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/io.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_json_normalize.py
Labels: snowpark-pandas

#2625 SNOW-1757439, SNOW-1757441: Support DataFrameGroupBy/SeriesGroupBy.pct_change
  CHANGELOG.md
  docs/source/modin/groupby.rst
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_pct_change.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#2668 Remove non-existent sql counter fallback_count from test_string.py
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2659 SNOW-1748140: Modify schema_expression to be structured type aware.
  src/snowflake/snowpark/_internal/analyzer/datatype_mapper.py
  src/snowflake/snowpark/_internal/type_utils.py
  tests/integ/scala/test_datatype_suite.py
  tests/unit/test_datatype_mapper.py
Labels: NO-CHANGELOG-UPDATES

#2675 SNOW-1826037: Add a new parameter for temp table cleanup
  src/snowflake/snowpark/session.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES

#2671 SNOW-1032076 - Remove hacks for Unpivot Null Handling
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_transpose.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2688 SNOW-1829928 Fix a bug related to df.loc set
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/indexing_overrides.py
  tests/integ/modin/frame/test_loc.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2676 Fix daily precommit test when pandas not installed
  tests/unit/test_types.py
Labels: NO-CHANGELOG-UPDATES

#2690 SNOW-1826001 Follow up with post-merge comments, remove coverage upload for AST doctest.
  .github/workflows/precommit.yml
  src/snowflake/snowpark/_internal/utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2646 SNOW-1794364: [API Coverage] DataFrame.colRegex
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_column.py
  tests/unit/test_expression_dependent_columns.py
Labels: DO-NOT-MERGE

#2684 SNOW-1829954: Make setup.py and conda recipe have same requirement of cloudpickle
  recipe/meta.yaml
Labels: NO-CHANGELOG-UPDATES

#2679 SNOW-1673185: update contributing.md to reflect thread-safe changes
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: NO-CHANGELOG-UPDATES

#2666 SNOW-1814182: Add support for DataFrameGroupBy/SeriesGroupBy.__iter__
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby___iter__.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#2677 SNOW-1818018: add functions.size, collect_list
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/functions.py
  tests/integ/test_function.py
Labels: snowpark-ast

#2693 SNOW-1831660 Fix daily notebook precommit test
  .github/workflows/daily_jupyter_nb_test.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2691 SNOW-1830648: Fix nest query complexity adjustment
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_multithreading.py
  tests/integ/test_nested_select_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#2682 SNOW-1818230: add concat_ws_ignore_nulls
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/functions.py
Labels: snowpark-ast

#2689 SNOW-1830203: Add a new parameter for CTE optimization
  src/snowflake/snowpark/session.py
  tests/integ/test_session.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES
