Repository snowflakedb/snowpark-python, pull requests merged in 2024-06, with the labels that each got.

#1716 SNOW-1455291: fix dataframe creation of empty data with DateType
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/test_dataframe.py
Labels: local testing, local-testing

#1714 SNOW-1445360: Add Support for Series.str.get
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#1720 SNOW-1428607 Reenable quarantined tests after 8.20
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/series/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1719 SNOW-1427770 local testing table merge fails when update clause exists but no update takes place
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_update_delete_merge_suite.py
Labels: local testing, local-testing

#1717 SNOW-1445337: Log warning when data is materialized during dataframe creation
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/io/test_read_snowflake.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1721 Skip SQL count check in test
  tests/integ/modin/conftest.py
  tests/integ/modin/sql_counter.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#1732 [SNOW-1458256]: Ensure binary operations are present in telemetry
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1665 SNOW-1356862: local testing remove unused code
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_connection.py
  tests/integ/test_function.py
  tests/mock/test_not_implemented_error.py
Labels: NO-CHANGELOG-UPDATES, local testing, local-testing

#1724 SNOW-1231747: Add Support for Series.str.__getitem__
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#1736 CI: ignore some not implemented methods code coverage
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1738 Fix labeler to use the correct label for Local Testing
  .github/labeler.yml
Labels: NO-CHANGELOG-UPDATES

#1722 SNOW-1308668 Remove unused modin.pandas files
  src/snowflake/snowpark/modin/pandas/__init__.py
  src/snowflake/snowpark/modin/pandas/accessor.py
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/iterator.py
  src/snowflake/snowpark/modin/pandas/plotting.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/docstrings/shared_docs.py
  tests/integ/modin/pandas_api_coverage.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1702 SNOW-1348700 Fix to_char's implementation when incoming column has inconsecutive row index
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/mock/test_functions.py
Labels: local testing

#1739 SNOW-1284606 Move running_on_* to tests/utils.py
  tests/integ/conftest.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/conftest.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_itertuples.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_transpose.py
  tests/integ/modin/groupby/test_groupby_idxmax_idxmin.py
  tests/integ/modin/groupby/test_quantile.py
  tests/integ/modin/series/test_rename.py
  tests/integ/modin/strings/test_cat.py
  tests/integ/modin/strings/test_extract.py
  tests/integ/modin/strings/test_get_dummies.py
  tests/integ/modin/strings/test_strings.py
  tests/integ/modin/test_session.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1734 SNOW-1445356, SNOW-1445357: Add support for Series.str.lstrip and Series.str.rstrip
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#1747 SNOW-1467815: Fix Jenkins runner regression related to test_lstrip_rstrip in test_strings
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#1742 SNOW-1019479: Fix describe with duplicate column names
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_describe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1703 Use pytest mark to run subset of integ modin tests in Snowfort
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_head_tail.py
  tests/integ/modin/frame/test_round.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/pivot/test_pivot_multiple.py
  tests/integ/modin/pivot/test_pivot_single.py
  tests/integ/modin/test_merge.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/unit/modin/test_internal_frame.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1726 SNOW-1460922: [Local Testing] Refactor udf/sproc calls
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_udf.py
  src/snowflake/snowpark/mock/_util.py
  tests/mock/test_udf.py
  tests/mock/test_util.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1748 SNOW-1373556: Implement dropna using a new expression
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_dataframe.py
Labels: local testing

#1749 SNOW-1439789: Replace LIMITEDACCESS doc links with public links
  CHANGELOG.md
  README.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/udaf.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1741 SNOW-1461192: Fix StringMethods and DatetimeProperties docs
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/unit/modin/test_docstrings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1756 Add DataFrame/Series.pct_change to docs
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
Labels: NO-CHANGELOG-UPDATES

#1757 Add Index.T
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/index/__init__.py
  tests/integ/modin/index/test_transpose.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1754 SNOW-1368544: Add frontend methods for expanding window
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/window.py
  src/snowflake/snowpark/modin/plugin/_internal/window_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/window.py
  tests/integ/modin/window/test_expanding.py
  tests/integ/modin/window/test_rolling.py
  tests/unit/modin/test_unsupported.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1759 SNOW-1464295 suppress index to_pandas_warning
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1743 SNOW-1457758: Disable telemetry triggering extra describe queries
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1752 Index: decorator to handle lazy and non-lazy (columns) case
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  src/snowflake/snowpark/modin/plugin/utils/warning_message.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/index/test_index_methods.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1649 [SNOW-1473697] Support show client-side with modified TCM
  src/snowflake/snowpark/_internal/ast.py
  src/snowflake/snowpark/_internal/error_message.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/dataframe.py
  tests/thin-client/.gitignore
  tests/thin-client/steel-thread.py
Labels: DO-NOT-MERGE

#1765 SNOW-1478188 CI: xfail three apply tests due to sql count diff in pre…
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/series/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1737 SNOW-929218 Add type coercion support for CaseWhen and Iff
  CHANGELOG.md
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_snowflake_data_type.py
  tests/integ/scala/test_function_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_function.py
  tests/mock/test_snowflake_data_type.py
Labels: local testing

#1770 SNOW-1478794 xfail test_3rd_party_package_with_session while investigating
  tests/integ/modin/series/test_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1761 SNOW-1445342: Support `DataFrame.expanding/rolling` and `Series.expanding/rolling` for aggregations `count`, `sum`, `min`, `max`, `mean`, `std`, and `var` with `axis=0`
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  docs/source/modin/supported/window_supported.rst
  docs/source/modin/window.rst
  src/snowflake/snowpark/modin/pandas/window.py
  src/snowflake/snowpark/modin/plugin/_internal/window_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/window.py
  tests/integ/modin/window/test_expanding.py
  tests/integ/modin/window/test_rolling.py
Labels: snowpark-pandas

#1769 SNOW-1445354: Add support for Series.str.match
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_str_accessor.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#1772 [Local Testing] Fix DecimalType Null display
  src/snowflake/snowpark/mock/_connection.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1750 SNOW-1433003 raise NotImplementedError for Index APIs
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  src/snowflake/snowpark/modin/plugin/utils/error_message.py
  tests/integ/modin/test_unimplemented.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1768 Remove unused pytest markers
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_complex_dataframe_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_dataframe_copy_into.py
  tests/integ/scala/test_dataframe_join_suite.py
  tests/integ/scala/test_dataframe_range_suite.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_set_operations_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_file_operation_suite.py
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_large_dataframe_suite.py
  tests/integ/scala/test_session_suite.py
  tests/integ/scala/test_table_suite.py
  tests/integ/scala/test_udf_suite.py
  tests/integ/scala/test_update_delete_merge_suite.py
  tests/integ/scala/test_view_suite.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_column.py
  tests/integ/test_column_names.py
  tests/integ/test_dataframe.py
  tests/integ/test_datatypes.py
  tests/integ/test_df_aggregate.py
  tests/integ/test_df_sort.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_function.py
  tests/integ/test_packaging.py
  tests/integ/test_session.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udf.py
  tests/mock/test_filter.py
  tests/mock/test_functions.py
  tests/mock/test_sort.py
  tests/mock/test_stage_registry.py
  tests/mock/test_udf.py
  tests/mock/test_union.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, local testing

#1704 SNOW-1348700 Fix index issues in handling of CaseExpr, IsNull, IsNotNull and Like expressions
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_column.py
Labels: local testing

#1729 SNOW 1359041: Lazy Index Constructor, to_pandas() and len
  CHANGELOG.md
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/conftest.py
  tests/integ/modin/frame/test_axis.py
  tests/integ/modin/frame/test_drop_duplicates.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_insert.py
  tests/integ/modin/frame/test_isin.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_mask.py
  tests/integ/modin/frame/test_memory_usage.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/frame/test_rename.py
  tests/integ/modin/frame/test_reset_index.py
  tests/integ/modin/frame/test_set_index.py
  tests/integ/modin/frame/test_setitem.py
  tests/integ/modin/frame/test_shift.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_property.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/index/test_transpose.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/pivot/test_pivot_single.py
  tests/integ/modin/resample/test_resample.py
  tests/integ/modin/series/test_apply.py
  tests/integ/modin/series/test_axis.py
  tests/integ/modin/series/test_empty.py
  tests/integ/modin/series/test_getitem.py
  tests/integ/modin/series/test_iloc.py
  tests/integ/modin/series/test_isin.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_mask.py
  tests/integ/modin/series/test_rename.py
  tests/integ/modin/series/test_setitem.py
  tests/integ/modin/series/test_sort_values.py
  tests/integ/modin/series/test_where.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_unique.py
  tests/integ/modin/test_utils.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/integ/modin/tools/test_to_numeric.py
  tests/integ/modin/utils.py
  tests/unit/modin/test_internal_frame.py
Labels: DO-NOT-MERGE, NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1780 Fix Jenkins CI failure for lazy index query count
  tests/integ/modin/strings/test_get_dummies.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1751 SNOW-1432694 Add documentation pages for Index object
  CHANGELOG.md
  docs/source/modin/index.rst
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index.rst
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/index.py
Labels: documentation, NO-CHANGELOG-UPDATES, snowpark-pandas

#1657 SNOW-1432019 Calculate subtree query complexity
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/binary_expression.py
  src/snowflake/snowpark/_internal/analyzer/binary_plan_node.py
  src/snowflake/snowpark/_internal/analyzer/expression.py
  src/snowflake/snowpark/_internal/analyzer/grouping_set.py
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/analyzer/table_function.py
  src/snowflake/snowpark/_internal/analyzer/table_merge_expression.py
  src/snowflake/snowpark/_internal/analyzer/unary_expression.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/_internal/analyzer/window_expression.py
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_query_plan_analysis.py
  tests/integ/test_telemetry.py
  tests/unit/conftest.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES

#1767 SNOW-1478406: Avoid unnecessary queries on squeeze
  src/snowflake/snowpark/modin/pandas/dataframe.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_squeeze.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1763 SNOW-1476363: Add `groupby().size()` pandas API
  CHANGELOG.md
  docs/source/modin/groupby.rst
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#1779 Index shape, size, empty
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_unimplemented.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1691 SNOW-1348700 Fix CaseWhen and Window bugs when input data is empty
  CHANGELOG.md
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_column.py
Labels: local testing

#1792 CI:fix-lint numpy < 2.0.0
  .pre-commit-config.yaml
  setup.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#1791 SNOW-1487311: Fix test failures and lint issues with numpy 2
  .pre-commit-config.yaml
  setup.py
  src/snowflake/snowpark/mock/_pandas_util.py
  src/snowflake/snowpark/modin/plugin/_internal/type_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/binary/test_binary_op.py
  tests/integ/modin/frame/test_melt.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/frame/test_replace.py
  tests/integ/modin/frame/test_skew.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/series/test_dropna.py
  tests/integ/modin/series/test_replace.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/utils.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES, local testing, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1626 SNOW-1435354: Add CTE optimization tests to snowpark pandas daily precommit tests
  .github/workflows/daily_modin_precommit.yml
  tests/integ/modin/frame/test_quantile.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#1789 SNOW-1454714 Make modin QA tests green
  tests/integ/modin/frame/test_add_prefix.py
  tests/integ/modin/frame/test_add_suffix.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/frame/test_fillna.py
  tests/integ/modin/series/test_add_prefix.py
  tests/integ/modin/series/test_add_suffix.py
  tests/integ/modin/series/test_astype.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_qcut.py
  tests/integ/modin/test_session_write_pandas.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1784 SNOW-1462359/SNOW-1462481: Add Series.str and Series.dt to docs
  docs/source/_templates/autosummary/modin_accessor_attribute.rst
  docs/source/_templates/autosummary/modin_accessor_method.rst
  docs/source/conf.py
  docs/source/modin/series.rst
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
Labels: documentation, NO-CHANGELOG-UPDATES, snowpark-pandas

#1802 Fix CTE optimization test in daily precommit
  .github/workflows/daily_modin_precommit.yml
Labels: NO-CHANGELOG-UPDATES

#1806 Fix local testing flaky test_stage_put_file
  tests/mock/test_stage_registry.py
  tests/unit/test_generated_udf_lock.py
Labels: NO-CHANGELOG-UPDATES, local testing

#1777 SNOW-1356685: Fix precision loss bug in `DataFrame/Series` with `dtype=np.uint64`
  CHANGELOG.md
  src/snowflake/snowpark/_internal/server_connection.py
  tests/integ/modin/series/test_unique.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1804 SNOW-1489361: Add support for GroupBy.all/any
  CHANGELOG.md
  docs/source/modin/groupby.rst
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/groupby/test_all_any.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#1808 Fix test_lock_function failures on windows
  tests/unit/test_generated_udf_lock.py
Labels: NO-CHANGELOG-UPDATES

#1786 Index copy
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/index/test_index_methods.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1809 Read server side CTE parameter when initializing the session
  src/snowflake/snowpark/session.py
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#1803 SNOW-1489628: Add support for `Rolling/Expanding` `sem`
  CHANGELOG.md
  docs/source/modin/supported/window_supported.rst
  docs/source/modin/window.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/window.py
  tests/integ/modin/window/test_expanding.py
  tests/integ/modin/window/test_rolling.py
Labels: snowpark-pandas

#1814 Remove duplicate data for Index Constructor
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1744 SNOW-1460922: [Local Testing] Refactor mocked function calls to be more flexible
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_df_aggregate.py
  tests/mock/test_functions.py
Labels: local testing

#1801 SNOW-1489207: [Local Testing] Fix astype precision error
  CHANGELOG.md
  src/snowflake/snowpark/mock/_util.py
  tests/integ/scala/test_column_suite.py
  tests/unit/test_expression_dependent_columns.py
Labels: local testing

#1745 SNOW-977750: [Local Testing] Implement mock_random function
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_options.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_function_suite.py
  tests/integ/test_function.py
  tests/mock/test_util.py
Labels: local testing

#1778 SNOW-1481375: Add implementation for groupby.first and groupby.last
  CHANGELOG.md
  docs/source/modin/groupby.rst
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/groupby/test_groupby_first_last.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1782 SNOW-1445839: Add support for nlargest and nsmallest
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_nlargest_nsmallest.py
  tests/integ/modin/series/test_nlargest_nsmallest.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1795 SNOW-1486008: Add support for replace=True and frac>1 in Series/DataFrame.sample
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/series/test_sample.py
Labels: snowpark-pandas

#1815 SNOW-1445412: Add support for Series/DataFrame.at/iat
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/base.py
  src/snowflake/snowpark/modin/pandas/indexing.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  tests/integ/modin/frame/test_at.py
  tests/integ/modin/frame/test_iat.py
  tests/integ/modin/series/conftest.py
  tests/integ/modin/series/test_at.py
  tests/integ/modin/series/test_iat.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1816 SNOW-1488913: Implement `Resampler.first` and `Resampler.last`
  CHANGELOG.md
  docs/source/modin/resampling.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/resampling_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/resample.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/resample.py
Labels: snowpark-pandas

#1699 [SNOW-1013918]: Fix pivot_table on empty DataFrames
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/pivot/pivot_utils.py
  tests/integ/modin/pivot/test_pivot_margins.py
  tests/integ/modin/pivot/test_pivot_multiple.py
  tests/integ/modin/pivot/test_pivot_single.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1823 SNOW-1445733: Fix typo causing doc build failures
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
Labels: NO-CHANGELOG-UPDATES

#1820 SNOW-1502286: Disable test test_nlargest_nsmallest_large_n
  tests/integ/modin/frame/test_nlargest_nsmallest.py
  tests/integ/modin/series/test_nlargest_nsmallest.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#1829 SNOW-1502792: Support `Series.dt.isocalendar`
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_dt_supported.rst
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/series/test_dt_accessor.py
Labels: snowpark-pandas

#1807 Index values, item, tolist, to_series, to_frame
  CHANGELOG.md
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  tests/integ/modin/frame/test_setitem.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#1800 SNOW-1453559: Add support for Series.case_when
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/pandas/series.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/series/test_case_when.py
Labels: snowpark-pandas

#1825 [SNOW-1445866]: Add support for `DataFrame.assign`
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/frame/test_assign.py
Labels: snowpark-pandas

#1833 Index dtype
  CHANGELOG.md
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/index.py
  tests/integ/modin/frame/test_dtypes.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/pivot/test_pivot_single.py
  tests/integ/modin/series/test_iloc.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_mask.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_utils.py
Labels: snowpark-pandas

#1821 SNOW-1445832: Added support for `DataFrame.stack`
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/frame/test_stack.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1755 SNOW-1473726: Dataframe tracing should record exceptions during action functions
  src/snowflake/snowpark/_internal/open_telemetry.py
  tests/integ/test_open_telemetry.py
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1838 Fix Index typehints and move class
  src/snowflake/snowpark/modin/pandas/utils.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_overrides.py
  tests/unit/modin/test_class.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1841 [SNOW-1489910] Update upload and download action from v3 -> v4 for modin daily precommit
  .github/workflows/daily_modin_precommit.yml
Labels: NO-CHANGELOG-UPDATES

#1771 SNOW-1479881: Add DataFrameGroupBy.get_group
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/groupby.rst
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/pandas/groupby.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/groupby/test_groupby_get_group.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#1849 Fix flaky test in opentelemetry tests
  tests/unit/test_open_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#1834 SNOW-1504601 Use any_value with filter to ensure determinism during transpose
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#1776 SNOW-1480718: Support Series.str.translate
  CHANGELOG.md
  docs/source/modin/series.rst
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
  tests/integ/modin/strings/test_translate.py
  tests/unit/modin/test_series_strings.py
Labels: snowpark-pandas

#1840 SNOW-1445867: Add support for `DataFrame.pivot` and `pd.pivot`
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/general_functions.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/pandas/dataframe.py
  src/snowflake/snowpark/modin/pandas/general.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  tests/integ/modin/pivot/conftest.py
  tests/integ/modin/pivot/test_pivot.py
  tests/integ/modin/pivot/test_pivot_table_dropna.py
  tests/integ/modin/pivot/test_pivot_table_fill_value.py
  tests/integ/modin/pivot/test_pivot_table_margins.py
  tests/integ/modin/pivot/test_pivot_table_multiple.py
  tests/integ/modin/pivot/test_pivot_table_negative.py
  tests/integ/modin/pivot/test_pivot_table_single.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#1855 SNOW-1413967: Remove workaround for dynamic pivot when CTE optimization is enabled
  src/snowflake/snowpark/_internal/analyzer/cte_utils.py
  tests/integ/test_cte.py
Labels: NO-CHANGELOG-UPDATES
