Repository snowflakedb/snowpark-python, pull requests merged in 2025-10, with the labels that each got.

#3820 SNOW-2372686: Write large_pandas_backend_df.to_snowflake() via parquet.
  CHANGELOG.md
  src/snowflake/snowpark/modin/config/envvars.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/utils.py
  tests/integ/modin/frame/test_to_snowflake.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3826 Fix SnowparkPythonSnowflakePythonClientRegressRunner
  scripts/jenkins_regress.sh
  tests/unit/test_packaging_utils.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#3841 SNOW-2389912: Ensure hybrid execution is actually enabled by default
  .github/workflows/precommit.yml
  src/snowflake/snowpark/session.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3839 SNOW-2389746: Fix flakiness in test_boxplot.py and test_plot.py on windows
  tests/integ/modin/frame/test_boxplot.py
  tests/integ/modin/test_plot.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3846 SNOW-2391891: Make some modin fixtures function-scoped.
  tests/integ/modin/conftest.py
  tests/integ/modin/frame/conftest.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_mask.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/pivot/conftest.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_to_snowpark.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3852 SNOW-2395124: Skip flaky test_hist.py cases on windows
  tests/integ/modin/series/test_hist.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3815 SNOW-2356876: Set cte_optimization_enabled to True for all Snowpark pandas sessions
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/session.py
  tests/integ/modin/test_session_cte_optimization.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3860 SNOW-2397930: Add support for isna, isnull, notna, and notnull in faster pandas
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_faster_pandas.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3856 SNOW-2396665: Add support for isin in faster pandas
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_faster_pandas.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
