Repository snowflakedb/snowpark-python, pull requests merged in 2025-08, with the labels that each got.

#3618 update rst and doctest for asyncjob::is_failed & status
  docs/source/snowpark/async_job.rst
  src/snowflake/snowpark/async_job.py
Labels: NO-CHANGELOG-UPDATES

#3620 NO-SNOW: fix more daily test failures
  .github/workflows/daily_jupyter_nb_test.yml
  .github/workflows/daily_modin_precommit_py39_py310.yml
Labels: NO-CHANGELOG-UPDATES

#3619 Fix `test_filter_sort_limit_snowpark_connect_compatible` when sql simplifier is disabled
  tests/integ/test_df_aggregate.py
Labels: NO-CHANGELOG-UPDATES

#3602 SNOW-2230971: Support repr, joins, loc, reset_index, and binary ops in faster pandas
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/concat_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/generator_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/frame/test_to_iceberg.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/hybrid/test_extensions.py
  tests/integ/modin/hybrid/test_switch_operations.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_iceberg.py
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_view.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/series/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_iceberg.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_to_view.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_ordered_dataframe.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_to_numpy.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3606 Trace SQL error to DF bug fixes
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_trace_sql_errors_to_df.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3623 Fix `ai_similarity` doc
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3629 NO-SNOW: Update line number check to handle python 3.10
  tests/integ/test_trace_sql_errors_to_df.py
Labels: NO-CHANGELOG-UPDATES

#3616 SNOW-2213728: Implement backend transfers
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/ray_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/hybrid/test_data_movement.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3622 SNOW-2236730: Support `DataFrameReader.file`
  docs/source/snowpark/io.rst
  src/snowflake/snowpark/dataframe_reader.py
  tests/integ/test_dataframe_reader_file.py
Labels: NO-CHANGELOG-UPDATES

#3631 SNOW-2249808: Turn off AutoSwitchBackend if set to True by default.
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/integ/modin/hybrid/auto_switch_backend/test_default_not_changed.py
  tests/integ/modin/hybrid/auto_switch_backend/test_plugin_default.py
  tests/integ/modin/hybrid/auto_switch_backend/test_user_sets_to_false.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3637 SNOW-2249897: Update script after moving Snowpark AST back to monorepo
  scripts/copy-remote-ast.sh
  src/snowflake/snowpark/_internal/proto/ast.proto
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3638 Revert "SNOW-2230971: Support repr, joins, loc, reset_index, and bina…
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/concat_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/cut_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/generator_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/indexing_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/join_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/transpose_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/frame/test_to_iceberg.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/hybrid/test_extensions.py
  tests/integ/modin/hybrid/test_switch_operations.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_iceberg.py
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_view.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/series/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_iceberg.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_to_view.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_ordered_dataframe.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_to_numpy.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3628 SNOW-2179320: Support snowpark and cortex functions on pandas backend.
  CHANGELOG.md
  docs/source/modin/hybrid_execution.rst
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: snowpark-pandas

#3646 Fix limit when there is no grouping expression in aggregation
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_df_aggregate.py
Labels: NO-CHANGELOG-UPDATES

#3563 Adding telemetry to stored procs
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/session.py
  tests/unit/test_stored_proc_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3654 SNOW-2250267: Prevent switching within extension Index constructor
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3662 SNOW-2266293: Cap pyarrow<21 in snowpark pandas jenkins tests.
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3652 SNOW-2259557: Deprecate one more `pkg_reosurces`
  CHANGELOG.md
  src/snowflake/snowpark/_internal/packaging_utils.py
  tests/unit/test_packaging_utils.py
Labels: NO-CHANGELOG-UPDATES

#3653 SNOW-2262562: Return empty DF instead of None for pd.explain_switch(simple=True)
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3651 SNOW-2254812: Add `DataFrame.ai.complete` (basic functionality)
  docs/source/snowpark/dataframe.rst
  src/snowflake/snowpark/__init__.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_ai_functions.py
  tests/integ/test_dataframe_ai.py
  tests/unit/test_utils.py
Labels: NO-CHANGELOG-UPDATES

#3661 Skip `test_to_pandas_json_format` in stored proc test
  tests/integ/test_df_to_pandas.py
Labels: NO-CHANGELOG-UPDATES

#3657 SNOW-2241331: Unable to use numpy.unique through sklearn.metrics._scorer
  CHANGELOG.md
  docs/source/modin/numpy.rst
  src/snowflake/snowpark/modin/plugin/utils/numpy_to_pandas.py
  tests/integ/modin/test_numpy.py
Labels: snowpark-pandas

#3680 SNOW-2276169: Add '--upgrade' to 'pip install "snowflake-snowpark-python[modin]"' in the import error message
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/__init__.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3684 SNOW-2282619: Daily precommit pandas fix
  src/snowflake/snowpark/session.py
  tests/integ/test_packaging.py
  tests/resources/test_requirements.txt
Labels: NO-CHANGELOG-UPDATES

#3679 SNOW-2270322: Support `DataFrame.ai.agg` and `DataFrame.group_by().ai_agg`
  docs/source/snowpark/dataframe.rst
  docs/source/snowpark/grouping.rst
  src/snowflake/snowpark/dataframe_ai_functions.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_dataframe_ai.py
Labels: NO-CHANGELOG-UPDATES

#3683 SNOW-2189056: Support some snowflake extensions on other backends.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/utils.py
  tests/integ/modin/hybrid/test_data_movement.py
  tests/integ/modin/hybrid/test_extensions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas, skip-local-testing-ci

#3692 SNOW-2270330: `DataFrame.ai.similarity`
  src/snowflake/snowpark/dataframe_ai_functions.py
  tests/integ/test_dataframe_ai.py
Labels: NO-CHANGELOG-UPDATES

#3695 [SNOW-2020306] Update application tracking for notebooks
  src/snowflake/snowpark/_internal/server_connection.py
  tests/unit/test_server_connection.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3659 SNOW-1943633 - fix displaying timestamps for `_show_string_spark`, introduce `_spark_session_tz` param
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3610 SNOW-2230553 - Reduce Telemetry Overhead when running w/ a Pandas Engine
  CHANGELOG.md
  src/snowflake/snowpark/modin/config/__init__.py
  src/snowflake/snowpark/modin/config/envvars.py
  src/snowflake/snowpark/modin/plugin/_internal/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  tests/integ/modin/test_telemetry.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3698 SNOW-2292908: Skip flaky modin hybrid tests on Windows
  tests/integ/modin/hybrid/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3710 SNOW-2301877: Support `DataFrame.ai.transcribe` and `DataFrame.ai.parse_document`
  docs/source/snowpark/dataframe.rst
  src/snowflake/snowpark/dataframe_ai_functions.py
  tests/integ/test_dataframe_ai.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3655 SNOW-2262972: Refactor function.py file
  setup.py
  src/snowflake/snowpark/_functions/__init__.py
  src/snowflake/snowpark/_functions/general_functions.py
  src/snowflake/snowpark/functions.py
  tests/conftest.py
Labels: NO-CHANGELOG-UPDATES

#3708 SNOW-2296598: Estimate row count only when Hybrid is enabled
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/row_count_estimation.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/frame/test_describe.py
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/frame/test_to_iceberg.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/io/test_read_csv.py
  tests/integ/modin/io/test_read_json.py
  tests/integ/modin/io/test_read_parquet.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_iceberg.py
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
  tests/integ/modin/series/test_apply_and_map.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_view.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/series/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_iceberg.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_to_view.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_ordered_dataframe.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_to_numpy.py
  tests/integ/modin/test_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3720 NO-SNOW: Pin pytest-rerunfailures due to be release
  tox.ini
Labels: NO-CHANGELOG-UPDATES
