Repository snowflakedb/snowpark-python, pull requests merged in 2025-02, with the labels that each got.

#2966 NO-SNOW: fix broken tests in SP
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/test_df_aggregate.py
  tests/integ/test_function.py
  tests/integ/test_pandas_to_df.py
Labels: NO-CHANGELOG-UPDATES

#2969 [SNOW-1909848] Disable snowpark pandas test for AST/IR.
  tests/ast/data/Dataframe.to_snowpark_pandas.test.DISABLED
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2961 SNOW-1901507: Fix non-nullable struct type schema expressions
  src/snowflake/snowpark/session.py
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#2973 SNOW-1911279: Fix doctest python 3.12 issue for to_dict
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2978 SNOW-1914374 Capture the AST unparser STDERR on failure
  src/snowflake/snowpark/_internal/proto/ast.proto
  tests/ast/ast_test_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2943 SNOW-1856438: Directly support Snowflake Cortex functions Summarize and Sentiment with apply
  CHANGELOG.md
  setup.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_apply_snowflake_cortex_functions.py
  tests/integ/modin/test_apply_snowpark_python_functions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2987 SNOW-1640617: Add support for Series.hist
  CHANGELOG.md
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/series/test_hist.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2999 SNOW-1913150 Fix the type annotations on publicapi
  src/snowflake/snowpark/_internal/utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3002 SNOW-1921766: Fix Session._write_modin_pandas_helper + use_logical_type bug
  CHANGELOG.md
  src/snowflake/snowpark/session.py
  tests/integ/modin/test_session_write_pandas.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2994 SNOW-1904798: Update schema query when attributes are available
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_reduce_describe_query.py
Labels: NO-CHANGELOG-UPDATES

#3003 SNOW-192360: [Local Testing] Fix Join On column order
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_dataframe.py
Labels: local testing

#3007 SNOW-1891887: Add support for list values in Series.str.get
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#3016 SNOW-1918334: Fix missing ColumnIdentifier calls
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/types.py
  tests/ast/data/DataFrame.count2.test
  tests/ast/data/DataFrame.stat.test
  tests/ast/data/Dataframe.drop_duplicates_snow1874622.test
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/Session.create_dataframe.test
  tests/ast/data/Table.merge.test
  tests/ast/data/col_cast.test
  tests/ast/data/col_cast_coll.test
  tests/ast/data/session.read.test
  tests/ast/data/sproc.test
  tests/ast/data/udtf.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#2981 SNOW-1909920: Remove stacktrace from query-tag
  CHANGELOG.md
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/session.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_diff.py
  tests/integ/modin/frame/test_fillna.py
  tests/integ/modin/frame/test_filter.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_quantile.py
  tests/integ/modin/frame/test_repr.py
  tests/integ/modin/frame/test_size.py
  tests/integ/modin/frame/test_sort_values.py
  tests/integ/modin/groupby/test_groupby_head_tail.py
  tests/integ/modin/index/test_repr.py
  tests/integ/modin/series/test_diff.py
  tests/integ/modin/series/test_fillna.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_quantile.py
  tests/integ/modin/series/test_repr.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_qcut.py
  tests/integ/test_cte.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_query_history.py
  tests/integ/test_session.py
  tests/unit/test_query_tag.py
Labels: snowpark-pandas

#3012 NOSNOW - Add `n` to the recorded Dataframe.show AST, add Dataframe.show test
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe.py
  tests/ast/data/Dataframe.show.test
Labels: NO-CHANGELOG-UPDATES

#3008 SNOW-1210188: Use SELECT DISTINCT to generate query for df.distinct
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/query_plan_analysis_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_nop_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_cte.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_telemetry.py
Labels: local testing

#2967 SNOW-1906607: Fix telemetry collection for all SnowflakePlan
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/session.py
  tests/integ/test_telemetry.py
  tests/unit/test_server_connection.py
Labels: NO-CHANGELOG-UPDATES

#2998 SNOW-1914292: Fix keyword argument handling for Snowpark Python functions in apply and applymap.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_apply_snowpark_python_functions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3022 SNOW-1934822: Fix query count mismatch in pandas tests
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_itertuples.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/series/test_items.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3023 NOSNOW - Fix Snowpark AST Tests
  src/snowflake/snowpark/_internal/proto/ast.proto
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/sproc.test
  tests/ast/data/udtf.test
Labels: NO-CHANGELOG-UPDATES

#2997 NO-SNOW: Add missing structured types parameter.
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3006 SNOW-1923616: [Local Testing] Fix error in CaseWhen statements
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_column.py
Labels: local testing

#3025 SNOW-1936459: Add modin as optional dependency to meta.yaml
  recipe/meta.yaml
Labels: NO-CHANGELOG-UPDATES

#3027 SNOW-1936622:change daily precommit start time to reduce pressure on warehouse
  .github/workflows/daily_jupyter_nb_test.yml
  .github/workflows/daily_modin_precommit_py311_py312.yml
  .github/workflows/daily_modin_precommit_py39_py310.yml
Labels: NO-CHANGELOG-UPDATES

#3019 SNOW-1918334: Fix incorrectly captured calls to col
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/window.py
  tests/ast/data/Dataframe.getitem.test
  tests/ast/data/RelationalGroupedDataFrame.agg.test
  tests/ast/data/Table.init.test
  tests/ast/data/col_star.test
  tests/ast/data/col_within_group.test
  tests/ast/data/df_limit.test
  tests/ast/data/functions1.test
  tests/ast/data/functions2.test
  tests/ast/data/select.test
  tests/ast/data/session_table_dq_abs_l.test
  tests/ast/data/session_table_dq_abs_s.test
  tests/ast/data/session_table_dq_rs_l.test
  tests/ast/data/session_table_dq_rs_s.test
  tests/ast/data/session_table_dq_rt_l.test
  tests/ast/data/session_table_dq_rt_s.test
  tests/ast/data/session_table_temp_table_cleanup.test
  tests/ast/data/session_table_uq_abs_l.test
  tests/ast/data/session_table_uq_abs_s.test
  tests/ast/data/session_table_uq_rs_l.test
  tests/ast/data/session_table_uq_rs_s.test
  tests/ast/data/session_table_uq_rt_l.test
  tests/ast/data/session_table_uq_rt_s.test
  tests/ast/data/udtf.test
  tests/ast/data/windows.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3030 SNOW-1937038: Fix test_hist for the sproc environment
  tests/integ/modin/series/test_hist.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3011 SNOW-1923645: [Local Testing] Add support for NULL_IF when loading csvs
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/mock/_snowflake_to_pandas_converter.py
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: local testing

#3026 Fix sql_expr docstring example
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3013 SNOW-1923639: [Local Testing] Add support for time formats when loading csvs
  CHANGELOG.md
  src/snowflake/snowpark/mock/_snowflake_to_pandas_converter.py
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/resources/testCSVformattedTime.csv
  tests/unit/scala/test_utils_suite.py
  tests/utils.py
Labels: local testing

#3033 NO-SNOW: Disable LOB parameters for iceberg tests.
  tests/integ/scala/test_dataframe_writer_suite.py
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#3029 SNOW-1937038: Revert Series.hist addition to fix SnowparkPandasStoredProcPrecommitTest.
  CHANGELOG.md
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/series/test_hist.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3034 NO-SNOW: Fix tz related test failure
  tests/integ/test_column.py
Labels: NO-CHANGELOG-UPDATES

#3031 SNOW-1937431: Fix describe query counts in test_sql_counter.py
  tests/integ/modin/test_sql_counter.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3042 SNOW-1210188: Add param protection for df.distinct improvement
  CHANGELOG.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/session.py
  tests/integ/test_dataframe.py
Labels: local testing

#3039 SNOW-1934027: Skip cortex tests on python 3.12.
  setup.py
  tests/integ/modin/test_apply_snowflake_cortex_functions.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3024 SNOW-1928214: Add support for list values in Series.str.slice
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#3040 SNOW-1938767: Fix Series.rename_axis AttributeError bug
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/series/test_rename_axis.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3043 SNOW-1939834: Add skip if running on jenkins to cortex summarize df test
  tests/integ/modin/test_apply_snowflake_cortex_functions.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3018 SNOW-1926346: Implement groupby transform without pivot
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_transform.py
  tests/integ/utils/sql_counter.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3032 SNOW-1690711: Add support for applying Cortex functions ClassifyText, Translate, and ExtractAnswer
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_apply_snowflake_cortex_functions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3044 SNOW-1708509: Add support for artifact_repository to udxf
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/conftest.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#3061 SNOW-1821290: Fix AST tests for recently added fns
  tests/ast/data/functions2.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#3055 SNOW-1923778: [Local Testing] Add support for literal values to range_between
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_window_frame_suite.py
Labels: local testing

#3058 SNOW-1906574: Add SelectFromFileNode for read file operations
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan_node.py
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan_builder.py
  tests/integ/test_cte.py
Labels: local testing

#3065 SNOW-1946738: Update expectations for reduce describe query enabled
  tests/integ/compiler/test_query_generator.py
  tests/integ/test_cte.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_query_history.py
Labels: NO-CHANGELOG-UPDATES

#3070 NO-SNOW: Fix flakiness giving RuntimeError
  tests/integ/test_multithreading.py
Labels: NO-CHANGELOG-UPDATES

#3066 SNOW-1918329: Remove specialized Expr subtraits
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3081 Skip `ai_filter` doctest on gcp
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3067 Skip running artifact repo related tests on python 3.8
  tests/integ/test_stored_procedure.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3078 SNOW-1945107: Bug Fix: pd.get_dummies should ignore NULL values by default
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
  tests/integ/modin/strings/test_get_dummies_series.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3082 SNOW-1916236 Reenabled disabled AST tests after fixing them
  src/snowflake/snowpark/mock/_nop_plan.py
  tests/ast/data/DataFrame.join_table_function.test
  tests/ast/data/DataFrame.join_table_function.test.DISABLED
  tests/ast/data/Dataframe.to_snowpark_pandas.test
  tests/ast/data/Session.create_dataframe_from_pandas.test
  tests/ast/data/Session.create_dataframe_from_pandas.test.DISABLED
  tests/ast/data/functions.table_functions.test
  tests/ast/data/functions.table_functions.test.DISABLED
Labels: NO-CHANGELOG-UPDATES, local testing

#3085 SNOW-1950580: Fix bug in snowpark concat ws ignore nulls
  src/snowflake/snowpark/functions.py
  tests/integ/test_function.py
Labels: NO-CHANGELOG-UPDATES

#3076 SNOW-1941023: Remove optionality for collections
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/dataframe_writer.py
  src/snowflake/snowpark/table.py
  src/snowflake/snowpark/types.py
  tests/ast/data/DataFrame.count2.test
  tests/ast/data/DataFrame.stat.test
  tests/ast/data/DataFrame.write.test
  tests/ast/data/Dataframe.drop_duplicates_snow1874622.test
  tests/ast/data/Dataframe.to_snowpark_pandas.test
  tests/ast/data/DataframeNaFunctions.test
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/Session.call.test
  tests/ast/data/Session.create_dataframe.test
  tests/ast/data/Session.create_dataframe_from_pandas.test
  tests/ast/data/Session.table_function.test
  tests/ast/data/Table.merge.test
  tests/ast/data/col_cast.test
  tests/ast/data/col_cast_coll.test
  tests/ast/data/col_try_cast.test
  tests/ast/data/col_udf.test
  tests/ast/data/session.read.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3096 SNOW-1945131: Bug Fix: Duplicate column error in get_dummies
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3099 SNOW-1954801: Bug Fix: Passing list of columns in get_dummies generates incorrect column labels
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3092 Avoid `alter session` in stored proc test
  tests/integ/scala/test_dataframe_writer_suite.py
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES
