Repository snowflakedb/snowpark-python, pull requests merged in 2025-06, with the labels that each got.

#3401 SNOW-2127246: Add telemetry to save table name in `DataFrameWriter.save_as_table`
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3417 No-SNOW: fix dbapi daily job on macos python 3.9
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES

#3427 NO-SNOW: Fix Snowfort failures
  tests/integ/scala/test_async_job_suite.py
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#3425 NO-SNOW: Disable multiline queries for Snowpark pandas doctests
  src/snowflake/snowpark/modin/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3424 NO SNOW: fix lint in SNOW-2019483 fix and skip dynamic table test in snowfort
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3405 SNOW-2111933: Add local testing for sproc put and get
  tests/mock/conftest.py
  tests/mock/test_stage_registry.py
Labels: local testing

#3433 SNOW-2116667: [Local Testing] Fix indexing issue in concat_ws
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/mock/test_functions.py
Labels: local testing

#3435 NO-SNOW: Skip test in unsupported env
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#3440 SNOW-2137445: Add test that pulls max sized lob
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#3394 SNOW-1922984: Support modin 0.33.x
  .github/workflows/daily_modin_precommit_py39_py310.yml
  CHANGELOG.md
  docs/source/conf.py
  docs/source/modin/dataframe.rst
  docs/source/modin/groupby.rst
  docs/source/modin/series.rst
  setup.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_groupby_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/general_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/resampler_groupby_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_groupby_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/utils.py
  tests/integ/modin/conftest.py
  tests/integ/modin/extensions/test_dataframe_extensions.py
  tests/integ/modin/extensions/test_series_extensions.py
  tests/integ/modin/frame/test_isna.py
  tests/integ/modin/groupby/test_quantile.py
  tests/integ/modin/hybrid/conftest.py
  tests/integ/modin/hybrid/test_df_creation_backend.py
  tests/integ/modin/hybrid/test_extensions.py
  tests/integ/modin/hybrid/test_switch_operations.py
  tests/integ/modin/series/test_isna.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/tools/test_to_numeric.py
  tests/unit/modin/conftest.py
  tests/unit/modin/extensions/test_pd_extensions.py
  tests/unit/modin/modin/test_envvars.py
  tests/unit/modin/test_class.py
  tests/unit/modin/test_groupby_utils.py
  tests/unit/modin/test_unsupported.py
  tox.ini
Labels: snowpark-pandas

#3386 SNOW-1285387: add local testing and support for snowurl get/put
  CHANGELOG.md
  src/snowflake/snowpark/mock/_stage_registry.py
  tests/mock/test_file_operations.py
Labels: local testing

#3438 SNOW-2110972: Allow user override for AST collection
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#3445 NO-SNOW: Skip test lob test in sproc
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#3447 NO-SNOW: Skip failing tests in stored procs
  tests/integ/test_stored_procedure.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3448 NO-SNOW: Fix sql simplifier disabled tests
  src/snowflake/snowpark/dataframe.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_table_function.py
  tests/integ/test_telemetry.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3339 SNOW-2084165 Add dataframe operation lineage on SnowparkSQLException
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/debug_utils.py
  src/snowflake/snowpark/context.py
  tests/integ/test_df_debug_trace.py
  tests/resources/test_df_debug_dir/dataframe_generator1.py
  tests/resources/test_df_debug_dir/dataframe_generator2.py
  tests/resources/test_df_debug_dir/sample_read_file.txt
  tests/unit/scala/test_utils_suite.py
  tests/unit/test_debug_utils.py
  tox.ini
Labels: snowpark-pandas

#3453 SNOW-2135829: Fix NaN bug in Series.where
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/series/test_where.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3454 Enable some AISQL tests in Azure and GCP
  src/conftest.py
Labels: NO-CHANGELOG-UPDATES

#3455 SNOW-2147180: Fix test_switch_operations.py::test_filtered_data on jenkins and test_df_creation.py::test_read_csv_local on windows
  tests/integ/modin/hybrid/conftest.py
  tests/integ/modin/hybrid/test_df_creation_backend.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3429 SNOW-2062444: Add ttl cache to describe queries
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/schema_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/utils.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/test_reduce_describe_query.py
  tests/unit/test_utils.py
Labels: snowpark-pandas

#3460 SNOW-2149016: Fix test_read_csv_s3 for windows
  tests/integ/modin/io/test_read_csv.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3461 SNOW-2149024: Fix KeyError bug in test_str___getitem___dict and test_str_slice_dict
  tests/integ/modin/series/test_str_accessor.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3462 SNOW-2148589: [Local Testing] Fix window indexing issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_functions.py
Labels: local testing

#3413 SNOW-2104775: Improve error messages for unsupported modin or pandas versions when used in Notebooks
  .github/workflows/daily_modin_precommit_py39_py310.yml
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/unit/modin/test_modin_version.py
  tests/unit/modin/test_modin_version_notebooks.py
  tests/unit/modin/test_pandas_version.py
  tests/unit/modin/test_pandas_version_notebooks.py
  tox.ini
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3416 SNOW-2096130 : Adding sql query line tracking to SnowflakePlan and Selectable
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/context.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_nop_connection.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/conftest.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_snowflake_plan_suite.py
  tests/integ/test_deepcopy.py
  tests/integ/test_multithreading.py
  tests/integ/test_query_line_intervals.py
  tests/integ/test_simplifier_suite.py
  tests/integ/utils/sql_counter.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/conftest.py
  tests/unit/test_analyzer_util_suite.py
  tests/unit/test_dataframe.py
  tests/unit/test_deepcopy.py
  tests/unit/test_query_plan_analysis.py
  tests/unit/test_selectable_queries.py
  tests/unit/test_utils.py
Labels: NO-CHANGELOG-UPDATES, local testing, snowpark-pandas

#3465 SNOW-2135473, SNOW-2149908: Add support for DataFrame/Series.to_excel
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/frame/test_to_excel.py
  tests/integ/modin/series/test_to_excel.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3472 SNOW-2096094: Maintaining list of ast_ids for SnowflakePlan
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/test_df_ast_id_map.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/conftest.py
  tests/unit/test_selectable_queries.py
Labels: NO-CHANGELOG-UPDATES

#3475 SNOW-2157867:add mongodb to test resource
  .github/workflows/parameters/parameters_dbapi.py.gpg
  scripts/parameters.py.gpg
Labels: NO-CHANGELOG-UPDATES

#3486 SNOW-2173700: update connection parameter to migrate from preprod12 to preprod6
  recipe/meta.yaml
  scripts/parameters.py.gpg
Labels: NO-CHANGELOG-UPDATES

#3498 SNOW-2173644, SNOW-2157873: Fix __array_function__ hybrid switching and native Series constructor switching bugs
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/base_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  tests/integ/modin/hybrid/test_df_creation_backend.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
