Repository snowflakedb/snowpark-python, pull requests merged in 2025-09, with the labels that each got.

#3715 SNOW-2304052 - Create a test parameter to optionally enable hybrid tests for the integration module
  CHANGELOG.md
  tests/conftest.py
  tests/integ/modin/conftest.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3729 AST on TimestampTimeZone type casting
  src/snowflake/snowpark/dataframe_reader.py
  tests/ast/data/session.read.test
Labels: NO-CHANGELOG-UPDATES

#3734 NO SNOW: align behavior of session_init_statement in dbapi and jdbc
  src/snowflake/snowpark/dataframe_reader.py
  tests/integ/datasource/test_jdbc.py
Labels: NO-CHANGELOG-UPDATES

#3737 NO-SNOW: Actually skip hybrid tests on Windows
  tests/integ/modin/hybrid/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3717 SNOW-2305345 - Eliminate duplicate casing parameter checks in snowpandas
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/session.py
  tests/integ/modin/test_session.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3749 SNOW-2317419: add capability to mock ai_complete
  CHANGELOG.md
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_functions.py
Labels: local testing

#3743 Snow 2312892 fix snowfort sproc tests time travel
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3741 SNOW-2273496: Enable Cortex Complete function for apply
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_apply_snowflake_cortex_functions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3739 SNOW-2241912: add test coverage of dbapi on stored procedure
  tests/integ/datasource/test_data_source_sp.py
Labels: NO-CHANGELOG-UPDATES

#3790 NO SNOW: fix daily precommit to include localtesting
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES

#3782 SNOW-2331792: Support DataFrame.eval for single-level index.
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/conftest.py
  tests/integ/modin/frame/test_eval.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3767 SNOW-2314365: Added support for conditional expression functions
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/_functions/scalar_functions.py
  tests/mock/test_functions.py
Labels: local testing

#3795 SNOW-800922: Support DataFrame.query for single-level index.
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/utils.py
  tests/integ/modin/frame/test_eval_and_query/__init__.py
  tests/integ/modin/frame/test_eval_and_query/conftest.py
  tests/integ/modin/frame/test_eval_and_query/test_eval.py
  tests/integ/modin/frame/test_eval_and_query/test_query.py
  tests/integ/modin/frame/test_eval_and_query/utils.py
  tests/integ/modin/window/__init__.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3802 NO SNOW: pin databricks-sql-connector version
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#3808 SNOW-2261400: Fix incorrect join condition in repeated subquery elimination
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  tests/integ/test_cte.py
  tests/unit/test_cte.py
Labels: NO-CHANGELOG-UPDATES

#3745 SNOW-2241408: finer grade telemetry for dbapi
  src/snowflake/snowpark/_internal/data_source/utils.py
  tests/integ/test_data_source_api.py
Labels: NO-CHANGELOG-UPDATES

#3818 SNOW-2363878: Update modin dependency to >=0.36.0,<0.38.0; support pre-op switching for joins
  CHANGELOG.md
  CONTRIBUTING.md
  recipe/meta.yaml
  setup.py
  src/snowflake/snowpark/modin/plugin/__init__.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_eval_and_query/test_eval.py
  tests/integ/modin/frame/test_eval_and_query/test_query.py
  tests/integ/modin/test_modin_stored_procedures.py
  tox.ini
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
