Repository snowflakedb/snowpark-python, pull requests merged in 2025-01, with the labels that each got.

#2813 SNOW-1869362: Plan plotter improvements
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2815 SNOW-1869388 add memoization to to_selectable
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  tests/integ/test_large_query_breakdown.py
  tests/unit/compiler/test_replace_child_and_update_node.py
Labels: NO-CHANGELOG-UPDATES

#2816 SNOW-1865904 fix query gen when nested cte node is partitioned
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/query_generator.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2727 SNOW-1829870: Allow structured types to be enabled by default
  src/snowflake/snowpark/_internal/analyzer/datatype_mapper.py
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/context.py
  src/snowflake/snowpark/types.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_column_names.py
  tests/integ/test_dataframe.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_function.py
  tests/integ/test_stored_procedure.py
  tests/unit/test_datatype_mapper.py
  tests/unit/test_types.py
Labels: NO-CHANGELOG-UPDATES

#2823 Fail local-testing check rather than add nag comment
  .github/workflows/enforce_localtest.yml
Labels: NO-CHANGELOG-UPDATES

#2805 SNOW-1865926: Infer schema for StructType columns from nested Rows
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/session.py
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#2824 SNOW-1869802: Fix local testing pivot returning None
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
Labels: local testing

#2829 SNOW-1739034: Unskip tests requiring pandas 2.2.3 in anaconda.
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/frame/test_cache_result.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/groupby/test_groupby_transform.py
  tests/integ/modin/series/test_apply_and_map.py
  tests/integ/modin/test_session.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/modin/utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2821 SNOW-1852925: Add type inference for Series.apply/map and Dataframe.map
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/series/test_apply_and_map.py
  tests/unit/modin/test_apply_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2839 SNOW-1877144: Use only small values in dummy input for type inference
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2827 SNOW-1847174: Support include_groups=False in groupby.apply.
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_apply.py
Labels: snowpark-pandas

#2838 SNOW-1873566: Allow array type inputs to _concat_ws_ignore_nulls
  src/snowflake/snowpark/functions.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_function.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#2836 SNOW-1873919: Add an option to keep the order in df.with_columns
  CHANGELOG.md
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2843 SNOW-1877354: Add pyproject.toml and tox dev dependency
  pyproject.toml
  setup.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2658 SNOW-1720855: clean up multithreading changes after rollout
  .github/workflows/daily_precommit.yml
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/temp_table_auto_cleaner.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/conftest.py
  tests/integ/conftest.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/test_multithreading.py
  tests/integ/utils/sql_counter.py
  tests/mock/conftest.py
  tests/mock/test_multithreading.py
  tests/unit/conftest.py
  tests/unit/test_dataframe.py
  tests/unit/test_session.py
  tests/utils.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES, local testing, snowpark-pandas

#2831 Disable python 3.8 incompatible doctest
  src/conftest.py
Labels: NO-CHANGELOG-UPDATES

#2804 SNOW-1805840: Augment telemetry with method_call_count
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/test_telemetry.py
  tests/unit/modin/test_telemetry.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2830 SNOW-1874368: Skip snowflake_cortex_sentiment doctest in gcp
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2858 [SNOW-1879403] Fix replace when passing `Column` object to avoid incorrect usage of `lit(...)` from within.
  CHANGELOG.md
  src/snowflake/snowpark/functions.py
  tests/integ/test_dataframe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES

#2855 SNOW-1877318 combine telemetry usages
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/compiler/telemetry_constants.py
  src/snowflake/snowpark/_internal/telemetry.py
  tests/integ/test_large_query_breakdown.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#2852 SNOW-1878542: Enable python 3.12
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  setup.py
  tests/integ/scala/test_async_job_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_packaging.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#2863 SNOW-1882338 Fix AST `to_snowpark_pandas` test in nop testing mode
  src/snowflake/snowpark/mock/_nop_connection.py
  src/snowflake/snowpark/mock/_nop_plan.py
  tests/ast/data/Dataframe.to_snowpark_pandas.test
Labels: NO-CHANGELOG-UPDATES, local testing, snowpark-server

#2833 SNOW-1842841, SNOW-1875014: Add support for DataFrame.pop and Series.pop
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_pop.py
  tests/integ/modin/series/test_pop.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#2792 SNOW-1865910: fixing minor typos
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_udtf.py
  tests/ast/data/functions1.test
Labels: NO-CHANGELOG-UPDATES, local testing

#2793 SNOW-1857250: More fixes to AST generation in `functions.py`
  src/snowflake/snowpark/functions.py
  tests/ast/data/functions1.test
  tests/ast/data/functions2.test
Labels: NO-CHANGELOG-UPDATES

#2853 [SNOW-1871355]: Move import of `COMPATIBLE_WITH_MODIN` for backwards compatibility
  src/snowflake/snowpark/_internal/utils.py
  tests/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2842 SNOW-1864028 Add _show_string_spark to print a dataframe in Spark format
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2872 NO-SNOW: Fix daily_precommit.yml
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2847 [SNOW-1754978]: Add support for first and last in GroupBy.agg
  CHANGELOG.md
  docs/source/modin/supported/agg_supp.rst
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
Labels: snowpark-pandas

#2882 NO-SNOW: Fix daily precommit doctests for python 3.12
  .github/workflows/daily_precommit.yml
Labels: NO-CHANGELOG-UPDATES

#2884 SNOW-1830540 Session.table_function.test
  tests/ast/data/Session.table_function.test
Labels: NO-CHANGELOG-UPDATES

#2873 Simplify the implementation of the ast_enabled feature flag
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/session.py
  tests/ast/conftest.py
  tests/ast/data/Dataframe.drop_duplicates.test
  tests/ast/data/Dataframe.drop_duplicates_snow1874622.test
  tests/ast/test_ast_parameter.py
  tests/integ/conftest.py
  tests/integ/test_udaf.py
  tests/unit/test_dataframe.py
  tests/unit/test_stored_procedure.py
  tests/unit/test_udaf.py
  tests/unit/test_udf.py
  tests/unit/test_udtf.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2878 [NO-SNOW] Improve copy-remote-ast.sh script for fetching unparser from workspace.
  scripts/copy-remote-ast.sh
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#2864 SNOW-1876115: Allow column to cast to StructType.
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/unary_expression.py
  src/snowflake/snowpark/column.py
  tests/integ/scala/test_datatype_suite.py
Labels: local testing

#2894 NO-SNOW Use fat jar in copy-remote ast.
  scripts/copy-remote-ast.sh
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#2885 NO-SNOW: Fix Large Query Breakdown daily precommit
  src/snowflake/snowpark/_internal/compiler/cte_utils.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_cte.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2893 SNOW-1886560: Update parameters_qa.py with new QA6 test account
  scripts/parameters_qa.py.gpg
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#2901 SNOW-1229442: Remove skipped large `df.quantile` test
  tests/integ/modin/frame/test_quantile.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2859 SNOW-1875149:allow user input schema when reading JSON file on stage
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/mock/_plan_builder.py
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: local testing

#2922 NO-SNOW: Fix Flaky APIError in catalog tests
  tests/integ/test_catalog.py
Labels: NO-CHANGELOG-UPDATES

#2895 [SNOW-1894154] Improve snowpark pandas daily precommit test effciency
  .github/workflows/daily_modin_precommit.yml
  .github/workflows/daily_precommit.yml
  tox.ini
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2917 Turn off test_telemetry_func_call_count for github failure
  tests/integ/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2911 SNOW-1891120: Clean-up precommit
  src/snowflake/snowpark/dataframe_reader.py
  tests/integ/conftest.py
  tests/integ/test_catalog.py
  tests/integ/test_df_to_pandas.py
  tests/integ/test_lineage.py
  tests/integ/test_pandas_to_df.py
  tests/unit/test_cte.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#2920 [SNOW-1894051]Turn off time consuming test from github actions
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_cache_result.py
  tests/integ/modin/groupby/test_groupby_apply.py
  tests/integ/modin/series/test_apply_and_map.py
  tests/integ/modin/series/test_items.py
  tests/integ/modin/window/test_rolling.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2921 NO-SNOW: Limit Python 3.12 and local testing suites
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#2927 NO-SNOW: Spread AST tests across CSPs
  .github/workflows/precommit.yml
Labels: NO-CHANGELOG-UPDATES

#2910 NO-SNOW: Fix flaky sql commit test
  tests/integ/scala/test_session_suite.py
Labels: NO-CHANGELOG-UPDATES

#2879 SNOW-1886694 - Track whether snowpark is running in an interactive environment
  CHANGELOG.md
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/_internal/utils.py
  tests/integ/modin/test_telemetry.py
Labels: snowpark-pandas

#2787 SNOW-1852428: Remove error print in try/catch
  src/snowflake/snowpark/_internal/utils.py
  tests/unit/test_internal_utils.py
Labels: NO-CHANGELOG-UPDATES

#2931 NOSNOW | AST/unparser: fixed the script to ensure the output directory exists before scping the JAR
  scripts/copy-remote-ast.sh
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#2913 SNOW-1890997: Support schema string without colon in create_dataframe
  src/snowflake/snowpark/_internal/type_utils.py
  tests/integ/test_dataframe.py
  tests/unit/test_types.py
Labels: NO-CHANGELOG-UPDATES

#2932 Disable couple more slow test suites on github
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/frame/test_cache_result.py
  tests/integ/modin/frame/test_iloc.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#2923 SNOW-1893939: Add support for Index.drop_duplicates
  CHANGELOG.md
  docs/source/modin/indexing.rst
  docs/source/modin/supported/index_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/index.py
  tests/integ/modin/index/test_drop_duplicates.py
  tests/integ/modin/series/test_drop_duplicates.py
  tests/integ/modin/test_unimplemented.py
Labels: snowpark-pandas

#2912 SNOW-1878372: Fix analyzer access across threads
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/mock/_nop_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/test_multithreading.py
  tests/unit/compiler/test_large_query_breakdown.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/test_cte.py
  tests/unit/test_deepcopy.py
  tests/unit/test_query_plan_analysis.py
Labels: local testing

#2940 SNOW-1720855: Re-add param protection for thread-safe updates
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/compiler/plan_compiler.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/temp_table_auto_cleaner.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/session.py
  tests/unit/test_dataframe.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES, local testing

#2941 [SNOW-1896426] Turn off test_args_and_kwargs to mitigate merge gate failure
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/series/test_apply_and_map.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2918 SNOW-1893703: Require SQL counter for local Snowpark pandas integration tests.
  tests/integ/modin/conftest.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2897 SNOW-890686: Remove test_groupby_sort_false_multiindex_series
  tests/integ/modin/groupby/conftest.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
  tests/integ/modin/groupby/test_groupby_ngroups.py
  tests/integ/modin/groupby/test_groupby_series.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2928 SNOW-1888076: built-in function support wave1
  CHANGELOG.md
  docs/source/snowpark/functions.rst
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/ast/data/functions2.test
Labels: local testing

#2945 SNOW-1894152: Fix test_lineage_trace failure
  tests/integ/test_lineage.py
Labels: NO-CHANGELOG-UPDATES

#2934 SNOW-1891120: Use static names for test integrations
  tests/integ/conftest.py
Labels: NO-CHANGELOG-UPDATES

#2915 SNOW-1844466: Support more aggregation functions in pivot methods.
  CHANGELOG.md
  docs/source/modin/supported/agg_supp.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/pivot_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/crosstab/test_crosstab.py
  tests/integ/modin/pivot/test_pivot_table_negative.py
  tests/integ/modin/pivot/test_pivot_table_single.py
  tests/unit/modin/test_aggregation_utils.py
Labels: snowpark-pandas

#2950 SNOW-1897441: Fix missing row position sort in DataFrame.describe
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2935 SNOW-1882296: Add support for DataFrame.create_temp_view
  CHANGELOG.md
  docs/source/snowpark/dataframe.rst
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/mock/_nop_connection.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/compiler/test_query_generator.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/test_deepcopy.py
  tests/mock/test_multithreading.py
  tests/unit/test_dataframe.py
Labels: local testing

#2948 SNOW-1734385: Do not create CTE when partitioning WithQueryBlocks
  src/snowflake/snowpark/_internal/compiler/large_query_breakdown.py
  src/snowflake/snowpark/_internal/compiler/utils.py
  tests/integ/test_large_query_breakdown.py
Labels: NO-CHANGELOG-UPDATES

#2951 SNOW-1805854: Reformat interoperability docs page
  docs/source/modin/interoperability.rst
Labels: NO-CHANGELOG-UPDATES

#2891 SNOW-1890334: Add doctests for expand=True in Series.str.split
  src/snowflake/snowpark/modin/plugin/docstrings/series_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#2956 Fix assert MissingPandas
  tests/integ/test_scoped_temp_objects.py
  tests/unit/test_internal_utils.py
Labels: NO-CHANGELOG-UPDATES

#2963 SNOW-XXXXXX: reenable skipped test after parameter revert
  tests/integ/test_scoped_temp_objects.py
Labels: NO-CHANGELOG-UPDATES
