Repository snowflakedb/snowpark-python, pull requests merged in 2025-04, with the labels that each got.

#3209 SNOW-213702, SNOW-2014127: Add support for DataFrame/Series.create_or_replace_dynamic_table
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
Labels: snowpark-pandas

#3220 Fix FILE type related tests
  src/snowflake/snowpark/functions.py
  tests/integ/scala/test_udf_suite.py
Labels: NO-CHANGELOG-UPDATES

#3208 SNOW-1926348: Re-implement groupby-apply without pivot
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  tests/integ/modin/frame/test_apply_axis_0.py
  tests/integ/modin/groupby/test_all_any.py
  tests/integ/modin/groupby/test_groupby_apply.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3216 SNOW-2020943, SNOW-2020944: Support optional index retaining in DataFrame/Series.create_or_replace_dynamic_table
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3215 SNOW-2020941, SNOW-2020942: Support optional index retaining in DataFrame/Series.create_or_replace_view
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/series/test_create_or_replace_view.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3224 SNOW-2021998: Add tests to verify read_snowflake can read iceberg tables
  tests/integ/modin/io/test_read_snowflake_iceberg.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3214 NOSNOW: Update ast.proto
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/proto/ast.proto
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3203 SNOW-1923632: [Local Testing] Add support for Intervals to range_between
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/test_dataframe.py
Labels: local testing

#3231 SNOW-1980104: Add a correctness test for XML reader
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/resources/fias_house.large.xml
  tests/unit/scala/test_utils_suite.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3232 SNOW-1906584: setup ci/cd and data source
  .github/scripts/decrypt_parameters.sh
  .github/workflows/parameters/parameters_dbapi.py.gpg
Labels: NO-CHANGELOG-UPDATES

#3236 SNOW-2027156: Fix TypeError: create_udtf_for_groupby_apply() missing param after a bad merge
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3226 SNOW-2014274: Add `restricted caller` permission for `execute_as`
  CHANGELOG.md
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_stored_procedure.py
  src/snowflake/snowpark/mock/_util.py
  src/snowflake/snowpark/stored_procedure.py
  tests/integ/test_stored_procedure.py
Labels: local testing

#3237 NO-SNOW: Fix release changelog entries to match 1.30.0 release
  CHANGELOG.md
Labels: NO-PANDAS-CHANGEDOC-UPDATES

#3235 NOSNOW: Refactor functions.py for AST generation
  src/snowflake/snowpark/dataframe_analytics_functions.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/ast/data/functions1.test
  tests/ast/data/functions2.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3243 NO SNOW: add client side check on aritfact
  src/snowflake/snowpark/_internal/udf_utils.py
  tests/integ/test_udf.py
Labels: NO-CHANGELOG-UPDATES

#3240 SNOW-2025063: Fix read_snowflake iceberg table bug when relaxed pandas is not enabled
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/io/test_read_snowflake_iceberg.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3239 SNOW-2022623: Add support for DataFrame/Series.to_dynamic_table
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_dynamic_table.py
Labels: snowpark-pandas

#3238 SNOW-2022593, SNOW-2022613: Add support for DataFrame/Series.to_view
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/series/test_to_view.py
Labels: snowpark-pandas

#3242 SNOW-2020993: [Local Testing] Fix get and getItem indexing bug
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_column.py
  tests/mock/test_functions.py
Labels: local testing

#3228 SNOW-2020872: Fix struct type show string for snowpark connect
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3187 SNOW-1708509: [Local Testing] Fix Column.like bug
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_column.py
Labels: local testing

#3199 SNOW-1923627: [Local Testing] Add row_number test
  tests/mock/test_functions.py
Labels: NO-CHANGELOG-UPDATES, local testing

#3222 SNOW-2019132: Add docstrings for artifact_repository feature
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3241 SNOW-1757430: Implement DataFrame Groupby Resample
  CHANGELOG.md
  docs/source/modin/supported/groupby_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/groupby_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/resampler_groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_resample.py
  tests/unit/modin/test_groupby_unsupported.py
Labels: snowpark-pandas

#3246 SNOW-1336091: Update pandas tests that previously caused fallback to stored procedure
  tests/integ/modin/frame/test_transpose.py
  tests/integ/modin/groupby/test_groupby_idxmax_idxmin.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_quantile.py
  tests/integ/modin/series/test_rename.py
  tests/integ/modin/strings/test_cat.py
  tests/integ/modin/strings/test_extract.py
  tests/integ/modin/strings/test_get_dummies.py
  tests/integ/modin/strings/test_strings.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/modin/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3144 SNOW-1900040: Estimate an upper bound for row counts between operations in OrderedDataFrame
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/row_count_estimation.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/frame/test_describe.py
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/io/test_read_csv.py
  tests/integ/modin/io/test_read_json.py
  tests/integ/modin/io/test_read_parquet.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_iceberg.py
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
  tests/integ/modin/series/test_apply_and_map.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_view.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/series/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_to_view.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_ordered_dataframe.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_to_numpy.py
  tests/integ/modin/test_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3201 SNOW-1997136: Ensure transitive closure in AST Request messages
  src/snowflake/snowpark/_internal/ast/builder.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#3090 SNOW-1936603: fix limit 0 bug with show
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_select_statement.py
  src/snowflake/snowpark/types.py
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/Session.call.test
  tests/ast/data/Session.table_function.test
  tests/ast/data/col_udf.test
  tests/ast/data/df_limit.test
  tests/ast/data/df_map.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_simplifier_suite.py
Labels: local testing

#3258 SNOW-2041110: Disable artifact repository for flakiness
  tests/integ/test_stored_procedure.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3244 SNOW-2022698: Rename relaxed_ordering param into enforce_ordering and update default setting
  CHANGELOG.md
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/frame/test_align.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_astype.py
  tests/integ/modin/frame/test_create_or_replace_dynamic_table.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_iceberg.py
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
  tests/integ/modin/series/test_align.py
  tests/integ/modin/series/test_apply_and_map.py
  tests/integ/modin/series/test_create_or_replace_dynamic_table.py
  tests/integ/modin/series/test_create_or_replace_view.py
  tests/integ/modin/series/test_str_accessor.py
  tests/integ/modin/series/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_to_view.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
  tests/integ/modin/test_concat.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/modin/test_dtype_mapping.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_ordered_dataframe.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/test_to_numpy.py
  tests/integ/modin/test_utils.py
  tests/integ/modin/tools/test_to_numeric.py
  tests/integ/modin/utils.py
  tests/integ/test_df_to_snowpark_pandas.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3263 SNOW-2033125: remove profiler prpr tag as it is going to GA
  docs/source/snowpark/index.rst
  docs/source/snowpark/stored_procedure_profiler.rst
  src/snowflake/snowpark/__init__.py
  src/snowflake/snowpark/session.py
Labels: NO-CHANGELOG-UPDATES

#3265 SNOW-2041753, SNOW-2041754, SNOW-2041755: Add support for reading from stage for pd.read_html/read_xml/read_sas
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_html.py
  tests/integ/modin/io/test_read_sas.py
  tests/integ/modin/io/test_read_xml.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3273 Skip XML read test in stored proc
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#3274 SNOW-2044844: Fix preprod/qa6 iceberg failure
  tests/integ/modin/io/test_read_snowflake_iceberg.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#3253 NO SNOW: fix regression tests
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/test_column.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3275 SNOW-2044891: Improve documentation for string functions operating on string and non-string columns
  docs/source/modin/supported/series_str_supported.rst
Labels: NO-CHANGELOG-UPDATES

#3276 SNOW-2029020, SNOW-2029022: Add support for DataFrame/Series.to_iceberg
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_to_iceberg.py
  tests/integ/modin/series/test_to_iceberg.py
Labels: snowpark-pandas

#3283 SNOW-2040872: Fix describe_count issue in jenkins
  tests/integ/modin/test_sql_counter.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#3248 SNOW-2014299: Query XML dataframe with dot notation
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/test_function.py
  tests/resources/nested.xml
  tests/unit/scala/test_utils_suite.py
  tests/unit/test_internal_utils.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3256 SNOW-2034834: [Local Testing] Add support for array_construct function
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_function_suite.py
  tests/integ/scala/test_udf_suite.py
  tests/mock/test_functions.py
Labels: local testing

#3266 SNOW-2042420: [Local Testing] Merge into empty table fix.
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_update_delete_merge_suite.py
Labels: local testing

#3286 SNOW-1708651: Keep original exception for invalid identifier message
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  tests/integ/scala/test_snowflake_plan_suite.py
Labels: NO-CHANGELOG-UPDATES

#3269 SNOW-1997136: Ensure transitive closure of AST Requests
  .github/workflows/precommit.yml
  src/snowflake/snowpark/_internal/ast/batch.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/dataframe_writer.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/table.py
  tests/ast/data/DataFrame.collect.test
  tests/ast/data/DataFrame.count.test
  tests/ast/data/DataFrame.count2.test
  tests/ast/data/DataFrame.create_or_replace.test
  tests/ast/data/DataFrame.stat.test
  tests/ast/data/DataFrame.to_local_iterator.test
  tests/ast/data/DataFrame.to_pandas.test
  tests/ast/data/DataFrame.to_pandas_batch.test
  tests/ast/data/DataFrame.write.test
  tests/ast/data/Dataframe.getitem.test
  tests/ast/data/Dataframe.show.test
  tests/ast/data/Dataframe.to_snowpark_pandas.test.DISABLED
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/Table.merge.test
  tests/ast/data/Table.update.test
  tests/ast/data/col_udf.test
  tests/ast/data/df_first.test
  tests/ast/data/df_random_split.test
  tests/ast/data/smoke1.test
  tests/ast/data/smoke2.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
  tests/ast/test_ast_batch.py
  tests/ast/test_ast_driver.py
  tests/unit/ast/test_batch.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas, snowpark-server

#3289 SNOW-2046103: Fix no pandas and AST daily test failures
  tests/ast/test_ast_driver.py
  tests/integ/test_df_to_snowpark_pandas.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3284 SNOW-2049277: Fix XML reader when an XML record has nested self-closing tag
  src/snowflake/snowpark/_internal/xml_reader.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/resources/books2.xml
  tests/unit/scala/test_utils_suite.py
  tests/unit/test_xml_reader.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3295 SNOW-2052798: Fix artifact repo test
  scripts/parameters.py.gpg
  tests/integ/conftest.py
  tests/integ/test_data_source_api.py
Labels: NO-CHANGELOG-UPDATES

#3293 SNOW-2036949: Sync artifact repositry ast changes
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/Session.call.test
  tests/ast/data/Session.table_function.test
  tests/ast/data/col_udf.test
  tests/ast/data/df_map.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
Labels: NO-CHANGELOG-UPDATES

#3299 SNOW-2053919: Add Support for dict values in Series.str.get
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#3304 SNOW-2053920: Add Support for dict values in Series.str.slice
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#3254 SNOW-2005276: Fix resource usage mem test
  tests/unit/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3302 SNOW-2025399: update dbapi perf test scripts
  tests/perf/data_source/scripts/dbtest_config.py
  tests/perf/data_source/scripts/e2etest.py
  tests/perf/data_source/scripts/oracle_resource_setup.py
Labels: NO-CHANGELOG-UPDATES

#3307 SNOW-2062234: Fix failure in test_strings.py::test_get_with_dict_label
  tests/integ/modin/strings/test_strings.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3110 NO-SNOW: Add python version constraints to noarch build
  recipe/meta.yaml
Labels: NO-CHANGELOG-UPDATES

#3308 SNOW-2053921: Add support for dict values in Series.str[]
  CHANGELOG.md
  docs/source/modin/supported/series_str_supported.rst
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/series/test_str_accessor.py
Labels: snowpark-pandas

#3311 SNOW-2043855: [Local Testing] Fix rank order bug
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/mock/test_functions.py
Labels: local testing

#3315 SNOW-2070070: Make iceberg_config a required parameter for DataFrame/Series.to_iceberg
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_to_iceberg.py
  tests/integ/modin/series/test_to_iceberg.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
