Repository snowflakedb/snowpark-python, pull requests merged in 2025-07, with the labels that each got.

#3464 [SNOW-2110572]: implement snowflakeFile methods for local paths
  CHANGELOG.md
  src/snowflake/snowpark/files.py
  tests/mock/test_udf_files.py
  tests/unit/test_files.py
Labels: local testing

#3502 NO-SNOW: fix temp table txn
  tests/integ/scala/test_session_suite.py
Labels: NO-CHANGELOG-UPDATES

#3501 SNOW-2177453 - Fix issue with df.melt when there are duplicate internal column names
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/unpivot_utils.py
  tests/integ/modin/frame/test_melt.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3509 SNOW-2171720: Add tqdm and ipywidget to modin dependencies.
  CHANGELOG.md
  setup.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3508 SNOW-217172: Support read_snowflake on pandas backend.
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  tests/integ/modin/hybrid/test_extensions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3488 SNOW-2155630 - Add pd.explain_switch() to help debug hybrid execution
  CHANGELOG.md
  docs/source/modin/general_functions.rst
  docs/source/modin/hybrid_execution.rst
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  tests/integ/modin/hybrid/test_switch_operations.py
Labels: snowpark-pandas

#3524 SNOW-1900052 - Add basic telemetry data to modin telemetry
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/telemetry.py
  tests/integ/modin/test_telemetry.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3520 SNOW-1748111: Add support for pd.read_orc
  CHANGELOG.md
  docs/source/modin/io.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/io.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_orc.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3522 SNOW-1748112: Add support for pd.read_stata
  CHANGELOG.md
  docs/source/modin/io.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/io.py
  src/snowflake/snowpark/modin/plugin/extensions/io_overrides.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_stata.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3505 NOSNOW: Update scripts to retrieve ast and unparser from monorepo
  scripts/copy-ast.sh
  scripts/copy-remote-ast.sh
  src/snowflake/snowpark/_internal/proto/ast.proto
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3518 SNOW-2022630: Add support for pd.to_dynamic_table
  CHANGELOG.md
  docs/source/modin/io.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  tests/integ/modin/io/test_to_dynamic_table.py
Labels: snowpark-pandas

#3516 SNOW-2022617: Add support for pd.to_view
  CHANGELOG.md
  docs/source/modin/io.rst
  docs/source/modin/supported/general_supported.rst
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  tests/integ/modin/io/test_to_view.py
Labels: snowpark-pandas

#3528 NO-SNOW: fix daily tests failure
  tests/integ/scala/test_python_source_error.py
  tests/integ/test_cte.py
  tests/integ/test_dataframe.py
  tests/integ/test_df_debug_trace.py
  tests/integ/test_eager_schema_validation.py
  tests/integ/test_multithreading.py
  tests/integ/test_query_line_intervals.py
  tests/integ/test_reduce_describe_query.py
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#3537 SNOW-2196225: Do not resolve column when it's a string
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3538 SNOW-2196517: Merge io tests into frame and series tests for to_view/to_dynamic_table/to_iceberg
  tests/integ/modin/frame/test_to_dynamic_table.py
  tests/integ/modin/frame/test_to_iceberg.py
  tests/integ/modin/frame/test_to_view.py
  tests/integ/modin/io/test_to_dynamic_table.py
  tests/integ/modin/io/test_to_iceberg.py
  tests/integ/modin/io/test_to_view.py
  tests/integ/modin/series/test_to_dynamic_table.py
  tests/integ/modin/series/test_to_iceberg.py
  tests/integ/modin/series/test_to_view.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3543 NO-SNOW: Fix Join Alias expectation test
  ci/test_fips_docker.sh
  tests/integ/test_cte.py
  tests/integ/test_df_debug_trace.py
  tests/integ/test_telemetry.py
  tests/integ/utils/sql_counter.py
Labels: NO-CHANGELOG-UPDATES

#3546 Using regex for join tests to fix flakiness
  tests/integ/test_query_line_intervals.py
Labels: NO-CHANGELOG-UPDATES

#3532 SNOW-2002725: Add support for DataFrame.boxplot
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/base.py
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/groupby.py
  src/snowflake/snowpark/modin/plugin/docstrings/index.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_boxplot.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3549 NO-SNOW: Fix file cleanup in test_read_json_empty_file
  tests/integ/modin/io/test_read_json.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3550 SNOW-2204849: Add to_view/dynamic_table/iceberg to test_io.py unit test
  tests/unit/modin/test_io.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3554 NOSNOW: Fix _nop_plan to support UnresolvedAttributes
  src/snowflake/snowpark/mock/_nop_plan.py
Labels: NO-CHANGELOG-UPDATES, local testing, NO-PANDAS-CHANGEDOC-UPDATES

#3555 SNOW-2206502: Fix docstest for DataFrame.boxplot
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3556 SNOW-2206502: Fix a type error in the doctest for DataFrame.boxplot
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3559 Improve the usage of `model` function
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3544 SNOW-2002542: support expression in partition by in apply_in_pandas
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3493 SNOW-2171823: Reuse UDFs/UDTFs that share a common signature
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  tests/integ/modin/conftest.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_applymap.py
  tests/integ/modin/series/test_apply_and_map.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3572 SNOW-2217486: Fix some apply-related Jenkins failures
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
  tests/integ/modin/frame/test_apply.py
  tests/integ/modin/frame/test_cache_result.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3547 SNOW-2185699: Support filtering after grouping by and aggregation
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_df_aggregate.py
  tests/unit/test_analyzer_util_suite.py
Labels: NO-CHANGELOG-UPDATES

#3579 SNOW-2221567: Fix pd.read_excel bug when reading files inside stage inner directory
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_excel.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3580 SNOW-2221923: Add example for reading from stage in pd.read_excel docstring
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/docstrings/io.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3531 Adding enriched error message for table already exists
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/debug_utils.py
  tests/integ/test_trace_sql_errors_to_df.py
Labels: NO-CHANGELOG-UPDATES

#3504 Implementing dataframe profiler
  CHANGELOG.md
  src/snowflake/snowpark/_internal/debug_utils.py
  src/snowflake/snowpark/_internal/server_connection.py
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_profiler.py
  src/snowflake/snowpark/mock/_connection.py
  src/snowflake/snowpark/query_history.py
  src/snowflake/snowpark/session.py
  tests/integ/test_dataframe_profiler.py
  tests/integ/test_df_debug_trace.py
  tests/resources/test_debug_utils_dir/dataframe_generator1.py
  tests/resources/test_debug_utils_dir/dataframe_generator2.py
  tests/resources/test_debug_utils_dir/sample_read_file.txt
  tests/resources/test_debug_utils_dir/sample_write_file.txt
  tests/unit/scala/test_utils_suite.py
  tests/unit/test_debug_utils.py
  tests/unit/test_utils.py
Labels: local testing

#3585 SNOW-2205628: Exclude grouping columns in aggregation
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_df_aggregate.py
Labels: NO-CHANGELOG-UPDATES

#3607 Skip ai_complete test
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3604 SNOW-2171718: Do not set AutoSwitchBackend to False if it's True
  CHANGELOG.md
  scripts/run_snowparkpandasnotdoctest.sh
  src/snowflake/snowpark/modin/plugin/__init__.py
  tests/integ/modin/hybrid/auto_switch_backend/conftest.py
  tests/integ/modin/hybrid/auto_switch_backend/test_default_not_changed.py
  tests/integ/modin/hybrid/auto_switch_backend/test_environment_variable_disabled.py
  tests/integ/modin/hybrid/auto_switch_backend/test_environment_variable_enabled.py
  tests/integ/modin/hybrid/auto_switch_backend/test_user_sets_to_true.py
  tox.ini
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
