Repository snowflakedb/snowpark-python, pull requests merged in 2025-03, with the labels that each got.

#2990 SNOW-1901859: add DataFrameReader.dbapi support
  src/snowflake/snowpark/_internal/data_source_utils.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/dataframe_writer.py
  src/snowflake/snowpark/exceptions.py
  tests/integ/test_data_source_api.py
  tests/perf/data_source/README.md
  tests/perf/data_source/dev_requirements.txt
  tests/perf/data_source/scripts/base_db_setup.py
  tests/perf/data_source/scripts/dbtest_config.py
  tests/perf/data_source/scripts/e2etest.py
  tests/perf/data_source/scripts/jdbc_drivers/README.md
  tests/perf/data_source/scripts/oracle_resource_setup.py
  tests/perf/data_source/scripts/sql_server_resource_setup.py
  tests/resources/test_data_source_dir/test_data_source_data.py
  tests/unit/scala/test_utils_suite.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#3073 SNOW-1794509 Add dataframe-processor pkg version and location options to pytest
  tests/conftest.py
  tests/integ/conftest.py
Labels: NO-CHANGELOG-UPDATES

#3087 SNOW-1432556: Improve error message for to_snowflake table already exists
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3091 SNOW-1432556: Improve documentation for if_exists in to_snowflake
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3104 SNOW-1956120: handle none data and improve upload logic
  src/snowflake/snowpark/_internal/data_source_utils.py
  src/snowflake/snowpark/dataframe_reader.py
  tests/integ/test_data_source_api.py
  tests/perf/data_source/scripts/e2etest.py
  tests/perf/data_source/scripts/sql_server_resource_setup.py
  tests/resources/test_data_source_dir/test_data_source_data.py
Labels: NO-CHANGELOG-UPDATES

#3118 NO-SNOW: skip time check for parallel as it's not mock test any more
  tests/integ/test_data_source_api.py
Labels: NO-CHANGELOG-UPDATES

#3113 SNOW-1960273: Set statement parameters for UDxF creation job from apply
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3116 Add a couple of AST tests with a more realistic schema
  tests/ast/conftest.py
  tests/ast/data/smoke1.test
  tests/ast/data/smoke2.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3108 SNOW-1952334: get_dummies should return bool columns instead of int
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/get_dummies_utils.py
  src/snowflake/snowpark/modin/plugin/docstrings/general.py
  tests/integ/modin/strings/test_get_dummies_dataframe.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3122 NO-SNOW: do not use packaging as it's not a dependency in stored proc
  src/snowflake/snowpark/_internal/data_source_utils.py
  src/snowflake/snowpark/_internal/utils.py
  tests/unit/test_utils.py
Labels: NO-CHANGELOG-UPDATES

#3117 SNOW-1933233: Enable tests for python3.12
  .github/workflows/daily_precommit.yml
  .github/workflows/precommit.yml
  src/snowflake/snowpark/session.py
  tests/integ/test_packaging.py
  tests/resources/test_requirements.txt
Labels: NO-CHANGELOG-UPDATES

#3129 SNOW-1926348: [Refactor only] De duplicate code between udtf functions
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3131 SNOW-1926348: Fix failing tests in daily regress runner
  src/snowflake/snowpark/modin/plugin/_internal/apply_utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3135 SNOW-1758760: Unpin modin/pandas versions in sproc tests
  tests/integ/modin/test_modin_stored_procedures.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3134 SNOW-1961756: Enable AST capture from Session.read.dbapi
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/dataframe_writer.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3137 SNOW-1904626: Refactor telemetry tests for name and subcalls
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3138 SNOW-1904626 fix df api calls
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3145 Fix file type test
  src/snowflake/snowpark/functions.py
  tests/integ/scala/test_udf_suite.py
Labels: NO-CHANGELOG-UPDATES

#3120 SNOW-1962175: Support relaxed pandas in pd.read_snowflake for non-query data sources
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
  tests/integ/modin/test_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3132 SNOW-1918334: Various fixes to capture user code more accurately
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/modin/plugin/_internal/session.py
  tests/ast/data/DataFrame.count2.test
  tests/ast/data/DataFrame.create_or_replace.test
  tests/ast/data/DataFrame.flatten.test
  tests/ast/data/DataFrame.stat.test
  tests/ast/data/DataFrame.to_local_iterator.test
  tests/ast/data/DataframeNaFunctions.test
  tests/ast/data/Session.create_dataframe_from_pandas.test
  tests/ast/data/Session.flatten.test
  tests/ast/data/col_within_group.test
  tests/ast/data/functions1.test
  tests/ast/data/functions2.test
  tests/ast/data/session.read.test
  tests/ast/data/session_generator.test
  tests/ast/data/session_write_pandas.test
  tests/ast/data/shadowed_local_name.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas, snowpark-server, snowpark-ast

#3103 SNOW-1904626: Add Resource usage to api telemetry
  setup.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/unit/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3151 SNOW-1921713 Encode large integers in AST
  src/snowflake/snowpark/_internal/ast/utils.py
  tests/ast/data/Session.create_dataframe.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3102 SNOW-856100: pd.Grouper support
  CHANGELOG.md
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/_internal/cumulative_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/groupby_utils.py
  src/snowflake/snowpark/modin/plugin/_internal/resample_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/groupby_overrides.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
  tests/integ/modin/groupby/test_groupby_get_group.py
  tests/integ/modin/groupby/test_groupby_series.py
  tests/integ/modin/groupby/test_groupby_size.py
  tests/integ/modin/groupby/test_groupby_with_grouper.py
  tests/unit/modin/test_groupby_utils.py
Labels: snowpark-pandas

#3156 NOSNOW Updated monorepo unparser location
  scripts/copy-ast.sh
  scripts/copy-remote-ast.sh
  tests/ast/README.md
  tests/ast/conftest.py
Labels: NO-CHANGELOG-UPDATES

#3049 SNOW-1815907: Improve performance of df.stat.sample_by
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/analyzer/unary_plan_node.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/mock/_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/test_telemetry.py
Labels: local testing

#3157 SNOW-1933189:change structure to easy adopt new dbms
  setup.py
  src/snowflake/snowpark/_internal/data_source/__init__.py
  src/snowflake/snowpark/_internal/data_source/datasource_partitioner.py
  src/snowflake/snowpark/_internal/data_source/datasource_reader.py
  src/snowflake/snowpark/_internal/data_source/datasource_typing.py
  src/snowflake/snowpark/_internal/data_source/dbms_dialects/__init__.py
  src/snowflake/snowpark/_internal/data_source/dbms_dialects/base_dialect.py
  src/snowflake/snowpark/_internal/data_source/dbms_dialects/oracledb_dialect.py
  src/snowflake/snowpark/_internal/data_source/dbms_dialects/sqlite3_dialect.py
  src/snowflake/snowpark/_internal/data_source/dbms_dialects/sqlserver_dialect.py
  src/snowflake/snowpark/_internal/data_source/drivers/__init__.py
  src/snowflake/snowpark/_internal/data_source/drivers/base_driver.py
  src/snowflake/snowpark/_internal/data_source/drivers/oracledb_driver.py
  src/snowflake/snowpark/_internal/data_source/drivers/pyodbc_driver.py
  src/snowflake/snowpark/_internal/data_source/drivers/sqlite_driver.py
  src/snowflake/snowpark/_internal/data_source/utils.py
  src/snowflake/snowpark/_internal/data_source_utils.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/dataframe_writer.py
  tests/integ/test_data_source_api.py
  tests/resources/test_data_source_dir/test_data_source_data.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#3158 SNOW-1892390: Move pandas version tests to jenkins
  .github/workflows/daily_modin_precommit_py39_py310.yml
  scripts/jenkins_regress_snowpandas.sh
Labels: NO-CHANGELOG-UPDATES

#3169 SNOW-1938099: Fix tests broken by default lob size change
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_result_attributes_suite.py
  tests/integ/scala/test_result_schema_suite.py
  tests/integ/test_dataframe.py
  tests/integ/test_packaging.py
  tests/integ/test_pandas_to_df.py
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3164 SNOW-1962180: Support relaxed pandas in pd.read_snowflake for query data sources
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/extensions/pd_extensions.py
  tests/integ/modin/io/test_read_snowflake_query_call.py
  tests/integ/modin/io/test_read_snowflake_query_cte.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/io/test_read_snowflake_select_query.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3143 SNOW-1432531: Improve handling of missing index_label in DataFrame/Series.to_snowflake when index=True
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_to_snowflake.py
  tests/integ/modin/frame/test_to_snowpark.py
  tests/integ/modin/series/test_to_snowflake.py
  tests/integ/modin/series/test_to_snowpark.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3160 SNOW-1959569: Fix test_datatype_suite.py::test_structured_dtypes_select
  tests/integ/scala/test_datatype_suite.py
Labels: NO-CHANGELOG-UPDATES

#3170 SNOW-1916224: Ensure that all APIs have AST support
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_na_functions.py
  src/snowflake/snowpark/dataframe_writer.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/table.py
  src/snowflake/snowpark/table_function.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  src/snowflake/snowpark/window.py
  tests/ast/conftest.py
  tests/ast/data/DataframeNaFunctions.test
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/col_udf.test
  tests/ast/data/df_map.test
  tests/ast/data/df_random_split.test
  tests/ast/data/functions.table_functions.test
  tests/ast/data/functions1.test
  tests/ast/data/functions2.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
  tests/ast/test_ast_driver.py
  tests/unit/test_session.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3167 SNOW-1984396: [Local Testing] Fix bug in Dataframe.except_
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/integ/scala/test_dataframe_set_operations_suite.py
Labels: local testing

#3176 SNOW-1988858: Use docstrings folder for TimedeltaIndex methods and properties
  src/snowflake/snowpark/modin/plugin/docstrings/__init__.py
  src/snowflake/snowpark/modin/plugin/docstrings/timedelta_index.py
  src/snowflake/snowpark/modin/plugin/extensions/timedelta_index.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3162 Add a functionality in apply_in_pandas to support spark api
  src/snowflake/snowpark/context.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3171 Fix allowing multiple aggregates in Pivot fix
  src/snowflake/snowpark/_internal/analyzer/analyzer.py
  src/snowflake/snowpark/_internal/analyzer/analyzer_utils.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/error_message.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
Labels: NO-CHANGELOG-UPDATES

#3181 SNOW-1995618 Store ref to temp table created in cache_result in AST
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/dataframe.py
  tests/ast/data/DataFrame.create_or_replace.test
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES

#3177 SNOW-1989053: [Local Testing] Fix to_timestamp when called on filtered data
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_function_suite.py
Labels: local testing

#3190 SNOW-1974954: Support relaxed pandas in to_snowpark_pandas
  CHANGELOG.md
  src/snowflake/snowpark/dataframe.py
  tests/integ/modin/test_df_to_snowpark_pandas.py
  tests/integ/test_df_to_snowpark_pandas.py
Labels: snowpark-pandas

#3133 SNOW-1918055: Update agg error for unsupported aggregation functions
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/aggregation_utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/frame/test_aggregate.py
  tests/integ/modin/groupby/test_groupby_basic_agg.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
  tests/integ/modin/groupby/test_groupby_named_agg.py
  tests/integ/modin/groupby/test_quantile.py
  tests/unit/modin/test_aggregation_utils.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3191 SNOW-2004982: Fix test_read_snowflake_call_sproc_relaxed_ordering_neg when sql simplifier is disabled
  tests/integ/modin/io/test_read_snowflake_query_call.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3192 SNOW-2004895: snowpark python 1.30.0 release preparation
  src/snowflake/snowpark/functions.py
  tests/unit/test_telemetry.py
Labels: NO-CHANGELOG-UPDATES

#3173 SNOW-1923653: Add AST generation acknowledgement to PR template and GitHub action to validate it
  .github/pull_request_template.md
  .github/workflows/ast-check.yml
  CONTRIBUTING.md
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server

#3146 SNOW-1976643: Allow creating multi-session in sprocs if enabled
  src/snowflake/snowpark/session.py
  tests/integ/test_session.py
Labels: NO-CHANGELOG-UPDATES

#3197 SNOW-2008917: Fix binary type output in show_string_spark
  src/snowflake/snowpark/dataframe.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3198 SNOW-2005198, SNOW-2014106: Add support for DataFrame/Series.create_or_replace_view
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
  tests/integ/modin/frame/test_create_or_replace_view.py
  tests/integ/modin/series/test_create_or_replace_view.py
Labels: snowpark-pandas

#3180 SNOW-1882075,SNOW-1990301,SNOW-1990302,SNOW-1821290: AST finalizations for stateless batches, and DataframeWriter,DataframeReader new APIs
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/column.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/dataframe_reader.py
  src/snowflake/snowpark/dataframe_stat_functions.py
  src/snowflake/snowpark/dataframe_writer.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/mock/_pandas_util.py
  src/snowflake/snowpark/relational_grouped_dataframe.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/table.py
  src/snowflake/snowpark/table_function.py
  tests/ast/data/DataFrame.collect.test
  tests/ast/data/DataFrame.count.test
  tests/ast/data/DataFrame.count2.test
  tests/ast/data/DataFrame.pivot.test
  tests/ast/data/DataFrame.stat.test
  tests/ast/data/DataFrame.to_local_iterator.test
  tests/ast/data/DataFrame.to_pandas.test
  tests/ast/data/DataFrame.to_pandas_batch.test
  tests/ast/data/DataFrame.write.test
  tests/ast/data/Dataframe.getitem.test
  tests/ast/data/Dataframe.join.asof.test
  tests/ast/data/Dataframe.join.prefix.test
  tests/ast/data/Dataframe.show.test
  tests/ast/data/RelationalGroupedDataFrame.test
  tests/ast/data/Table.delete.test
  tests/ast/data/Table.drop_table.test
  tests/ast/data/Table.merge.test
  tests/ast/data/Table.update.test
  tests/ast/data/col_udf.test
  tests/ast/data/df_random_split.test
  tests/ast/data/session.read.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
Labels: NO-CHANGELOG-UPDATES, local testing, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-server, snowpark-ast

#3188 SNOW-1979918 snowpark python client ast mode and min ast version
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/session.py
  tests/ast/test_ast_mode.py
  tests/ast/test_ast_parameter.py
Labels: NO-CHANGELOG-UPDATES

#3210 SNOW-2014497: Fix credit usage tracking for InternalFrame.has_unique_index()
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3211 SNOW-2016764: Fix credit usage tracking for cout_rows()
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3212 SNOW-2107878: Fix credit usage tracking for DataFrame/Series.to_csv
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas
