Repository snowflakedb/snowpark-python, pull requests merged in 2025-05, with the labels that each got.

#3318 SNOW-2082322: Move misplaced changelog entry
  CHANGELOG.md
Labels: NO-PANDAS-CHANGEDOC-UPDATES

#3321 Fix ai_classify test
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3314 SNOW-2069256: add test resource for mysql
  .github/workflows/parameters/parameters_dbapi.py.gpg
  scripts/parameters.py.gpg
Labels: NO-CHANGELOG-UPDATES

#3320 SNOW-2083780: Temporarily disable structured type tests.
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3324 SNOW-2060159: Change warning message of XML reader
  src/snowflake/snowpark/dataframe_reader.py
Labels: NO-CHANGELOG-UPDATES

#3319 SNOW-2002714: Add support for DataFrame.to_html
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/supported/dataframe_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  tests/integ/modin/frame/test_to_html.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3338 SNOW-2094085: Limit supported range for snowpak-ml-python in modin dependency
  setup.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3161 SNOW-1904626: Fix resource usage for df.distinct[group_by]
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3316 SNOW-807303 Use SELECT * EXCLUDE for DataFrame.drop()
  CHANGELOG.md
  src/snowflake/snowpark/_internal/analyzer/metadata_utils.py
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/telemetry.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/mock/_nop_analyzer.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  tests/integ/test_simplifier_suite.py
  tests/integ/test_telemetry.py
Labels: local testing

#3303 SNOW-1923698:Remove mock data of oracledb
  setup.py
  tests/integ/datasource/test_oracledb.py
  tests/integ/test_data_source_api.py
  tests/resources/test_data_source_dir/test_data_source_data.py
  tox.ini
Labels: NO-CHANGELOG-UPDATES

#3344 SNOW-2083780: Re-enable structured type tests.
  tests/utils.py
Labels: NO-CHANGELOG-UPDATES

#3349 CI: Fix Python version runtime sproc test
  tests/integ/modin/io/test_read_snowflake_query_call.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3342 SNOW-2090928: [Local Testing] Fix indexing issue in to_timestamp
  CHANGELOG.md
  src/snowflake/snowpark/mock/_functions.py
  tests/integ/scala/test_function_suite.py
Labels: local testing

#3328 Skip localfs stored proc test for FILE type
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_udf_suite.py
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#2971 SNOW-1887104: Update OBJECT semantics
  src/snowflake/snowpark/_internal/type_utils.py
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/types.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/integ/scala/test_datatype_suite.py
  tests/integ/scala/test_udf_suite.py
  tests/integ/test_dataframe.py
  tests/unit/test_udf_utils.py
Labels: NO-CHANGELOG-UPDATES

#3340 SNOW-1620315, SNOW-1748326: Add support for DataFrame/Series.to_string
  CHANGELOG.md
  docs/source/modin/dataframe.rst
  docs/source/modin/series.rst
  docs/source/modin/supported/dataframe_supported.rst
  docs/source/modin/supported/series_supported.rst
  src/snowflake/snowpark/modin/plugin/docstrings/dataframe.py
  src/snowflake/snowpark/modin/plugin/docstrings/series.py
  src/snowflake/snowpark/modin/plugin/extensions/base_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_overrides.py
  src/snowflake/snowpark/modin/plugin/extensions/series_overrides.py
  tests/integ/modin/frame/test_to_string.py
  tests/integ/modin/series/test_to_string.py
  tests/unit/modin/test_unsupported.py
Labels: snowpark-pandas

#3345 SNOW-2044853: Fix XML reader test in stored proc
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#3355 SNOW-2086682: Add telemetry for XML reader with row tag
  src/snowflake/snowpark/_internal/utils.py
  src/snowflake/snowpark/dataframe_reader.py
Labels: NO-CHANGELOG-UPDATES

#3353 SNOW-2099398: fix test error caused by lob issue
  tests/integ/test_dataframe.py
Labels: NO-CHANGELOG-UPDATES

#3357 SNOW-2090084: Add support for reading files from S3 buckets using pd.read_csv
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/io/snow_io.py
  tests/integ/modin/io/test_read_csv.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3354 SNOW-2098847: Do not use "scoped temporary" stage for XML reader in stored procedure
  src/snowflake/snowpark/dataframe_reader.py
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#3360 SNOW-2103487, SNOW-213488: Make index=False by default for DataFrame/Series.to_view/to_dynamic_table
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/extensions/dataframe_extensions.py
  src/snowflake/snowpark/modin/plugin/extensions/series_extensions.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3361 SNOW-2084165: Update str(ex_info) to str(ex_info.value) for better string checks
  tests/integ/modin/test_session_write_pandas.py
  tests/integ/scala/test_column_suite.py
  tests/integ/scala/test_dataframe_aggregate_suite.py
  tests/integ/scala/test_dataframe_copy_into.py
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/scala/test_dataframe_suite.py
  tests/integ/scala/test_file_operation_suite.py
  tests/integ/scala/test_permanent_udf_suite.py
  tests/integ/scala/test_window_frame_suite.py
  tests/integ/scala/test_window_spec_suite.py
  tests/integ/test_column.py
  tests/integ/test_dataframe.py
  tests/integ/test_df_analytics.py
  tests/integ/test_function.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES, snowpark-pandas

#3363 Move XML reader tests to a separate file
  tests/integ/scala/test_dataframe_reader_suite.py
  tests/integ/test_xml_reader_row_tag.py
Labels: NO-CHANGELOG-UPDATES

#3371 SNOW-2096114: Fix XML error message when sql simplifier is disabled
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
Labels: NO-CHANGELOG-UPDATES

#3366 SNOW-2062273: Remove artifact_repository_packages parameter
  src/snowflake/snowpark/_internal/ast/utils.py
  src/snowflake/snowpark/_internal/proto/ast.proto
  src/snowflake/snowpark/_internal/udf_utils.py
  src/snowflake/snowpark/functions.py
  src/snowflake/snowpark/session.py
  src/snowflake/snowpark/stored_procedure.py
  src/snowflake/snowpark/udaf.py
  src/snowflake/snowpark/udf.py
  src/snowflake/snowpark/udtf.py
  tests/ast/data/col_udf.test
  tests/ast/data/sproc.test
  tests/ast/data/udaf.test
  tests/ast/data/udtf.test
  tests/integ/test_packaging.py
  tests/integ/test_stored_procedure.py
  tests/integ/test_udaf.py
  tests/integ/test_udf.py
  tests/integ/test_udtf.py
Labels: NO-CHANGELOG-UPDATES

#3372 TEST: Change all sproc to use Python 3.9 runtime
  tests/integ/modin/io/test_read_snowflake_query_cte.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3376 SNOW-1661619: [Local Testing] Fix isin filter issue
  CHANGELOG.md
  src/snowflake/snowpark/mock/_plan.py
  tests/mock/test_column.py
Labels: local testing

#3375 SNOW-2084165: add debug info to error message
  src/snowflake/snowpark/_internal/error_message.py
  src/snowflake/snowpark/exceptions.py
  tests/unit/scala/test_error_message.py
  tests/unit/test_error_message.py
Labels: NO-CHANGELOG-UPDATES

#3374 SNOW-2096094: Add associated df ast id to SnowflakePlan and Selectable
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/error_message.py
  src/snowflake/snowpark/dataframe.py
  src/snowflake/snowpark/exceptions.py
  src/snowflake/snowpark/mock/_plan.py
  src/snowflake/snowpark/mock/_select_statement.py
  tests/integ/test_df_ast_id_map.py
  tests/unit/compiler/test_replace_child_and_update_node.py
  tests/unit/conftest.py
  tests/unit/scala/test_error_message.py
  tests/unit/test_error_message.py
  tests/unit/test_query_plan_analysis.py
Labels: NO-CHANGELOG-UPDATES, local testing

#3358 SNOW-2105991: Use pre-computed row counts more aggressively
  CHANGELOG.md
  src/snowflake/snowpark/modin/plugin/_internal/frame.py
  src/snowflake/snowpark/modin/plugin/_internal/ordered_dataframe.py
  src/snowflake/snowpark/modin/plugin/_internal/utils.py
  src/snowflake/snowpark/modin/plugin/compiler/snowflake_query_compiler.py
  tests/integ/modin/crosstab/test_crosstab.py
  tests/integ/modin/frame/test_empty.py
  tests/integ/modin/frame/test_from_dict.py
  tests/integ/modin/frame/test_getitem.py
  tests/integ/modin/frame/test_iloc.py
  tests/integ/modin/frame/test_insert.py
  tests/integ/modin/frame/test_isin.py
  tests/integ/modin/frame/test_iterrows.py
  tests/integ/modin/frame/test_len.py
  tests/integ/modin/frame/test_loc.py
  tests/integ/modin/frame/test_mask.py
  tests/integ/modin/frame/test_merge.py
  tests/integ/modin/frame/test_repr.py
  tests/integ/modin/frame/test_sample.py
  tests/integ/modin/frame/test_setitem.py
  tests/integ/modin/frame/test_shape.py
  tests/integ/modin/frame/test_size.py
  tests/integ/modin/frame/test_squeeze.py
  tests/integ/modin/frame/test_to_html.py
  tests/integ/modin/frame/test_to_string.py
  tests/integ/modin/frame/test_value_counts.py
  tests/integ/modin/frame/test_where.py
  tests/integ/modin/groupby/test_groupby_bfill_ffill.py
  tests/integ/modin/groupby/test_groupby_default2pandas.py
  tests/integ/modin/groupby/test_groupby_fillna.py
  tests/integ/modin/groupby/test_groupby_negative.py
  tests/integ/modin/groupby/test_quantile.py
  tests/integ/modin/groupby/test_value_counts.py
  tests/integ/modin/index/test_index_methods.py
  tests/integ/modin/interoperability/plotly/test_plotly.py
  tests/integ/modin/interoperability/scikit-learn/test_scikit_learn.py
  tests/integ/modin/io/test_read_snowflake.py
  tests/integ/modin/io/test_read_snowflake_query_order_by.py
  tests/integ/modin/series/test_empty.py
  tests/integ/modin/series/test_isin.py
  tests/integ/modin/series/test_len.py
  tests/integ/modin/series/test_loc.py
  tests/integ/modin/series/test_mask.py
  tests/integ/modin/series/test_ndim.py
  tests/integ/modin/series/test_sample.py
  tests/integ/modin/series/test_shape.py
  tests/integ/modin/series/test_size.py
  tests/integ/modin/series/test_squeeze.py
  tests/integ/modin/series/test_to_string.py
  tests/integ/modin/series/test_where.py
  tests/integ/modin/test_from_pandas_to_pandas.py
  tests/integ/modin/test_numpy.py
  tests/integ/modin/test_qcut.py
  tests/integ/modin/test_sql_counter.py
  tests/integ/modin/test_telemetry.py
  tests/integ/modin/tools/test_to_datetime.py
  tests/integ/modin/tools/test_to_numeric.py
Labels: NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3382 SNOW-2115026: Improve existing identifiers error message
  src/snowflake/snowpark/_internal/analyzer/select_statement.py
  src/snowflake/snowpark/_internal/analyzer/snowflake_plan.py
  src/snowflake/snowpark/_internal/server_connection.py
  tests/integ/scala/test_snowflake_plan_suite.py
Labels: NO-CHANGELOG-UPDATES

#3385 NO-SNOW: Fix test count in `test_str_cat_incorrect_lengths`
  tests/integ/modin/strings/test_cat.py
Labels: NO-CHANGELOG-UPDATES, NO-PANDAS-CHANGEDOC-UPDATES, snowpark-pandas

#3388 Fix `ai_classify` doctest
  src/snowflake/snowpark/functions.py
Labels: NO-CHANGELOG-UPDATES

#3389 Fix dataframe_reader test suite in snowfort
  tests/integ/scala/test_dataframe_reader_suite.py
Labels: NO-CHANGELOG-UPDATES

#3411 SNOW-2128983: skip databricks dbapi test on macos python 3.12
  tests/integ/datasource/test_databricks.py
Labels: NO-CHANGELOG-UPDATES
